Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

fixup! fix(filerun): add search indexer CronJob for Elasticsearch integration
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(bookstack): increase startup probe timeout to 5 seconds
  kubernetes/apps/default/bookstack/helmrelease.yaml
Due: kustomize-build, yaml-validator

refactor(talos): optimize control plane node selection and modernize config
  talos/talconfig.yaml
Due: none

fix(filerun): add search indexer CronJob for Elasticsearch integration
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(cilium): disable Envoy prometheus metrics when Envoy is disabled
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
Due: kustomize-build, yaml-validator

TEMP: disable osd.3 for migration to talos
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(volsync): add pod anti-affinity to distribute backup load across nodes
  kubernetes/components/volsync/replicationsource.yaml
Due: kustomize-build, yaml-validator

fix(cilium): disable Envoy ServiceMonitor when Envoy is disabled
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(monitoring): add vmalert query script and fix-alert slash command
  .claude/commands/fix-alert.md
  scripts/vmalert-query.py
Due: none

fix(monitoring): adjust TooManyLogs alert to ignore transient startup errors
  kubernetes/apps/observability/victoria-metrics-k8s-stack/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmrule.yaml
Due: kustomize-build, yaml-validator

fix(monitoring): disable default TooManyLogs rule in favor of custom VMRule
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(monitoring): remove malformed CephNodeNetworkPacketDrops alert override
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(media): add Kometa deployment for Plex metadata management
  .gitleaksignore
  kubernetes/apps/media/kometa/config/config.yml
  kubernetes/apps/media/kometa/externalsecret.yaml
  kubernetes/apps/media/kometa/helmrelease.yaml
  kubernetes/apps/media/kometa/ks.yaml
  kubernetes/apps/media/kometa/kustomization.yaml
  kubernetes/apps/media/kometa/pvc.yaml
  kubernetes/apps/media/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! feat(media): add Kometa deployment for Plex metadata management
  kubernetes/apps/media/kometa/ks.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! feat(media): add Kometa deployment for Plex metadata management
  kubernetes/apps/media/kometa/config/config.yml
  kubernetes/apps/media/kometa/externalsecret.yaml
Due: kustomize-build, yaml-validator

fixup! feat(media): add Kometa deployment for Plex metadata management
  kubernetes/apps/media/kometa/config/config.yml
Due: kustomize-build, yaml-validator

fix(monitoring): disable CephNodeNetworkPacketDrops alert for Intel NIC false positives
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(media): add Kometa deployment for Plex metadata management
  .gitleaksignore
  kubernetes/apps/media/kometa/config/config.yml
  kubernetes/apps/media/kometa/config/mine/kids-anime.yml
  kubernetes/apps/media/kometa/config/mine/kids-movies.yml
  kubernetes/apps/media/kometa/config/mine/monogatari.yml
  kubernetes/apps/media/kometa/config/mine/movies.yml
  kubernetes/apps/media/kometa/externalsecret.yaml
  kubernetes/apps/media/kometa/helmrelease.yaml
  kubernetes/apps/media/kometa/ks.yaml
  kubernetes/apps/media/kometa/kustomization.yaml
  kubernetes/apps/media/kometa/pvc.yaml
  kubernetes/apps/media/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix(media): increase qbittorrent memory limits to prevent OOM kills
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(media): increase Kometa job history retention for debugging
  kubernetes/apps/media/kometa/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(monitoring): use disabled flag to properly silence CephNodeNetworkPacketDrops alert
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(slash-commands): enhance fix-alert with multi-alert support and git history check
  .claude/commands/fix-alert.md
Due: none

docs: optimize CLAUDE.md memory files for token efficiency
  CLAUDE.md
  schemas/CLAUDE.md
Due: none

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
