Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

fix(plex): configure LAN network restrictions
  kubernetes/apps/media/plex/helmrelease.yaml
Due: kustomize-build, yaml-validator

Add troubleshooting docs for plex connectivity issues
  docs/troubleshooting/plex-timeout-investigation.md
Due: none

Prohibit kubectl port-forward in CLAUDE.md
  CLAUDE.md
Due: none

feat(scripts): add VictoriaLogs query CLI
  CLAUDE.md
  scripts/query-victorialogs.py
Due: none

refactor(observability): standardize Vector log processing
  kubernetes/apps/media/plex/config/vector.yaml
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-single/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-cloudflare-tunnel.vrl
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-default.vrl
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-kometa.vrl
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-qbittorrent.vrl
  kubernetes/apps/observability/victoria-logs-single/vrl/test-samples-cloudflare-tunnel.json
  kubernetes/apps/observability/victoria-logs-single/vrl/test-samples-kometa.json
  kubernetes/apps/observability/victoria-logs-single/vrl/test-samples-qbittorrent.json
  kubernetes/apps/observability/victoria-logs-single/vrl/test-samples.json
  scripts/test-vector-config.py
Due: kustomize-build, yaml-validator

feat(imagemaid): add automated Plex bloat cleanup CronJob
  kubernetes/apps/media/imagemaid/helmrelease.yaml
  kubernetes/apps/media/imagemaid/ks.yaml
  kubernetes/apps/media/imagemaid/kustomization.yaml
  kubernetes/apps/media/imagemaid/pvc.yaml
  kubernetes/apps/media/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! feat(imagemaid): add automated Plex bloat cleanup CronJob
  kubernetes/apps/media/imagemaid/helmrelease.yaml
Due: kustomize-build, yaml-validator

fixup! feat(imagemaid): add automated Plex bloat cleanup CronJob
  kubernetes/apps/media/imagemaid/externalsecret.yaml
  kubernetes/apps/media/imagemaid/helmrelease.yaml
  kubernetes/apps/media/imagemaid/kustomization.yaml
Due: kustomize-build, yaml-validator

feat(imagemaid): add automated Plex bloat cleanup CronJob
  kubernetes/apps/media/imagemaid/externalsecret.yaml
  kubernetes/apps/media/imagemaid/helmrelease.yaml
  kubernetes/apps/media/imagemaid/ks.yaml
  kubernetes/apps/media/imagemaid/kustomization.yaml
  kubernetes/apps/media/imagemaid/pvc.yaml
  kubernetes/apps/media/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

Remove flux-local script from CLAUDE.md
  CLAUDE.md
Due: none

refactor(default): migrate SOPS secrets to Infisical
  kubernetes/apps/default/bookstack/externalsecret.yaml
  kubernetes/apps/default/bookstack/ks.yaml
  kubernetes/apps/default/bookstack/kustomization.yaml
  kubernetes/apps/default/bookstack/secret.sops.yaml
  kubernetes/apps/default/filerun/externalsecret.yaml
  kubernetes/apps/default/filerun/ks.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/filerun/secret.sops.yaml
  kubernetes/apps/default/immich/externalsecret.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/secret.sops.yaml
  kubernetes/apps/default/silverbullet/ks.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(observability): add Flux resource monitoring via kube-state-metrics
  kubernetes/apps/flux-system/flux-instance/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/vmpodscrape.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmrule.yaml
Due: kustomize-build, yaml-validator

fix(grafana): correct label_values query syntax in dashboard
  kubernetes/apps/observability/grafana/resources/container-memory-usage.json
Due: none

docs(plex): document EAE deadlock recurrence and infrastructure failures
  docs/troubleshooting/plex-timeout-investigation.md
Due: none

fix(node-feature-discovery): increase Helm upgrade timeout to 10m
  kubernetes/apps/kube-system/node-feature-discovery/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(vmrules): correct PodNotReady alert to exclude completed Jobs
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
Due: kustomize-build, yaml-validator

fix(rook-ceph): remove commonMetadata to resolve v1.18.5 upgrade failure
  kubernetes/apps/rook-ceph/operator/ks.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(flux): add kustomize-controller optimizations
  kubernetes/apps/flux-system/flux-instance/helmrelease.yaml
Due: kustomize-build, yaml-validator

build(deps): consolidate renovate auto-merge rules
  .renovate/autoMerge.json5
  .renovate/groups.json5
Due: none

build(deps): fix rook-ceph package matching pattern
  .renovate/groups.json5
Due: none

add renovate group for mariadb-operator
  .renovate/groups.json5
Due: none

fixup! build(deps): fix rook-ceph package matching pattern
  .renovate/autoMerge.json5
Due: none

build(deps): fix rook-ceph package matching pattern
  .renovate/autoMerge.json5
  .renovate/groups.json5
Due: none

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
