Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

build(renovate): enable merge confidence badges and disable OSV alerts
  renovate.json5
Due: none

feat(adguard-home): implement active-passive failover for web UI
  kubernetes/apps/dns-private/adguard-home/backendtrafficpolicy.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/kustomization.yaml
Due: vector-vrl-validator

fix(plex): add controller reference to service for correct naming
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

feat(headlamp): add Kubernetes web UI for cluster management
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/kube-system/headlamp/helmrelease.yaml
  kubernetes/apps/kube-system/headlamp/helmrepository.yaml
  kubernetes/apps/kube-system/headlamp/httproute.yaml
  kubernetes/apps/kube-system/headlamp/ks.yaml
  kubernetes/apps/kube-system/headlamp/kustomization.yaml
  kubernetes/apps/kube-system/headlamp/rbac.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

refactor(k8s): consolidate OCIRepository definitions to flux/meta/repos
  CLAUDE.md
  kubernetes/apps/dns-private/external-dns/helmrelease.yaml
  kubernetes/apps/home/esphome/kustomization.yaml
  kubernetes/apps/home/home-assistant/kustomization.yaml
  kubernetes/apps/home/otbr/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui/kustomization.yaml
  kubernetes/apps/media/jellyseerr/kustomization.yaml
  kubernetes/apps/media/tautulli/kustomization.yaml
  kubernetes/apps/network/cloudflare-dns/crd.yaml
  kubernetes/apps/network/cloudflare-dns/httproute.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/namespace.yaml
  kubernetes/components/common/repos/app-template/kustomization.yaml
  kubernetes/components/common/repos/kustomization.yaml
  kubernetes/components/common/sops/email-secrets.sops.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/flux/meta/repos/app-template.yaml
  kubernetes/flux/meta/repos/external-dns.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Due: vector-vrl-validator

refactor(media): migrate apps to internal gateway and remove Authelia
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/bazarr/kustomization.yaml
  kubernetes/apps/media/bazarr/securitypolicy.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/prowlarr/kustomization.yaml
  kubernetes/apps/media/prowlarr/securitypolicy.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/kustomization.yaml
  kubernetes/apps/media/qbittorrent/securitypolicy.yaml
  kubernetes/apps/media/radarr-4k/helmrelease.yaml
  kubernetes/apps/media/radarr-4k/kustomization.yaml
  kubernetes/apps/media/radarr-4k/securitypolicy.yaml
  kubernetes/apps/media/radarr-anime/helmrelease.yaml
  kubernetes/apps/media/radarr-anime/kustomization.yaml
  kubernetes/apps/media/radarr-anime/securitypolicy.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/radarr/kustomization.yaml
  kubernetes/apps/media/radarr/securitypolicy.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/media/sabnzbd/securitypolicy.yaml
  kubernetes/apps/media/sonarr-anime/helmrelease.yaml
  kubernetes/apps/media/sonarr-anime/kustomization.yaml
  kubernetes/apps/media/sonarr-anime/securitypolicy.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/media/sonarr/kustomization.yaml
  kubernetes/apps/media/sonarr/securitypolicy.yaml
Due: vector-vrl-validator

fix(k8s): add cross-namespace OCIRepository reference for app-template
  CLAUDE.md
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/homepage/helmrelease.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home-sync/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
  kubernetes/apps/home/esphome/helmrelease.yaml
  kubernetes/apps/home/home-assistant/helmrelease.yaml
  kubernetes/apps/home/otbr/helmrelease.yaml
  kubernetes/apps/home/zwave-js-ui/helmrelease.yaml
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/helmrelease.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/radarr-4k/helmrelease.yaml
  kubernetes/apps/media/radarr-anime/helmrelease.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/recyclarr/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/sonarr-anime/helmrelease.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/helmrelease.yaml
Due: vector-vrl-validator

fix(plex): correct HTTPRoute service reference
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

refactor(k8s): reduce volsync backup frequency to 8h
  kubernetes/components/volsync/replicationsource.yaml
Due: none

docs(k8s): prefer advancedMounts over globalMounts
  CLAUDE.md
Due: none

fix(sabnzbd): use emptyDir for incomplete downloads to prevent probe failures
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: vector-vrl-validator

fix(garage): correct chartRef namespace to flux-system
  kubernetes/apps/storage/garage/helmrelease.yaml
Due: vector-vrl-validator

fix(sabnzbd): remove duplicate hostname from whitelist
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: vector-vrl-validator

docs(claude): update namespace-to-app mapping with missing apps
  CLAUDE.md
Due: none

chore(renovate-ce)!: remove Renovate CE from cluster
  .renovate/groups.json5
  CLAUDE.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/renovate-ce/externalsecret.yaml
  kubernetes/apps/default/renovate-ce/helmrelease.yaml
  kubernetes/apps/default/renovate-ce/helmrepository.yaml
  kubernetes/apps/default/renovate-ce/httproute.yaml
  kubernetes/apps/default/renovate-ce/ks.yaml
  kubernetes/apps/default/renovate-ce/kustomization.yaml
  kubernetes/apps/default/renovate-ce/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

build(renovate): remove redundant openssf-scorecard preset
  renovate.json5
Due: none

chore: remove unused intel-device-plugins CRD schemas
  schemas/intel-device-plugins/deviceplugin.intel.com_dlbdeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_dsadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_fpgadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_gpudeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_iaadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_npudeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_qatdeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_sgxdeviceplugins.json
  schemas/intel-device-plugins/fpga.intel.com_acceleratorfunctions.json
  schemas/intel-device-plugins/fpga.intel.com_fpgaregions.json
Due: none

chore(commands): remove migrate-service and renovate-merge slash commands
  .claude/commands/migrate-service.md
  .claude/commands/renovate-merge.md
Due: none

ci(flux-local): adopt onedr0p workflow improvements
  .github/workflows/flux-local.yaml
Due: none

feat(commands): add renovate-upgrade slash command
  .claude/commands/renovate-upgrade.md
Due: none

fix(plex): disable request timeout for SSE streaming
  kubernetes/apps/media/plex/backendtrafficpolicy.yaml
  kubernetes/apps/media/plex/kustomization.yaml
Due: vector-vrl-validator

Docs: Condense OCIRepository namespace rules
  CLAUDE.md
Due: none

Feat(silence-operator): Add AlertManager silence management
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/silence-operator/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/ks.yaml
  kubernetes/apps/observability/silence-operator/kustomization.yaml
  kubernetes/apps/observability/silence-operator/ocirepository.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(filerun): resolve HTTP 504 timeout on Nextcloud sync
  kubernetes/apps/default/filerun/backendtrafficpolicy.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
Due: vector-vrl-validator

fix(filerun): increase database user connection limit to 100
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/filerun/user.yaml
Due: vector-vrl-validator

fix(imagemaid): switch to API mode to prevent Plex database corruption
  kubernetes/apps/media/imagemaid/helmrelease.yaml
Due: vector-vrl-validator

feat(openebs): add LocalPV hostPath provisioner for ephemeral storage
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/openebs/helmrelease.yaml
  kubernetes/apps/kube-system/openebs/ks.yaml
  kubernetes/apps/kube-system/openebs/kustomization.yaml
  kubernetes/apps/kube-system/openebs/ocirepository.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

docs: Condense OCIRepository namespace rules
  CLAUDE.md
Due: none

feat(silence-operator): Add AlertManager silence management
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/silence-operator/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/ks.yaml
  kubernetes/apps/observability/silence-operator/kustomization.yaml
  kubernetes/apps/observability/silence-operator/ocirepository.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(observability): Reenable stack with OpenEBS storage
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-single/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

fix(rook-ceph): disable PrometheusJobMissing alert
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator

fix(rook-ceph): disable RBD stats to resolve MGR memory pressure
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator

fix(homepage): increase memory limit to prevent alert
  kubernetes/apps/default/homepage/helmrelease.yaml
Due: vector-vrl-validator

fix(flux): reduce kustomize-controller resource usage to prevent CPU throttling
  kubernetes/apps/flux-system/flux-instance/helmrelease.yaml
Due: vector-vrl-validator

fix(filerun): prevent PVC fill-up with tmpfs mount for temp directory
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: vector-vrl-validator

fix(kopia): increase probe timeout to accommodate NFS latency
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator
