Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

docs: add reference repos to CLAUDE.md
  CLAUDE.md
Due: none

refactor(k8s)!: migrate Intel GPU from Device Plugin to DRA
  .claude/settings.json
  CLAUDE.md
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/resourceclaimtemplate.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/gpu-device-plugin.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/monitoring.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/ks.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/ocirepository.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/plex/kustomization.yaml
  kubernetes/apps/media/plex/resourceclaimtemplate.yaml
  talos/talconfig.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

docs: update Talos workflow instructions
  CLAUDE.md
Due: none

feat(talos): add interactive node selection with fzf
  .taskfiles/talos/Taskfile.yaml
Due: none

refactor(k8s)!: migrate Intel GPU from Device Plugin to DRA
  .claude/settings.json
  CLAUDE.md
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/resourceclaimtemplate.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/gpu-device-plugin.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/monitoring.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/ks.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/ocirepository.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/plex/kustomization.yaml
  kubernetes/apps/media/plex/resourceclaimtemplate.yaml
  talos/patches/global/machine-files.yaml
  talos/talconfig.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(talos): configure kubelet image GC to address disk space growth
  talos/patches/global/machine-kubelet.yaml
Due: none

feat(filerun): add PHP optimization configuration
  kubernetes/apps/default/filerun/config/filerun-optimization.ini
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
Due: vector-vrl-validator

docs: clarify Infisical secret path and naming conventions
  CLAUDE.md
Due: none

feat(renovate-ce): add self-hosted Renovate CE deployment
  CLAUDE.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/renovate-ce/externalsecret.yaml
  kubernetes/apps/default/renovate-ce/helmrelease.yaml
  kubernetes/apps/default/renovate-ce/helmrepository.yaml
  kubernetes/apps/default/renovate-ce/httproute.yaml
  kubernetes/apps/default/renovate-ce/ks.yaml
  kubernetes/apps/default/renovate-ce/kustomization.yaml
  kubernetes/apps/default/renovate-ce/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fixup! feat(renovate-ce): add self-hosted Renovate CE deployment
  kubernetes/apps/default/renovate-ce/helmrelease.yaml
Due: vector-vrl-validator

feat(renovate-ce): enable job and reporting API endpoints
  kubernetes/apps/default/renovate-ce/helmrelease.yaml
Due: vector-vrl-validator

fix(volsync): remove podAntiAffinity causing Multi-Attach errors
  kubernetes/components/volsync/replicationsource.yaml
Due: none

feat(opencloud): add file-sync and share platform
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/opencloud/externalsecret.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
  kubernetes/apps/default/opencloud/ks.yaml
  kubernetes/apps/default/opencloud/kustomization.yaml
  kubernetes/apps/default/opencloud/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fixup! feat(opencloud): add file-sync and share platform
  CLAUDE.md
  kubernetes/apps/default/opencloud/externalsecret.yaml
Due: vector-vrl-validator

fixup! feat(opencloud): add file-sync and share platform
  kubernetes/apps/default/opencloud/externalsecret.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
Due: vector-vrl-validator

fixup! feat(opencloud): add file-sync and share platform
  kubernetes/apps/default/opencloud/helmrelease.yaml
Due: vector-vrl-validator

fixup! feat(opencloud): add file-sync and share platform
  kubernetes/apps/default/opencloud/externalsecret.yaml
Due: vector-vrl-validator

refactor(zwave-js-ui): migrate to network-based Z-Wave controller
  kubernetes/apps/home/zwave-js-ui/helmrelease.yaml
Due: vector-vrl-validator

docs: add Rook-Ceph VolumeAttachment RBAC loop troubleshooting
  docs/troubleshooting/rook-ceph-volumeattachment-rbac-stuck-2025-10-31.md
Due: none

feat(homepage): add network Z-Wave/Zigbee/Thread hub link
  kubernetes/apps/default/homepage/config/services.yaml
Due: vector-vrl-validator

feat(otbr): add OpenThread Border Router for Matter-over-Thread
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/otbr/helmrelease.yaml
  kubernetes/apps/home/otbr/ks.yaml
  kubernetes/apps/home/otbr/kustomization.yaml
  kubernetes/apps/home/otbr/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(opencloud): add file-sync and share platform
  CLAUDE.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/opencloud/externalsecret.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
  kubernetes/apps/default/opencloud/ks.yaml
  kubernetes/apps/default/opencloud/kustomization.yaml
  kubernetes/apps/default/opencloud/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator
