Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

feat(silence-operator): Add AlertManager silence management
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/silence-operator/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/ks.yaml
  kubernetes/apps/observability/silence-operator/kustomization.yaml
  kubernetes/apps/observability/silence-operator/ocirepository.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(filerun): resolve HTTP 504 timeout on Nextcloud sync
  kubernetes/apps/default/filerun/backendtrafficpolicy.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
Due: vector-vrl-validator

fix(filerun): increase database user connection limit to 100
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/filerun/user.yaml
Due: vector-vrl-validator

refactor(talos): Simplify NFS mount configuration by removing redundant options
  talos/patches/global/machine-nfs.yaml
Due: none

refactor(bookstack): Remove Redis sidecar, use filesystem cache/session
  kubernetes/apps/default/bookstack/helmrelease.yaml
Due: vector-vrl-validator

docs(troubleshooting): Add Plex BBR/NFS optimization investigation
  docs/troubleshooting/plex-streaming-stuttering-bbr-congestion-2025-11-13.md
Due: none

fix(filerun): Increase memory limit to accommodate file operation spikes
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: vector-vrl-validator

ci(talos): Suppress verbose output from apply-node task
  .taskfiles/talos/Taskfile.yaml
Due: none

fix(observability): silence CephNodeDiskspaceWarning via silence-operator
  kubernetes/apps/observability/silence-operator/kustomization.yaml
  kubernetes/apps/observability/silence-operator/silences.yaml
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator

feat(code-server): Add VS Code web editor
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/home/code-server/helmrelease.yaml
  kubernetes/apps/home/code-server/ks.yaml
  kubernetes/apps/home/code-server/kustomization.yaml
  kubernetes/apps/home/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(cilium): Enable Bandwidth Manager for improved network performance
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
Due: vector-vrl-validator

feat(etcd-defrag): Add automated etcd defragmentation CronJob
  kubernetes/apps/system-upgrade/etcd-defrag/helmrelease.yaml
  kubernetes/apps/system-upgrade/etcd-defrag/ks.yaml
  kubernetes/apps/system-upgrade/etcd-defrag/kustomization.yaml
  kubernetes/apps/system-upgrade/etcd-defrag/rbac.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

docs(claude): Update namespace app mappings
  CLAUDE.md
Due: none

docs: Consolidate BBR/Cilium troubleshooting documentation
  docs/troubleshooting/cilium-bbr-timeout-investigation-2025-11-14.md
  docs/troubleshooting/plex-streaming-stuttering-bbr-congestion-2025-11-13.md
  docs/troubleshooting/victoria-metrics-write-errors-bbr-2025-11-14.md
Due: none

refactor(plex): Remove node antiaffinity constraint
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

docs: Update cluster node role assignments
  CLAUDE.md
Due: none

fix(plex): Add node anti-affinity to avoid marin
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

fix(home-assistant): restrict multus route to local network only
  kubernetes/apps/kube-system/multus/networks/main-lan.yaml
Due: vector-vrl-validator

fix(plex): Reenable health probes
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

fix(talos): Disable BBR congestion control to resolve VictoriaMetrics timeouts
  talos/patches/global/machine-sysctls.yaml
Due: none

refactor(home-assistant): Migrate to RWX and optimize cache
  CLAUDE.md
  kubernetes/apps/home/home-assistant/helmrelease.yaml
  kubernetes/apps/home/home-assistant/pvc.yaml
Due: vector-vrl-validator

fix(plex): disable request timeout for SSE streaming
  kubernetes/apps/media/plex/backendtrafficpolicy.yaml
  kubernetes/apps/media/plex/kustomization.yaml
Due: vector-vrl-validator

fix(plex): Enable PLEX_NO_AUTH_NETWORKS to prevent session permission errors
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

feat(homepage): Add missing service tiles
  kubernetes/apps/default/homepage/config/services.yaml
Due: vector-vrl-validator

docs: Add health probes standards to CLAUDE.md
  CLAUDE.md
Due: none

fix(homepage): increase memory limit to prevent alert
  kubernetes/apps/default/homepage/helmrelease.yaml
Due: vector-vrl-validator

fix(vmrules): Reduce PodCrashLooping alert sensitivity
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
Due: vector-vrl-validator

refactor(commands): Prohibit probe adjustments in fix-alert
  .claude/commands/fix-alert.md
Due: none

fix(flux): reduce kustomize-controller resource usage to prevent CPU throttling
  kubernetes/apps/flux-system/flux-instance/helmrelease.yaml
Due: vector-vrl-validator

build(renovate): remove redundant openssf-scorecard preset
  renovate.json5
Due: none

fix(kopia): Increase probe initial delay for NFS startup
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

feat(talos): Migrate all nodes to USB-C 2.5GbE NICs
  .taskfiles/talos/Taskfile.yaml
  talos/talconfig.yaml
Due: none
