Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

reloader-validator:
  name: Reloader Annotation Validator
  entry: scripts/pre-commit/reloader-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations

vector-vrl-validator:
  name: Vector VRL Validation
  entry: scripts/pre-commit/validate-vector-vrl.sh
  language: script
  description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

docs(CLAUDE): Refine volsync configuration guidance
  CLAUDE.md
Due: none

feat(kopia): Add UI preferences for snapshot defaults
  kubernetes/apps/storage/kopia/config/repository.config
  kubernetes/apps/storage/kopia/config/ui-preferences.json
  kubernetes/apps/storage/kopia/helmrelease.yaml
  kubernetes/apps/storage/kopia/kustomization.yaml
Due: vector-vrl-validator

fix(home-assistant): Correct volsync PVC reference
  kubernetes/apps/home/home-assistant/ks.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(victoria-metrics): Silence resolved alerts
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
Due: vector-vrl-validator

refactor(talos): Migrate to bond0 for consistent naming
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
  kubernetes/apps/kube-system/multus/networks/main-lan.yaml
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
  talos/patches/intel-nuc-e1000e/ethernet-tuning.yaml
  talos/patches/intel-nuc-e1000e/kernel-params.yaml
  talos/talconfig.yaml
Due: vector-vrl-validator

fix(home-assistant): Use Recreate strategy for static multus IP
  kubernetes/apps/home/home-assistant/helmrelease.yaml
Due: vector-vrl-validator

feat(plexanibridge): Add AniList sync integration
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/plexanibridge/externalsecret.yaml
  kubernetes/apps/media/plexanibridge/helmrelease.yaml
  kubernetes/apps/media/plexanibridge/ks.yaml
  kubernetes/apps/media/plexanibridge/kustomization.yaml
  kubernetes/apps/media/plexanibridge/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

refactor(flux-instance): Switch to unified OCI manifests versioning
  kubernetes/apps/flux-system/flux-instance/helmrelease.yaml
Due: vector-vrl-validator

fix(rook-ceph): Increase MGR memory limit to 2Gi
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator

feat(rook-ceph): Add ExternalSecret for dashboard password
  kubernetes/apps/rook-ceph/cluster/externalsecret.yaml
  kubernetes/apps/rook-ceph/cluster/kustomization.yaml
Due: vector-vrl-validator

fix(envoy-gateway): Add global BackendTrafficPolicy to disable request timeout
  kubernetes/apps/media/plex/backendtrafficpolicy.yaml
  kubernetes/apps/media/plex/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/backend-traffic-policy.yaml
  kubernetes/apps/network/envoy-gateway/kustomization.yaml
Due: vector-vrl-validator

fix(recyclarr): Disable SDR blocking for WEB-2160p profile
  kubernetes/apps/media/recyclarr/configs/sonarr-series.yaml
Due: vector-vrl-validator

fix(grafana): Resolve sidecar crash loop from OOM and port conflict
  kubernetes/apps/observability/grafana/helmrelease.yaml
Due: vector-vrl-validator

docs(claude): add talosctl -n option guidance
  CLAUDE.md
Due: none

fix(silence-operator): Enable silence-operator with proper CRD dependency
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/app/kustomization.yaml
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
  kubernetes/apps/observability/silence-operator/ks.yaml
  kubernetes/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(grafana): Use top-level sidecar.resources for memory limits
  kubernetes/apps/observability/grafana/helmrelease.yaml
Due: vector-vrl-validator

feat(nextcloud): Add Nextcloud with OIDC authentication
  kubernetes/apps/default/authelia/config/oidc-base.yaml.tmpl
  kubernetes/apps/default/authelia/config/oidc-clients.yaml.tmpl
  kubernetes/apps/default/authelia/externalsecret.yaml
  kubernetes/apps/default/authelia/helmrelease.yaml
  kubernetes/apps/default/authelia/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/nextcloud/externalsecret.yaml
  kubernetes/apps/default/nextcloud/helmrelease.yaml
  kubernetes/apps/default/nextcloud/httproute.yaml
  kubernetes/apps/default/nextcloud/ks.yaml
  kubernetes/apps/default/nextcloud/kustomization.yaml
  kubernetes/apps/default/nextcloud/ocirepository.yaml
  kubernetes/apps/default/nextcloud/postgres-cluster.yaml
  kubernetes/apps/default/nextcloud/postgres-scheduled-backup.yaml
  kubernetes/apps/default/nextcloud/pvc.yaml
  kubernetes/apps/default/nextcloud/volsync-data-secret.yaml
  kubernetes/apps/default/nextcloud/volsync-data.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(nextcloud): Add notify_push for real-time file updates
  kubernetes/apps/default/nextcloud/helmrelease.yaml
  kubernetes/apps/default/nextcloud/httproute.yaml
  kubernetes/apps/default/nextcloud/kustomization.yaml
  kubernetes/apps/default/nextcloud/notify-push-service.yaml
Due: vector-vrl-validator

fix(infisical): Use prod environment for secrets operations
  .taskfiles/infisical/Taskfile.yaml
Due: none

docs: add lldap and nextcloud to CLAUDE.md
  CLAUDE.md
Due: none

fix(nextcloud): Use chart's native data persistence instead of extraVolumes
  kubernetes/apps/default/nextcloud/helmrelease.yaml
Due: vector-vrl-validator

feat(lldap): Add LLDAP for web-based user management
  kubernetes/apps/default/authelia/config/configuration.yaml
  kubernetes/apps/default/authelia/externalsecret.yaml
  kubernetes/apps/default/authelia/kustomization.yaml
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/lldap/externalsecret.yaml
  kubernetes/apps/default/lldap/helmrelease.yaml
  kubernetes/apps/default/lldap/ks.yaml
  kubernetes/apps/default/lldap/kustomization.yaml
  kubernetes/apps/default/lldap/pvc.yaml
  kubernetes/apps/default/nextcloud/helmrelease.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(nextcloud): Simplify Redis to standalone architecture
  kubernetes/apps/default/nextcloud/helmrelease.yaml
Due: vector-vrl-validator

fix(nextcloud): Remove Redis CPU limit to prevent throttling
  kubernetes/apps/default/nextcloud/helmrelease.yaml
Due: vector-vrl-validator

fix(nextcloud): Remove PostgreSQL CPU limit to prevent throttling
  kubernetes/apps/default/nextcloud/postgres-cluster.yaml
Due: vector-vrl-validator

Path conditions:
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  reloader-validator: any of: ^kubernetes/apps/.*/ks\.yaml$
  vector-vrl-validator: any of: ^kubernetes/apps/.*/.*\.(yaml|vrl)$
