Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

fix(renovate): correct CoreDNS changelog URL to Helm chart repository
  .renovate/changelogs.json5
Due: none

refactor(observability): remove kube-prometheus-stack label references
  kubernetes/apps/default/bookstack/mariadb.yaml
  kubernetes/apps/default/filerun/mariadb.yaml
  kubernetes/apps/kube-system/mariadb-operator/helmrelease.yaml
Due: kustomize-build, yaml-validator

delete memory bank file for oci repo migration
  docs/memory-bank/helmrepository-to-ocirepository-migration.md
Due: none

feat(workload): temporarily move heavy I/O workloads off nami during OSD migration
  docs/memory-bank/ceph-osd-nvme-migration-nami.md
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

docs(scripts): add validation and operational scripts to CLAUDE.md
  CLAUDE.md
Due: none

chore(markdownlint): set line length to 100 characters
  .markdownlint-cli2.yaml
Due: none

docs: add Claude-specific markdown documentation guidelines
  docs/CLAUDE.md
Due: none

feat(scripts): add ceph.sh convenience wrapper for Ceph commands
  scripts/ceph.sh
Due: none

docs(runbooks): add Ceph OSD and Talos node operational runbooks
  docs/memory-bank/ceph-osd-nvme-migration-nami.md
  docs/runbooks/ceph-osd-operations.md
  docs/runbooks/talos-node-replacement.md
Due: none

fix(adguard-home): replace HTTP health probes with DNS query tests
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(rook-ceph)!: disable RGW object storage
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(nami): migrate Ceph OSD from BX500 SATA to 990 PRO NVMe
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
  talos/talconfig.yaml
Due: kustomize-build, yaml-validator

fix(filerun): remove invalid serviceMonitor.enabled field from MariaDB
  kubernetes/apps/default/filerun/mariadb.yaml
Due: kustomize-build, yaml-validator

fix(rook-ceph): tune recovery/backfill settings to prevent slow ops
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(rook-ceph): enable mClock override for custom recovery settings
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(filerun)!: migrate to RWX storage with S3 bootstrap init container
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/filerun/ks.yaml
  kubernetes/apps/default/filerun/pvc.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix(vmrules): tune PodCrashLooping alert sensitivity
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
Due: kustomize-build, yaml-validator

fix(vmrules): limit ContainerHighCPU to containers with CPU limits
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
Due: kustomize-build, yaml-validator

fix(victoria-metrics): disable general recording rules for count:up0 empty results
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(victoria-metrics): enable kube-state-metrics label allowlist
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(victoria-metrics): consolidate Pushover receivers and improve notification UX
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
Due: kustomize-build, yaml-validator

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
