Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

fix(plex): increase vector-sidecar CPU limit to prevent throttling
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

feat(scripts): add container metrics query utility
  CLAUDE.md
  scripts/query-container-metrics.py
Due: none

docs(troubleshooting): document NFS hang and network flapping investigation
  docs/troubleshooting/nfs-connection-hang-network-flapping-2025-10-26.md
Due: none

docs(troubleshooting): identify disk spindown as NFS hang root cause
  docs/troubleshooting/nfs-connection-hang-network-flapping-2025-10-26.md
Due: none

fix(plex): use advancedMounts for NFS media volume
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

docs: add markdown formatting to Flux command reference
  CLAUDE.md
Due: none

update nezuko href
  kubernetes/apps/default/homepage/config/services.yaml
Due: vector-vrl-validator

fix(immich): remove NFS subPath to resolve mount failures
  kubernetes/apps/default/immich/helmrelease.yaml
Due: vector-vrl-validator

feat(talos)!: optimize NFS mount performance with nconnect
  talos/patches/global/machine-files.yaml
Due: none

refactor(ci): simplify Renovate workflow by moving filtering upstream
  .github/workflows/renovate.yaml
Due: none

ci: reduce Renovate frequency to daily at 3 AM Central
  .github/workflows/renovate.yaml
Due: none

chore(claude): restrict talosctl whitelist for safety
  .claude/settings.json
Due: none

docs: add Talos node application procedure
  CLAUDE.md
Due: none

feat(talos): reduce terminated pod retention threshold
  talos/patches/controller/cluster.yaml
Due: none

feat(talos): add Z-Wave USB udev rule for lucy node
  talos/patches/lucy/zwave-udev.yaml
  talos/talconfig.yaml
Due: none

feat(descheduler): add automatic failed pod cleanup
  CLAUDE.md
  kubernetes/apps/kube-system/descheduler/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/descheduler/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/ocirepository.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(rook-ceph): increase disk space alert prediction window to 10 days
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator

fix(zwave-js-ui): resolve USB access and proxy configuration issues
  kubernetes/apps/home/zwave-js-ui/helmrelease.yaml
  talos/patches/lucy/zwave-udev.yaml
Due: vector-vrl-validator

fix(rook-ceph): update CephNodeDiskspaceWarning annotation to match 7d/10d expression
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator
