Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

fix(homepage): Increase memory limits
  kubernetes/apps/default/homepage/helmrelease.yaml
Due: vector-vrl-validator

refactor(talos): Simplify NFS mount configuration by removing redundant options
  talos/patches/global/machine-nfs.yaml
Due: none

style: generalize comment and reformat
  talos/patches/controller/machine-kubernetes-api-access.yaml
Due: none

chore: Allow details/summary HTML elements in markdown
  .markdownlint-cli2.yaml
Due: none

docs(claude): Consolidate and enhance Infisical guidance
  .claude/settings.json
  CLAUDE.md
Due: none

fix(kopia): increase probe timeout to accommodate NFS latency
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

fix(filerun): increase database user connection limit to 100
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/filerun/user.yaml
Due: vector-vrl-validator

ci(taskfile): add infisical:add-secret task for automated secret management
  .taskfiles/infisical/Taskfile.yaml
  Taskfile.yaml
Due: none

refactor(talos): Remove obsolete USB Z-Wave udev patch for lucy node
  talos/patches/lucy/zwave-udev.yaml
  talos/talconfig.yaml
Due: none

feat(openebs): add LocalPV hostPath provisioner for ephemeral storage
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/openebs/helmrelease.yaml
  kubernetes/apps/kube-system/openebs/ks.yaml
  kubernetes/apps/kube-system/openebs/kustomization.yaml
  kubernetes/apps/kube-system/openebs/ocirepository.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

build(renovate): remove redundant openssf-scorecard preset
  renovate.json5
Due: none

fix(victoria-metrics): add liveness probe to detect deadlocks
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

fix(kopia): Increase probe initial delay for NFS startup
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

refactor(home-assistant): Simplify probe configuration
  kubernetes/apps/home/home-assistant/helmrelease.yaml
Due: vector-vrl-validator

refactor(commands): Prohibit probe adjustments in fix-alert
  .claude/commands/fix-alert.md
Due: none

ci(talos): Suppress verbose output from apply-node task
  .taskfiles/talos/Taskfile.yaml
Due: none

docs: Consolidate BBR/Cilium troubleshooting documentation
  docs/troubleshooting/cilium-bbr-timeout-investigation-2025-11-14.md
  docs/troubleshooting/plex-streaming-stuttering-bbr-congestion-2025-11-13.md
  docs/troubleshooting/victoria-metrics-write-errors-bbr-2025-11-14.md
Due: none

feat(commands): add renovate-upgrade slash command
  .claude/commands/renovate-upgrade.md
Due: none

chore: remove unused intel-device-plugins CRD schemas
  schemas/intel-device-plugins/deviceplugin.intel.com_dlbdeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_dsadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_fpgadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_gpudeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_iaadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_npudeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_qatdeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_sgxdeviceplugins.json
  schemas/intel-device-plugins/fpga.intel.com_acceleratorfunctions.json
  schemas/intel-device-plugins/fpga.intel.com_fpgaregions.json
Due: none

fix(victoria-metrics): pin vmsingle to lucy node
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

docs(troubleshooting): Add VictoriaMetrics BBR timeout investigation
  docs/troubleshooting/victoria-metrics-write-errors-bbr-2025-11-14.md
Due: none

fix(imagemaid): switch to API mode to prevent Plex database corruption
  kubernetes/apps/media/imagemaid/helmrelease.yaml
Due: vector-vrl-validator

refactor(victoria-metrics): Simplify probes
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

fix(flux): reduce kustomize-controller resource usage to prevent CPU throttling
  kubernetes/apps/flux-system/flux-instance/helmrelease.yaml
Due: vector-vrl-validator

fix(observability): silence CephNodeDiskspaceWarning via silence-operator
  kubernetes/apps/observability/silence-operator/kustomization.yaml
  kubernetes/apps/observability/silence-operator/silences.yaml
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator

feat(gatus): Add monitoring for user-facing apps
  kubernetes/apps/observability/gatus/resources/config.yaml
Due: vector-vrl-validator

refactor(bookstack): Remove Redis sidecar, use filesystem cache/session
  kubernetes/apps/default/bookstack/helmrelease.yaml
Due: vector-vrl-validator

docs: Add comprehensive OIDC/OAuth reference guide
  docs/reference/oidc-oauth-reference.md
Due: none

fix(filerun): prevent PVC fill-up with tmpfs mount for temp directory
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: vector-vrl-validator

fix(talos): enable etcd auto-compaction to prevent database fragmentation
  talos/patches/controller/etcd-config.yaml
  talos/talconfig.yaml
Due: none

docs: Condense OCIRepository namespace rules
  CLAUDE.md
Due: none

chore: Replace gitleaksignore with path-based TOML config
  .gitleaks.toml
  .gitleaksignore
  .mise.toml
Due: none

docs(claude): clearer probe guidance on defaults
  CLAUDE.md
Due: none

ci(flux-local): adopt onedr0p workflow improvements
  .github/workflows/flux-local.yaml
Due: none

fix(plex): Add node anti-affinity to avoid marin
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

chore: clean up claude permissions in settings.json
  .claude/settings.json
Due: none

refactor(talos): Disable NFS nconnect=4 mount option
  talos/talconfig.yaml
Due: none
