Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

fix(victoria-metrics): move label filtering to relabelConfigs to fix rejected metrics
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(victoria-metrics): route severity=none alerts to blackhole receiver
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
Due: kustomize-build, yaml-validator

fix(rook-ceph): exclude NFS/tmpfs from CephNodeDiskspaceWarning alert
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(volsync): migrate from S3 to NFS filesystem backend
  kubernetes/apps/storage/volsync/kustomization.yaml
  kubernetes/apps/storage/volsync/mutatingadmissionpolicy.yaml
  kubernetes/components/volsync/secret.yaml
  talos/patches/controller/cluster.yaml
Due: kustomize-build, yaml-validator

docs: remove legacy migration documentation
  CLAUDE.md
  MIGRATION.md
  docs/architecture/dns-architecture.md
Due: none

feat(kopia): add GUI server for VolSync backup management
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/storage/kopia/externalsecret.yaml
  kubernetes/apps/storage/kopia/helmrelease.yaml
  kubernetes/apps/storage/kopia/ks.yaml
  kubernetes/apps/storage/kopia/kustomization.yaml
  kubernetes/apps/storage/kopia/repository.config
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/components/volsync/secret.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix(volsync): configure correct PVC names for filerun and silverbullet backups
  kubernetes/apps/default/filerun/ks.yaml
  kubernetes/apps/default/silverbullet/ks.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix(adguard-home): disable serviceMonitor to prevent scrape errors
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(victoria-metrics): resolve etcd scrape pool with 0 targets
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
  talos/patches/controller/etcd-metrics.yaml
  talos/talconfig.yaml
Due: kustomize-build, yaml-validator

refactor(renovate): adopt conservative automerge strategy and cleanup labels
  .renovate/autoMerge.json5
  .renovate/labels.json5
Due: none

fixup! refactor(renovate): adopt conservative automerge strategy and cleanup labels
  .renovate/autoMerge.json5
Due: none

feat(renovate): add packagePins module for dependency compatibility management
  .renovate/packagePins.json5
  renovate.json5
Due: none

fix(rook-ceph): disable CephNodeNetworkPacketDrops alert
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: kustomize-build, yaml-validator

refactor(rook-ceph): migrate toolbox to helm-managed deployment
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/toolbox/deployment.yaml
  kubernetes/apps/rook-ceph/toolbox/ks.yaml
  kubernetes/apps/rook-ceph/toolbox/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

refactor(helm): remove unnecessary image overrides from upstream charts
  kubernetes/apps/kube-system/coredns/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/helmrelease.yaml
  kubernetes/apps/storage/volsync/helmrelease.yaml
Due: kustomize-build, kubectl-dry-run-server, yaml-validator

ci: add dynamic run names to Renovate workflow
  .github/workflows/renovate.yaml
Due: none

fix(bookstack): use database sessions to prevent probe timeout failures
  kubernetes/apps/default/bookstack/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(homepage): add SilverBullet and AdGuard Home Sync to services dashboard
  kubernetes/apps/default/homepage/config/services.yaml
Due: kustomize-build, yaml-validator

fix(silverbullet): replace built-in auth with Authentik forward auth
  kubernetes/apps/default/authentik/blueprints/outpost-configuration.yaml
  kubernetes/apps/default/authentik/blueprints/silverbullet-application.yaml
  kubernetes/apps/default/authentik/blueprints/silverbullet-provider.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/default/silverbullet/externalsecret.yaml
  kubernetes/apps/default/silverbullet/helmrelease.yaml
  kubernetes/apps/default/silverbullet/kustomization.yaml
  kubernetes/apps/default/silverbullet/securitypolicy.yaml
Due: kustomize-build, yaml-validator

fix(adguard-home): disable VMServiceScrape to prevent scrape errors
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
Due: kustomize-build, yaml-validator

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
