Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
  - id: end-of-file-fixer
    name: Fix End of Files

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  - id: kustomize-build
    name: Kustomize Build Check
    entry: scripts/pre-commit/kustomize-build-check.sh
    language: script
    files: '^kubernetes/.*\.ya?ml$'
    pass_filenames: false
    description: Validates that all kustomizations can build successfully
  - id: kubectl-dry-run-server
    name: Server-Side K8s Validation
    entry: scripts/pre-commit/validate-sops-k8s.sh
    language: script
    files: '^kubernetes/apps/.*/app/.*\.yaml$'
    exclude: '(values\.yaml|kustomizeconfig\.yaml)$'
    description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: yaml-validator
    name: YAML Validator
    entry: scripts/pre-commit/yaml-validator/yaml-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0", "jsonpath-ng>=1.6.0"]
    files: '^kubernetes/.*\.ya?ml$'
    description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

- repo: https://github.com/google/yamlfmt
  rev: v0.17.2
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

fix(vmrules): prevent division by zero in ContainerHighMemory alert
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
Due: kustomize-build, yaml-validator

fix(vmrules): correct percentage display in alert descriptions
  kubernetes/apps/observability/vmrules/ceph-alerts.yaml
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
  kubernetes/apps/observability/vmrules/pvc-alerts.yaml
Due: kustomize-build, yaml-validator

fix(victoria-metrics): add alert state persistence and fix routing
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(victoria-metrics): enable automatic API path appending in VMAlert
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(resources): adjust memory limits for immich-ml and filerun-mariadb
  kubernetes/apps/default/filerun/mariadb.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(alerts): use working set memory for ContainerHighMemory alert
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
Due: kustomize-build, yaml-validator

renovate: Group flux PRs
  .renovate/groups.json5
Due: none

chore: remove test-renovate.sh script and documentation
  CLAUDE.md
  scripts/test-renovate.sh
Due: none

chore(renovate): remove explicit rate limits in favor of preset
  renovate.json5
Due: none

chore(renovate): enable Helm auto-merge for security patches
  .renovate/autoMerge.json5
Due: none

fix(talos): tune nami ethernet to prevent packet drops
  talos/patches/intel-nuc-e1000e/ethernet-tuning.yaml
  talos/patches/intel-nuc-e1000e/kernel-params.yaml
  talos/talconfig.yaml
Due: none

feat(volsync)!: switch to shared Kopia repository pattern
  docs/architecture/backup-strategy.md
  docs/troubleshooting/volsync-kopia-shared-repository.md
  kubernetes/components/volsync/secret.yaml
Due: kustomize-build, yaml-validator

fix(adguard-home): remove non-functional ServiceMonitor
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
Due: kustomize-build, yaml-validator

delete unneeded memory bank file
  docs/memory-bank/docker-to-k8s-migration.md
Due: none

refactor(app-scout): remove inspect functionality and integrate octocode MCP
  .claude/commands/migrate-service.md
  .claude/settings.json
  CLAUDE.md
  scripts/app-scout/README.md
  scripts/app-scout/app-scout.py
Due: none

feat(gatus): add uptime monitoring and Watchdog heartbeat integration
  kubernetes/apps/default/homepage/config/bookmarks.yaml
  kubernetes/apps/observability/gatus/externalsecret.yaml
  kubernetes/apps/observability/gatus/helmrelease.yaml
  kubernetes/apps/observability/gatus/ks.yaml
  kubernetes/apps/observability/gatus/kustomization.yaml
  kubernetes/apps/observability/gatus/resources/config.yaml
  kubernetes/apps/observability/gatus/resources/logo.png
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(gatus): add health monitoring for media services
  kubernetes/apps/observability/gatus/resources/config.yaml
Due: kustomize-build, yaml-validator

fix(volsync)!: migrate cache storage to ceph-block and remove OpenEBS
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/openebs/helmrelease.yaml
  kubernetes/apps/storage/openebs/ks.yaml
  kubernetes/apps/storage/openebs/kustomization.yaml
  kubernetes/apps/storage/volsync/ks.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
  kubernetes/flux/meta/repos/openebs.yaml
  talos/patches/global/machine-kubelet.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix(adguard-home): add Parallel podManagementPolicy to resolve startup deadlock
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(rook-ceph): add permanent Ceph toolbox deployment
  CLAUDE.md
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/toolbox/deployment.yaml
  kubernetes/apps/rook-ceph/toolbox/ks.yaml
  kubernetes/apps/rook-ceph/toolbox/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator
