Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

feat(etcd-defrag): Add automated etcd defragmentation CronJob
  kubernetes/apps/system-upgrade/etcd-defrag/helmrelease.yaml
  kubernetes/apps/system-upgrade/etcd-defrag/ks.yaml
  kubernetes/apps/system-upgrade/etcd-defrag/kustomization.yaml
  kubernetes/apps/system-upgrade/etcd-defrag/rbac.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

docs(claude): add new reference repository
  CLAUDE.md
Due: none

wip: fix opencloud
  kubernetes/apps/default/opencloud/helmrelease.yaml
Due: vector-vrl-validator

wip: fix opencloud
  kubernetes/apps/default/authelia/config/oidc-base.yaml
  kubernetes/apps/default/authelia/config/oidc-clients.yaml
  kubernetes/apps/default/authelia/externalsecret.yaml
  kubernetes/apps/default/authelia/helmrelease.yaml
  kubernetes/apps/default/authelia/kustomization.yaml
  kubernetes/apps/default/opencloud/config/csp.yaml
  kubernetes/apps/default/opencloud/config/proxy.yaml
  kubernetes/apps/default/opencloud/externalsecret.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
  kubernetes/apps/default/opencloud/kustomization.yaml
Due: vector-vrl-validator

docs(claude): Consolidate and enhance Infisical guidance
  .claude/settings.json
  CLAUDE.md
Due: none

wip: fix opencloud
  docs/troubleshooting/opencloud-authelia-groups-claim-2025-11-16.md
  kubernetes/apps/default/authelia/config/configuration.yaml
  kubernetes/apps/default/authelia/config/oidc-base.yaml
  kubernetes/apps/default/authelia/config/oidc-clients.yaml
  kubernetes/apps/default/authelia/externalsecret.yaml
  kubernetes/apps/default/authelia/helmrelease.yaml
  kubernetes/apps/default/authelia/kustomization.yaml
  kubernetes/apps/default/opencloud/config/csp.yaml
  kubernetes/apps/default/opencloud/config/proxy.yaml
  kubernetes/apps/default/opencloud/externalsecret.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
  kubernetes/apps/default/opencloud/kustomization.yaml
  scripts/test-authelia-claims.sh
  scripts/test-authelia-userinfo.sh
Due: vector-vrl-validator

fixup! wip: fix opencloud
  kubernetes/apps/default/authelia/config/oidc-base.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
Due: vector-vrl-validator

fixup! wip: fix opencloud
  kubernetes/apps/default/authelia/config/oidc-base.yaml
Due: vector-vrl-validator

fixup! wip: fix opencloud
  kubernetes/apps/default/authelia/config/oidc-base.yaml
  kubernetes/apps/default/opencloud/config/proxy.yaml
Due: vector-vrl-validator

fix(victoria-metrics): add liveness probe to detect deadlocks
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

fix(victoria-metrics): pin vmsingle to lucy node
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

fix(homepage): Increase memory limits
  kubernetes/apps/default/homepage/helmrelease.yaml
Due: vector-vrl-validator

docs: Add health probes standards to CLAUDE.md
  CLAUDE.md
Due: none

refactor(victoria-metrics): Simplify probes
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

refactor(commands): Prohibit probe adjustments in fix-alert
  .claude/commands/fix-alert.md
Due: none

refactor(plex): Remove node antiaffinity constraint
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

feat(talos): Migrate all nodes to USB-C 2.5GbE NICs
  .taskfiles/talos/Taskfile.yaml
  talos/talconfig.yaml
Due: none

fixup! wip: fix opencloud
  kubernetes/apps/default/authelia/config/oidc-base.yaml
  kubernetes/apps/default/authelia/config/oidc-clients.yaml
  kubernetes/apps/default/authelia/kustomization.yaml
  kubernetes/apps/default/authelia/oauth-scope-injection.yaml
  kubernetes/apps/default/opencloud/config/proxy.yaml
Due: vector-vrl-validator

fixup! wip: fix opencloud
  kubernetes/apps/default/authelia/config/oidc-clients.yaml
Due: vector-vrl-validator

fixup! wip: fix opencloud
  kubernetes/apps/default/authelia/oauth-scope-injection.yaml
Due: vector-vrl-validator

fixup! wip: fix opencloud
  kubernetes/apps/default/authelia/helmrelease.yaml
Due: vector-vrl-validator

fixup! wip: fix opencloud
  kubernetes/apps/default/authelia/config/oidc-base.yaml
  kubernetes/apps/default/authelia/config/oidc-clients.yaml
Due: vector-vrl-validator

fixup! wip: fix opencloud
  kubernetes/apps/network/envoy-gateway/envoyproxy-config.yaml
Due: vector-vrl-validator

fixup! wip: fix opencloud
  .github/workflows/build-authelia-oauth-proxy.yaml
  containers/authelia-oauth-proxy/Dockerfile
  containers/authelia-oauth-proxy/go.mod
  containers/authelia-oauth-proxy/main.go
  docs/troubleshooting/opencloud-authelia-groups-claim-2025-11-16.md
  kubernetes/apps/default/authelia/helmrelease.yaml
Due: vector-vrl-validator

docs: add repo name to CLAUDE.md
  CLAUDE.md
Due: none
