Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

docs: add comprehensive container image standards
  CLAUDE.md
Due: none

feat(container): update qbittorrent to home-operations image
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: kustomize-build, yaml-validator

ci: enable automatic SHA256 digest pinning in renovate
  renovate.json5
Due: none

ci: update pre-commit hooks to v6.0.0
  .pre-commit-config.yaml
Due: none

feat(ci): implement comprehensive Renovate workflow overhaul
  .github/workflows/force-renovate.yaml
  .github/workflows/renovate-dashboard.yaml
  .github/workflows/renovate.yaml
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
  renovate.json5
Due: none

feat(sabnzbd): migrate Docker Compose to Kubernetes
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/httproute.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/media/sabnzbd/pvc.yaml
  kubernetes/apps/media/sabnzbd/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! feat(ci): implement comprehensive Renovate workflow overhaul
  .github/workflows/force-renovate.yaml
  .github/workflows/renovate.yaml
  .renovate/labels.json5
  .renovate/semanticCommits.json5
  renovate.json5
Due: none

fixup! fixup! feat(ci): implement comprehensive Renovate workflow overhaul
  .github/workflows/force-renovate.yaml
  .github/workflows/renovate.yaml
  renovate.json5
Due: none

fixup! fixup! fixup! feat(ci): implement comprehensive Renovate workflow overhaul
  .github/workflows/force-renovate.yaml
  renovate.json5
Due: none

fixup! fixup! fixup! fixup! feat(ci): implement comprehensive Renovate workflow overhaul
  .renovate/autoMerge.json5
  .renovate/groups.json5
  renovate.json5
Due: none

fixup! fixup! fixup! fixup! feat(ci): implement comprehensive Renovate workflow overhaul
  .renovate/groups.json5
Due: none

fixup! fixup! fixup! fixup! feat(ci): implement comprehensive Renovate workflow overhaul
  renovate.json5
Due: none

fixup! fixup! fixup! fixup! feat(ci): implement comprehensive Renovate workflow overhaul
  .github/workflows/renovate-dashboard.yaml
  .github/workflows/renovate.yaml
Due: none

fixup! fixup! fixup! fixup! feat(ci): implement comprehensive Renovate workflow overhaul
  .github/workflows/renovate-dashboard.yaml
Due: none

fixup! fixup! fixup! fixup! feat(ci): implement comprehensive Renovate workflow overhaul
  .github/workflows/force-renovate.yaml
  renovate.json5
  scripts/test-renovate.sh
Due: none

feat(ci): implement comprehensive Renovate workflow overhaul
  .github/workflows/force-renovate.yaml
  .github/workflows/renovate-dashboard.yaml
  .github/workflows/renovate.yaml
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
  renovate.json5
  scripts/test-renovate.sh
Due: none

feat: remove mcp-memory-service deployment
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mcp-memory-service/helmrelease.yaml
  kubernetes/apps/default/mcp-memory-service/ks.yaml
  kubernetes/apps/default/mcp-memory-service/kustomization.yaml
  kubernetes/apps/default/mcp-memory-service/pvc.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(ci): optimize Renovate workflow triggers and concurrency
  .github/workflows/renovate-dashboard.yaml
  .github/workflows/renovate.yaml
Due: none

feat: add renovate PR auto-merge slash command
  .claude/commands/renovate-merge.md
Due: none

fix: change deployment strategy to Recreate for apps with ReadWriteOnce volumes
  CLAUDE.md
  kubernetes/apps/default/bookstack/helmrelease.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(adguard-home-sync): increase health probe timeout to resolve 503 failures
  kubernetes/apps/dns-private/adguard-home-sync/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(adguard-home-sync): replace HTTP health probes with TCP probes
  kubernetes/apps/dns-private/adguard-home-sync/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(renovate): eliminate duplicate VictoriaMetrics registry URLs
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
  kubernetes/flux/meta/repos/victoriametrics.yaml
Due: kustomize-build, yaml-validator

ci: simplify renovate workflow dispatch inputs
  .github/workflows/force-renovate.yaml
  .github/workflows/renovate.yaml
Due: none

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
