Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

Fix drift detection
  kubernetes/apps/default/kustomization.yaml
Due: kustomize-build, yaml-validator

fix: Use advancedMounts for filerun-html volume
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: kustomize-build, yaml-validator

Update flux-local-test directives for correctness in CLAUDE.md
  CLAUDE.md
Due: none

feat: add worker nodes sakura and hanekawa to cluster
  CLAUDE.md
  docs/memory-bank/docker-to-k8s-migration.md
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
  talos/clusterconfig/.gitignore
  talos/talconfig.yaml
Due: kustomize-build, yaml-validator

docs: Add volume mounting strategy and debug analysis guidelines
  CLAUDE.md
Due: none

feat: Add BookStack wiki application deployment
  kubernetes/apps/default/bookstack/helmrelease.yaml
  kubernetes/apps/default/bookstack/httproute.yaml
  kubernetes/apps/default/bookstack/ks.yaml
  kubernetes/apps/default/bookstack/kustomization.yaml
  kubernetes/apps/default/bookstack/mariadb.yaml
  kubernetes/apps/default/bookstack/pvc.yaml
  kubernetes/apps/default/bookstack/secret.sops.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: Set Authentik log level to warning to reduce log spam
  kubernetes/apps/default/authentik/helmrelease.yaml
Due: kustomize-build, yaml-validator

Remove echo test application
  MIGRATION.md
  kubernetes/apps/default/echo/helmrelease.yaml
  kubernetes/apps/default/echo/ks.yaml
  kubernetes/apps/default/echo/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: Add SilverBullet note-taking application
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/silverbullet/helmrelease.yaml
  kubernetes/apps/default/silverbullet/httproute.yaml
  kubernetes/apps/default/silverbullet/ks.yaml
  kubernetes/apps/default/silverbullet/kustomization.yaml
  kubernetes/apps/default/silverbullet/pvc.yaml
  kubernetes/apps/default/silverbullet/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix: Resolve YAML document separator and schema placement issues
  scripts/annotate-yaml.py
Due: none

fix: Standardize YAML language server schema URLs
  kubernetes/apps/default/bookstack/helmrelease.yaml
  kubernetes/apps/default/bookstack/ks.yaml
  kubernetes/apps/default/bookstack/kustomization.yaml
  kubernetes/apps/default/silverbullet/helmrelease.yaml
  kubernetes/apps/default/silverbullet/httproute.yaml
  kubernetes/apps/default/silverbullet/ks.yaml
  kubernetes/apps/default/silverbullet/pvc.yaml
  kubernetes/apps/kube-system/mariadb-operator/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: Implement comprehensive observability stack
  docs/memory-bank/observability-implementation-plan.md
  docs/memory-bank/observability-infrastructure-cleanup.md
  kubernetes/apps/default/homer/config/config.yml
  kubernetes/apps/observability/grafana/helmrelease.yaml
  kubernetes/apps/observability/grafana/httproute.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/grafana/secret.sops.yaml
  kubernetes/apps/observability/kube-prometheus-stack/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/httproute.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/loki/helmrelease.yaml
  kubernetes/apps/observability/loki/ks.yaml
  kubernetes/apps/observability/loki/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: Replace Prometheus/Loki with VictoriaMetrics/VictoriaLogs stack
  kubernetes/apps/observability/grafana/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/httproute.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/loki/helmrelease.yaml
  kubernetes/apps/observability/loki/ks.yaml
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-single/httproute.yaml
  kubernetes/apps/observability/victoria-logs-single/ks.yaml
  kubernetes/apps/observability/victoria-logs-single/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/httproute.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/ks.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! feat: Replace Prometheus/Loki with VictoriaMetrics/VictoriaLogs stack
  kubernetes/apps/observability/victoria-logs-single/ks.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/ks.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! feat: Replace Prometheus/Loki with VictoriaMetrics/VictoriaLogs stack
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
Due: kustomize-build, yaml-validator

fixup! feat: Replace Prometheus/Loki with VictoriaMetrics/VictoriaLogs stack
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

fixup! feat: Replace Prometheus/Loki with VictoriaMetrics/VictoriaLogs stack
  kubernetes/apps/observability/grafana/secret.sops.yaml
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
