Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

Documentation cleanup
  docs/architecture/dns-architecture.md
  docs/blocky-external-dns-webhook-design.md
  docs/memory-bank/immich-migration-context.md
  docs/memory-bank/rook-ceph-fsid-recovery.md
  docs/pvc-migration-pattern.md
Due: none

migrate-service slash command
  .claude/commands/migrate-service.md
Due: none

S3 access instructions added to CLAUDE.md
  CLAUDE.md
Due: none

docs: Consolidate validation procedures and reorganize script documentation
  .claude/settings.json
  CLAUDE.md
Due: none

Add Intel Device Plugin JSON schemas and YAML language server directive
  kubernetes/apps/kube-system/intel-gpu-plugin/gpu-device-plugin.yaml
  schemas/CLAUDE.md
  schemas/intel-device-plugins/deviceplugin.intel.com_dlbdeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_dsadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_fpgadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_gpudeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_iaadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_npudeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_qatdeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_sgxdeviceplugins.json
  schemas/intel-device-plugins/fpga.intel.com_acceleratorfunctions.json
  schemas/intel-device-plugins/fpga.intel.com_fpgaregions.json
  scripts/annotate-yaml.py
Due: kustomize-build, yaml-validator

wip: filerun
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/filerun/httproute.yaml
  kubernetes/apps/default/filerun/ks.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/filerun/pvc.yaml
  kubernetes/apps/default/filerun/secret.sops.yaml
  kubernetes/apps/default/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

Set default formatter for YAML files
  .vscode/settings.json
Due: none

wip: filerun
  CLAUDE.md
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/filerun/httproute.yaml
  kubernetes/apps/default/filerun/ks.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/filerun/pvc.yaml
  kubernetes/apps/default/filerun/secret.sops.yaml
  kubernetes/apps/default/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! wip: filerun
  kubernetes/apps/default/filerun/ks.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! wip: filerun
  kubernetes/apps/default/filerun/ks.yaml
  scripts/flux-local-test.sh
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! wip: filerun
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: kustomize-build, yaml-validator

docs: improve flux patterns and testing script
  CLAUDE.md
  scripts/flux-local-test.sh
Due: none

feat: add MariaDB operator to kube-system
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/mariadb-operator/helmrelease.yaml
  kubernetes/apps/kube-system/mariadb-operator/ks.yaml
  kubernetes/apps/kube-system/mariadb-operator/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! feat: add MariaDB operator to kube-system
  kubernetes/apps/kube-system/mariadb-operator/ks.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! wip: filerun
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/filerun/mariadb.yaml
Due: kustomize-build, yaml-validator

feat: filerun
  CLAUDE.md
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/filerun/httproute.yaml
  kubernetes/apps/default/filerun/ks.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/filerun/mariadb.yaml
  kubernetes/apps/default/filerun/pvc.yaml
  kubernetes/apps/default/filerun/secret.sops.yaml
  kubernetes/apps/default/kustomization.yaml
  scripts/flux-local-test.sh
Due: kustomize-build, validate-sops-config, yaml-validator

Improve migrate-service slash command
  .claude/commands/migrate-service.md
Due: none

docs: update CLAUDE.md with accurate taskfile locations and namespace corrections
  CLAUDE.md
Due: none

wip: bookstack
  kubernetes/apps/default/bookstack/helmrelease.yaml
  kubernetes/apps/default/bookstack/httproute.yaml
  kubernetes/apps/default/bookstack/ks.yaml
  kubernetes/apps/default/bookstack/kustomization.yaml
  kubernetes/apps/default/bookstack/mariadb.yaml
  kubernetes/apps/default/bookstack/pvc.yaml
  kubernetes/apps/default/bookstack/secret.sops.yaml
  kubernetes/apps/default/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: migrate NFS PVs to app directories
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/filerun/pv.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/pv.yaml
  kubernetes/apps/storage/nfs/seduoPDit
Due: kustomize-build, yaml-validator

Strengthen gitops protocols
  CLAUDE.md
Due: none

Fix drift detection
  kubernetes/apps/default/kustomization.yaml
Due: kustomize-build, yaml-validator

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
