Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

fix(filerun): correct volsync storage class for RWX volumes
  kubernetes/apps/default/filerun/ks.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(talos): enable ResourceHealthStatus to prevent DRA gRPC timeout
  talos/patches/global/machine-kubelet.yaml
Due: none

Reorganize homepage services
  kubernetes/apps/default/homepage/config/docker.yaml
  kubernetes/apps/default/homepage/config/kubernetes.yaml
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/homepage/config/settings.yaml
  kubernetes/apps/default/homepage/kustomization.yaml
Due: vector-vrl-validator

fix(sabnzbd): use emptyDir for incomplete downloads to prevent probe failures
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: vector-vrl-validator

fix(immich): resolve missing thumbnails by configuring separate storage paths
  kubernetes/apps/default/immich/configmap.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
Due: vector-vrl-validator

fix(k8s): add cross-namespace OCIRepository reference for app-template
  CLAUDE.md
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/homepage/helmrelease.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home-sync/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
  kubernetes/apps/home/esphome/helmrelease.yaml
  kubernetes/apps/home/home-assistant/helmrelease.yaml
  kubernetes/apps/home/otbr/helmrelease.yaml
  kubernetes/apps/home/zwave-js-ui/helmrelease.yaml
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/helmrelease.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/radarr-4k/helmrelease.yaml
  kubernetes/apps/media/radarr-anime/helmrelease.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/recyclarr/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/sonarr-anime/helmrelease.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/helmrelease.yaml
Due: vector-vrl-validator

build(deps): configure Talos package grouping and disable automerge
  .renovate/autoMerge.json5
  .renovate/groups.json5
Due: none

fix(talos): reduce NFS nconnect to prevent Intel NIC saturation
  talos/patches/global/machine-files.yaml
  talos/patches/global/machine-nfs.yaml
  talos/talconfig.yaml
Due: none

docs(backups): update strategy documentation for NFS backend migration
  docs/architecture/backup-strategy.md
Due: none

feat(authelia): enable volsync backup integration
  docs/memory-bank/volsync-backup-rollout.md
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/authelia/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

build(renovate): enable merge confidence badges and disable OSV alerts
  renovate.json5
Due: none

perf(k8s): optimize memory resource allocations across cluster apps
  kubernetes/apps/default/authelia/helmrelease.yaml
  kubernetes/apps/default/bookstack/helmrelease.yaml
  kubernetes/apps/default/homepage/helmrelease.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/silverbullet/helmrelease.yaml
  kubernetes/apps/home/esphome/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/helmrelease.yaml
  kubernetes/apps/observability/gatus/helmrelease.yaml
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/garage/helmrelease.yaml
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

fix(plex): correct HTTPRoute service reference
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

feat(adguard-home): implement active-passive failover for web UI
  kubernetes/apps/dns-private/adguard-home/backendtrafficpolicy.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/kustomization.yaml
Due: vector-vrl-validator

build(deps): group Mend Renovate CE updates
  .renovate/groups.json5
Due: none

refactor(k8s): reduce volsync backup frequency to 8h
  kubernetes/components/volsync/replicationsource.yaml
Due: none

fix(garage): correct chartRef namespace to flux-system
  kubernetes/apps/storage/garage/helmrelease.yaml
Due: vector-vrl-validator

docs(claude): update namespace-to-app mapping with missing apps
  CLAUDE.md
Due: none

mise: downgrade python to 3.13
  .mise.toml
Due: none

plex: temporarily disable health probes for debugging
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

fix(sabnzbd): remove duplicate hostname from whitelist
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: vector-vrl-validator

ci: Remove all renovate workflows
  .github/workflows/force-renovate.yaml
  .github/workflows/renovate-dashboard.yaml
  .github/workflows/renovate.yaml
Due: none

fix(plex): add controller reference to service for correct naming
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

fix(kopia): resolve health probe failures during initialization
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

feat(immich): separate profile PVC and enable volsync backup
  docs/memory-bank/volsync-backup-rollout.md
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

docs(k8s): prefer advancedMounts over globalMounts
  CLAUDE.md
Due: none

fix(k8s): increase memory limits for resource-constrained services
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
Due: vector-vrl-validator

refactor(k8s): consolidate OCIRepository definitions to flux/meta/repos
  CLAUDE.md
  kubernetes/apps/dns-private/external-dns/helmrelease.yaml
  kubernetes/apps/home/esphome/kustomization.yaml
  kubernetes/apps/home/home-assistant/kustomization.yaml
  kubernetes/apps/home/otbr/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui/kustomization.yaml
  kubernetes/apps/media/jellyseerr/kustomization.yaml
  kubernetes/apps/media/tautulli/kustomization.yaml
  kubernetes/apps/network/cloudflare-dns/crd.yaml
  kubernetes/apps/network/cloudflare-dns/httproute.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/namespace.yaml
  kubernetes/components/common/repos/app-template/kustomization.yaml
  kubernetes/components/common/repos/kustomization.yaml
  kubernetes/components/common/sops/email-secrets.sops.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/flux/meta/repos/app-template.yaml
  kubernetes/flux/meta/repos/external-dns.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Due: vector-vrl-validator
