Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

fixup! feat: add Infisical secret management infrastructure
  kubernetes/components/infisical/kustomization.yaml
Due: kustomize-build, yaml-validator

docs: add comprehensive Infisical secret management documentation
  CLAUDE.md
  README.md
Due: none

feat: add Infisical secret management infrastructure
  CLAUDE.md
  docs/memory-bank/infisical-migration-plan.md
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/infisical/helmrelease.yaml
  kubernetes/apps/default/infisical/ks.yaml
  kubernetes/apps/default/infisical/kustomization.yaml
  kubernetes/apps/default/infisical/postgres-cluster.yaml
  kubernetes/apps/default/infisical/postgres-scheduled-backup.yaml
  kubernetes/apps/default/infisical/secret.sops.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/infisical-operator/helmrelease.yaml
  kubernetes/apps/kube-system/infisical-operator/ks.yaml
  kubernetes/apps/kube-system/infisical-operator/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/infisical-secrets.sops.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/components/infisical/infisical-secret.yaml
  kubernetes/components/infisical/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: migrate silverbullet from SOPS to Infisical
  kubernetes/apps/default/silverbullet/helmrelease.yaml
  kubernetes/apps/default/silverbullet/ks.yaml
  kubernetes/apps/default/silverbullet/kustomization.yaml
  kubernetes/apps/default/silverbullet/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

mise: add bitwarden-secret-manager CLI (bws)
  .mise.toml
Due: none

gitignore add .infisical.json
  .gitignore
  scripts/update-gitignore/custom/01-secrets.gitignore
Due: none

Revert "feat: migrate silverbullet from SOPS to Infisical"
  kubernetes/apps/default/silverbullet/helmrelease.yaml
  kubernetes/apps/default/silverbullet/ks.yaml
  kubernetes/apps/default/silverbullet/kustomization.yaml
  kubernetes/apps/default/silverbullet/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

Revert "docs: add comprehensive Infisical secret management documentation"
  CLAUDE.md
  README.md
Due: none

Revert "feat: add Infisical secret management infrastructure"
  CLAUDE.md
  docs/memory-bank/infisical-migration-plan.md
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/infisical/helmrelease.yaml
  kubernetes/apps/default/infisical/ks.yaml
  kubernetes/apps/default/infisical/kustomization.yaml
  kubernetes/apps/default/infisical/postgres-cluster.yaml
  kubernetes/apps/default/infisical/postgres-scheduled-backup.yaml
  kubernetes/apps/default/infisical/secret.sops.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/infisical-operator/helmrelease.yaml
  kubernetes/apps/kube-system/infisical-operator/ks.yaml
  kubernetes/apps/kube-system/infisical-operator/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/infisical-secrets.sops.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/components/infisical/infisical-secret.yaml
  kubernetes/components/infisical/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: implement External Secrets Operator with Bitwarden integration
  CLAUDE.md
  kubernetes/apps/default/silverbullet/externalsecret.yaml
  kubernetes/apps/default/silverbullet/secret.sops.yaml
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/app/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/clustersecretstores.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/deployment.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/networkpolicy.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/secret.sops.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/service.yaml
  kubernetes/apps/kube-system/external-secrets/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/meta/repos/external-secrets.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Due: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

docs: clarify secret integration patterns and add rbw CLI tips
  CLAUDE.md
Due: none

feat: migrate authentik from SOPS to External Secrets Operator
  kubernetes/apps/default/authentik/blueprints/custom-users.yaml
  kubernetes/apps/default/authentik/externalsecret.yaml
  kubernetes/apps/default/authentik/ks.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/default/authentik/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: migrate Bitwarden integration to eznix86/bitwarden-external-secrets chart
  CLAUDE.md
  kubernetes/apps/default/authentik/bitwardensecret.yaml
  kubernetes/apps/default/authentik/externalsecret.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/default/silverbullet/bitwardensecret.yaml
  kubernetes/apps/default/silverbullet/externalsecret.yaml
  kubernetes/apps/default/silverbullet/helmrelease.yaml
  kubernetes/apps/default/silverbullet/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/clustersecretstores.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/deployment.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/networkpolicy.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/pvc.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/secret.sops.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/service.yaml
  kubernetes/apps/kube-system/external-secrets/ks.yaml
  kubernetes/flux/meta/repos/eznix86-charts.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix: exclude SOPS encrypted files from pre-commit YAML hooks
  .pre-commit-config.yaml
Due: none

docs: enhance GitOps protocols and debugging guidelines
  .claude/settings.json
  CLAUDE.md
Due: none

refactor: Remove svc.cluster.local from cluster hostnames
  kubernetes/apps/default/immich/configmap.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/resources/config.yaml
  kubernetes/apps/observability/grafana/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat: add debug-cluster slash command for GitOps-compliant troubleshooting
  .claude/commands/debug-cluster.md
Due: none

refactor: migrate secret management from Bitwarden to Infisical
  CLAUDE.md
  kubernetes/apps/default/authentik/bitwardensecret.yaml
  kubernetes/apps/default/authentik/externalsecret.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/default/silverbullet/bitwardensecret.yaml
  kubernetes/apps/default/silverbullet/externalsecret.yaml
  kubernetes/apps/default/silverbullet/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/pvc.yaml
  kubernetes/apps/kube-system/external-secrets/bitwarden/secret.sops.yaml
  kubernetes/apps/kube-system/external-secrets/infisical/ks.yaml
  kubernetes/apps/kube-system/external-secrets/infisical/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/infisical/secret.sops.yaml
  kubernetes/apps/kube-system/external-secrets/infisical/secretstore.yaml
  kubernetes/apps/kube-system/external-secrets/ks.yaml
  kubernetes/flux/meta/repos/eznix86-charts.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

docs: enhance namespace management documentation
  CLAUDE.md
Due: none

fix: resolve qBittorrent configuration write errors
  CLAUDE.md
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/qbittorrent/pvc.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: add Radarr 4K deployment with migration support
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr-4k/helmrelease.yaml
  kubernetes/apps/media/radarr-4k/ks.yaml
  kubernetes/apps/media/radarr-4k/kustomization.yaml
  kubernetes/apps/media/radarr-4k/pvc.yaml
  kubernetes/apps/media/radarr-4k/securitypolicy.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
