Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

reloader-validator:
  name: Reloader Annotation Validator
  entry: scripts/pre-commit/reloader-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations

vector-vrl-validator:
  name: Vector VRL Validation
  entry: scripts/pre-commit/validate-vector-vrl.sh
  language: script
  description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

build(deps): fix rook-ceph package matching pattern
  .renovate/autoMerge.json5
  .renovate/groups.json5
Due: none

add renovate group for mariadb-operator
  .renovate/groups.json5
Due: none

docs(claude): add app-to-namespace mapping reference
  CLAUDE.md
Due: none

docs(claude): correct technical inaccuracies in CLAUDE.md
  CLAUDE.md
Due: none

docs(claude): reorganize and optimize CLAUDE.md
  CLAUDE.md
Due: none

docs: correct wording in CLAUDE.md for namespace mappings
  CLAUDE.md
Due: none

docs(plex): condense troubleshooting investigation
  docs/troubleshooting/plex-timeout-investigation.md
Due: none

refactor(victoria-logs): modularize Vector config into separate files
  .pre-commit-config.yaml
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-single/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-single/vector/vector-sinks.yaml
  kubernetes/apps/observability/victoria-logs-single/vector/vector-sources.yaml
  kubernetes/apps/observability/victoria-logs-single/vector/vector-transforms.yaml
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-cloudflare-tunnel.vrl
  scripts/pre-commit/validate-vector-vrl.sh
  scripts/test-vector-config.py
  scripts/test-vector/.gitignore
  scripts/test-vector/docker-compose.yaml
  scripts/test-vector/test-vector.sh
  scripts/test-vector/vector-sinks.yaml
  scripts/test-vector/vector-sources.yaml
Due: vector-vrl-validator

fix(grafana): configure external URL for VictoriaLogs VMUI links
  kubernetes/apps/observability/grafana/helmrelease.yaml
Due: vector-vrl-validator

pre-commit: remove commented out local hooks
  .pre-commit-config.yaml
Due: none

docs(claudemd): restructure into tiered organization system
  CLAUDE.md
Due: none

refactor(sabnzbd): move config values from SOPS to HelmRelease
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/media/sabnzbd/secret.sops.yaml
Due: validate-sops-config, vector-vrl-validator

refactor(qbittorrent): migrate SOPS secret to Infisical
  kubernetes/apps/media/qbittorrent/externalsecret.yaml
  kubernetes/apps/media/qbittorrent/kustomization.yaml
  kubernetes/apps/media/qbittorrent/secret.sops.yaml
Due: validate-sops-config, vector-vrl-validator

docs(claudemd): clarify Infisical secret naming and folder creation
  CLAUDE.md
Due: none

refactor(cert-manager): migrate SOPS secret to Infisical
  kubernetes/apps/cert-manager/cert-manager/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/secret.sops.yaml
Due: validate-sops-config, vector-vrl-validator

refactor(flux-instance): migrate SOPS secret to Infisical
  kubernetes/apps/flux-system/flux-instance/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/secret.sops.yaml
Due: validate-sops-config, vector-vrl-validator

refactor(grafana): migrate SOPS secret to Infisical
  kubernetes/apps/observability/grafana/externalsecret.yaml
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/grafana/secret.sops.yaml
Due: validate-sops-config, vector-vrl-validator

refactor(cloudflare-dns): migrate SOPS secret to Infisical
  kubernetes/apps/network/cloudflare-dns/externalsecret.yaml
  kubernetes/apps/network/cloudflare-dns/kustomization.yaml
  kubernetes/apps/network/cloudflare-dns/secret.sops.yaml
Due: validate-sops-config, vector-vrl-validator

refactor(cloudflare-tunnel): migrate SOPS secret to Infisical
  kubernetes/apps/network/cloudflare-tunnel/externalsecret.yaml
  kubernetes/apps/network/cloudflare-tunnel/kustomization.yaml
  kubernetes/apps/network/cloudflare-tunnel/secret.sops.yaml
Due: validate-sops-config, vector-vrl-validator

fix(plex): increase probe timeout to prevent spurious restarts
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

wip
  .env.json
  .mcp.json
  .mise.toml
  .sops.yaml
Due: none

Path conditions:
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  reloader-validator: any of: ^kubernetes/apps/.*/ks\.yaml$
  vector-vrl-validator: any of: ^kubernetes/apps/.*/.*\.(yaml|vrl)$
