Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

feat(media): add Bazarr for subtitle management
  kubernetes/apps/default/authentik/blueprints/bazarr-application.yaml
  kubernetes/apps/default/authentik/blueprints/bazarr-provider.yaml
  kubernetes/apps/default/authentik/blueprints/outpost-configuration.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/bazarr/kustomization.yaml
  kubernetes/apps/media/bazarr/pvc.yaml
  kubernetes/apps/media/bazarr/securitypolicy.yaml
  kubernetes/apps/media/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(media): add Jellyseerr for media request management
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/media/jellyseerr/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/jellyseerr/kustomization.yaml
  kubernetes/apps/media/jellyseerr/pvc.yaml
  kubernetes/apps/media/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(homepage): add Ceph Dashboard and update Unraid ping
  kubernetes/apps/default/homepage/config/services.yaml
Due: kustomize-build, yaml-validator

feat(observability): add PVC capacity alerts for Rook Ceph volumes
  kubernetes/apps/observability/vmrules/kustomization.yaml
  kubernetes/apps/observability/vmrules/pvc-alerts.yaml
Due: kustomize-build, yaml-validator

feat(observability): migrate VictoriaMetrics alerting to Pushover
  kubernetes/apps/observability/victoria-metrics-k8s-stack/discord-webhook-secret.sops.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/externalsecret.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! feat(observability): migrate VictoriaMetrics alerting to Pushover
  kubernetes/apps/observability/victoria-metrics-k8s-stack/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
Due: kustomize-build, yaml-validator

fixup! feat(observability): migrate VictoriaMetrics alerting to Pushover
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
Due: kustomize-build, yaml-validator

feat(observability): migrate VictoriaMetrics alerting to Pushover
  kubernetes/apps/observability/victoria-metrics-k8s-stack/discord-webhook-secret.sops.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/externalsecret.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

chore: simplify VS Code workspace settings
  .vscode/settings.json
Due: none

fix bookstack status URL in homepage
  kubernetes/apps/default/homepage/config/services.yaml
Due: kustomize-build, yaml-validator

feat(dns): disable AdGuard Home authentication for internal cluster access
  kubernetes/apps/dns-private/adguard-home-sync/data/adguardhome-sync.yaml
  kubernetes/apps/dns-private/adguard-home/data/AdGuardHome.yaml
Due: kustomize-build, yaml-validator

chore(dns): migrate dns-private secrets from SOPS to Infisical
  kubernetes/apps/dns-private/secret/externalsecret.yaml
  kubernetes/apps/dns-private/secret/kustomization.yaml
  kubernetes/apps/dns-private/secret/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(dns): add Authentik SSO protection for AdGuard Home external access
  kubernetes/apps/default/authentik/blueprints/adguard-home-application.yaml
  kubernetes/apps/default/authentik/blueprints/adguard-home-provider.yaml
  kubernetes/apps/default/authentik/blueprints/outpost-configuration.yaml
  kubernetes/apps/default/authentik/helmrelease.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home/securitypolicy.yaml
Due: kustomize-build, yaml-validator

docs(authentik): document ReferenceGrant namespace requirements for SecurityPolicy
  CLAUDE.md
  kubernetes/apps/default/authentik/referencegrant.yaml
  kubernetes/apps/dns-private/adguard-home/securitypolicy.yaml
  kubernetes/apps/media/bazarr/securitypolicy.yaml
  kubernetes/apps/media/prowlarr/securitypolicy.yaml
  kubernetes/apps/media/qbittorrent/securitypolicy.yaml
  kubernetes/apps/media/radarr-4k/securitypolicy.yaml
  kubernetes/apps/media/radarr-anime/securitypolicy.yaml
  kubernetes/apps/media/radarr/securitypolicy.yaml
  kubernetes/apps/media/sabnzbd/securitypolicy.yaml
  kubernetes/apps/media/sonarr-anime/securitypolicy.yaml
  kubernetes/apps/media/sonarr/securitypolicy.yaml
Due: kustomize-build, yaml-validator

fix(authentik): standardize SecurityPolicy configuration across all apps
  CLAUDE.md
  kubernetes/apps/dns-private/adguard-home/securitypolicy.yaml
  kubernetes/apps/media/bazarr/securitypolicy.yaml
  kubernetes/apps/media/prowlarr/securitypolicy.yaml
  kubernetes/apps/media/qbittorrent/securitypolicy.yaml
  kubernetes/apps/media/sabnzbd/securitypolicy.yaml
  kubernetes/apps/media/sonarr-anime/securitypolicy.yaml
  kubernetes/apps/media/sonarr/securitypolicy.yaml
Due: kustomize-build, yaml-validator

fix(victoria-metrics): add memory limits to config-reloader sidecars
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

docs(claude): add context7 requirement to debug-cluster command
  .claude/commands/debug-cluster.md
Due: none

fix(grafana): add memory limits to sidecar containers
  kubernetes/apps/observability/grafana/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(volsync): add KOPIA_REPOSITORY field required by VolSync 0.16.8
  kubernetes/components/volsync/secret.yaml
Due: kustomize-build, yaml-validator

fix(sabnzbd,authentik): increase resource limits and health probe timeouts
  kubernetes/apps/default/authentik/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: kustomize-build, yaml-validator

increase size of plex config pvc
  kubernetes/apps/media/plex/pvc.yaml
Due: kustomize-build, yaml-validator

Update recyclarr configs with latest Trash Guides templates
  kubernetes/apps/media/recyclarr/configs/radarr-1080p.yaml
  kubernetes/apps/media/recyclarr/configs/radarr-4k.yaml
  kubernetes/apps/media/recyclarr/configs/radarr-anime.yaml
  kubernetes/apps/media/recyclarr/configs/sonarr-anime.yaml
  kubernetes/apps/media/recyclarr/configs/sonarr-series.yaml
Due: kustomize-build, yaml-validator

fix(vmrules): prevent division by zero in ContainerHighMemory alert
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
Due: kustomize-build, yaml-validator

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
