Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
  - id: end-of-file-fixer
    name: Fix End of Files

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  - id: kustomize-build
    name: Kustomize Build Check
    entry: scripts/pre-commit/kustomize-build-check.sh
    language: script
    files: '^kubernetes/.*\.ya?ml$'
    pass_filenames: false
    description: Validates that all kustomizations can build successfully
  - id: kubectl-dry-run-server
    name: Server-Side K8s Validation
    entry: scripts/pre-commit/validate-sops-k8s.sh
    language: script
    files: '^kubernetes/apps/.*/app/.*\.yaml$'
    exclude: '(values\.yaml|kustomizeconfig\.yaml)$'
    description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: yaml-validator
    name: YAML Validator
    entry: scripts/pre-commit/yaml-validator/yaml-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0", "jsonpath-ng>=1.6.0"]
    files: '^kubernetes/.*\.ya?ml$'
    description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

- repo: https://github.com/google/yamlfmt
  rev: v0.17.2
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

feat: add Radarr 4K deployment with migration support
  kubernetes/apps/default/authentik/blueprints/outpost-configuration.yaml
  kubernetes/apps/default/authentik/blueprints/radarr-4k-application.yaml
  kubernetes/apps/default/authentik/blueprints/radarr-4k-provider.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr-4k/helmrelease.yaml
  kubernetes/apps/media/radarr-4k/ks.yaml
  kubernetes/apps/media/radarr-4k/kustomization.yaml
  kubernetes/apps/media/radarr-4k/pvc.yaml
  kubernetes/apps/media/radarr-4k/securitypolicy.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: implement OpenEBS LocalPV hostpath for VolSync cache storage
  kubernetes/apps/media/qbittorrent/pvc.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/openebs/helmrelease.yaml
  kubernetes/apps/storage/openebs/ks.yaml
  kubernetes/apps/storage/openebs/kustomization.yaml
  kubernetes/apps/storage/volsync/ks.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
  kubernetes/flux/meta/repos/openebs.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

refactor: migrate from static NFS PersistentVolumes to inline NFS volumes
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/filerun/pv.yaml
  kubernetes/apps/default/filerun/pvc.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/pv.yaml
  kubernetes/apps/default/immich/pvc.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/pvc.yaml
  kubernetes/apps/media/radarr-4k/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/sonarr-anime/helmrelease.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/nfs/ks.yaml
  kubernetes/apps/storage/nfs/kustomization.yaml
  kubernetes/apps/storage/nfs/persistentvolumes.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix: resolve VictoriaMetrics OOMKill via aggressive label cardinality reduction
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix: increase health probe timeouts for BookStack and Authentik
  kubernetes/apps/default/authentik/helmrelease.yaml
  kubernetes/apps/default/bookstack/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat: add Radarr and Radarr Anime deployments with NFS migration
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr-anime/helmrelease.yaml
  kubernetes/apps/media/radarr-anime/ks.yaml
  kubernetes/apps/media/radarr-anime/kustomization.yaml
  kubernetes/apps/media/radarr-anime/pvc.yaml
  kubernetes/apps/media/radarr-anime/securitypolicy.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/radarr/kustomization.yaml
  kubernetes/apps/media/radarr/pvc.yaml
  kubernetes/apps/media/radarr/securitypolicy.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix: add kubelet extraMounts for OpenEBS LocalPV hostpath storage
  talos/patches/global/machine-kubelet.yaml
Due: none

feat: add Radarr and Radarr Anime with Authentik integration and NFS storage
  kubernetes/apps/default/authentik/blueprints/outpost-configuration.yaml
  kubernetes/apps/default/authentik/blueprints/radarr-anime-application.yaml
  kubernetes/apps/default/authentik/blueprints/radarr-anime-provider.yaml
  kubernetes/apps/default/authentik/blueprints/radarr-application.yaml
  kubernetes/apps/default/authentik/blueprints/radarr-provider.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr-anime/helmrelease.yaml
  kubernetes/apps/media/radarr-anime/ks.yaml
  kubernetes/apps/media/radarr-anime/kustomization.yaml
  kubernetes/apps/media/radarr-anime/pvc.yaml
  kubernetes/apps/media/radarr-anime/securitypolicy.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/radarr/kustomization.yaml
  kubernetes/apps/media/radarr/pvc.yaml
  kubernetes/apps/media/radarr/securitypolicy.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix: remove KOPIA_S3_BUCKET to resolve VolSync mixed S3 config
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/components/volsync/secret.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

docs: convert bold pseudo-headings to proper markdown
  CLAUDE.md
Due: none

docs: enhance Infisical CLI guidance with comprehensive examples
  CLAUDE.md
Due: none

fix(gateway): add explicit HTTPS section references to HTTPRoutes
  kubernetes/apps/default/bookstack/helmrelease.yaml
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix: downgrade elasticsearch to fix filerun
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix: expand filerun ceph PVC
  kubernetes/apps/default/filerun/pvc.yaml
Due: kustomize-build, yaml-validator

fix(volsync): add trailing slash to Kopia S3 repository URLs
  kubernetes/components/volsync/secret.yaml
Due: kustomize-build, yaml-validator

fix(volsync): use KOPIA_S3_PREFIX instead of KOPIA_REPOSITORY URL
  kubernetes/components/volsync/secret.yaml
Due: kustomize-build, yaml-validator

feat(media): add recyclarr for Sonarr/Radarr quality management
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr-4k/externalsecret.yaml
  kubernetes/apps/media/radarr-4k/helmrelease.yaml
  kubernetes/apps/media/radarr-4k/kustomization.yaml
  kubernetes/apps/media/radarr-anime/externalsecret.yaml
  kubernetes/apps/media/radarr-anime/helmrelease.yaml
  kubernetes/apps/media/radarr-anime/kustomization.yaml
  kubernetes/apps/media/radarr/externalsecret.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/radarr/kustomization.yaml
  kubernetes/apps/media/recyclarr/.env.example
  kubernetes/apps/media/recyclarr/.gitignore
  kubernetes/apps/media/recyclarr/configs/radarr-1080p.yaml
  kubernetes/apps/media/recyclarr/configs/radarr-4k.yaml
  kubernetes/apps/media/recyclarr/configs/radarr-anime.yaml
  kubernetes/apps/media/recyclarr/configs/sonarr-anime.yaml
  kubernetes/apps/media/recyclarr/configs/sonarr-series.yaml
  kubernetes/apps/media/recyclarr/docker-compose.yaml
  kubernetes/apps/media/recyclarr/externalsecret.yaml
  kubernetes/apps/media/recyclarr/helmrelease.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/recyclarr/kustomization.yaml
  kubernetes/apps/media/recyclarr/pvc.yaml
  kubernetes/apps/media/recyclarr/recyclarr.sh
  kubernetes/apps/media/sonarr-anime/externalsecret.yaml
  kubernetes/apps/media/sonarr-anime/helmrelease.yaml
  kubernetes/apps/media/sonarr-anime/kustomization.yaml
  kubernetes/apps/media/sonarr/externalsecret.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/media/sonarr/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix(volsync): correct openebs dependency namespace reference
  kubernetes/apps/storage/volsync/ks.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

docs(slash-command): refactor migrate-service with Kubernetes-first design
  .claude/commands/migrate-service.md
Due: none

feat(media): add Jellyseerr for media request management
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/media/jellyseerr/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/jellyseerr/kustomization.yaml
  kubernetes/apps/media/jellyseerr/pvc.yaml
  kubernetes/apps/media/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(homepage): add Ceph Dashboard and update Unraid ping
  kubernetes/apps/default/homepage/config/services.yaml
Due: kustomize-build, yaml-validator
