Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

wip: fix opencloud
  .github/workflows/build-authelia-oauth-proxy.yaml
  containers/authelia-oauth-proxy/Dockerfile
  containers/authelia-oauth-proxy/go.mod
  containers/authelia-oauth-proxy/main.go
  docs/troubleshooting/opencloud-authelia-groups-claim-2025-11-16.md
  kubernetes/apps/default/authelia/config/configuration.yaml
  kubernetes/apps/default/authelia/config/oidc-base.yaml
  kubernetes/apps/default/authelia/config/oidc-clients.yaml
  kubernetes/apps/default/authelia/externalsecret.yaml
  kubernetes/apps/default/authelia/helmrelease.yaml
  kubernetes/apps/default/authelia/kustomization.yaml
  kubernetes/apps/default/authelia/oauth-scope-injection.yaml
  kubernetes/apps/default/opencloud/config/csp.yaml
  kubernetes/apps/default/opencloud/config/proxy.yaml
  kubernetes/apps/default/opencloud/externalsecret.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
  kubernetes/apps/default/opencloud/kustomization.yaml
  scripts/test-authelia-claims.sh
  scripts/test-authelia-userinfo.sh
Due: vector-vrl-validator

chore: Allow details/summary HTML elements in markdown
  .markdownlint-cli2.yaml
Due: none

chore: Replace gitleaksignore with path-based TOML config
  .gitleaks.toml
  .gitleaksignore
  .mise.toml
Due: none

docs: Add comprehensive OIDC/OAuth reference guide
  docs/reference/oidc-oauth-reference.md
Due: none

fix(kopia): Increase probe initial delay for NFS startup
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

fix(vmrules): Reduce PodCrashLooping alert sensitivity
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
Due: vector-vrl-validator

fix(plex): increase vector sidecar memory limit to resolve alert
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

fix(victoria-logs-single): resolve PodCrashLooping with OnDelete updateStrategy
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
Due: vector-vrl-validator

refactor(sabnzbd): simplify tmpfs mounts to use separate emptyDirs
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: vector-vrl-validator

fix(renovate): prevent Python mise tool auto-merge with explicit exclusion
  .renovate/autoMerge.json5
Due: none

test(observability): disable Victoria stack and Plex Vector for Ceph testing
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
Due: vector-vrl-validator

chore: add renohate bot to gitIgnoredAuthors
  renovate.json5
Due: none

docs(plex): document Intel GPU driver failure terminating hang
  docs/troubleshooting/plex-timeout-investigation.md
Due: none

disable renovate-ce in favor of mend.io hosted platform
  kubernetes/apps/default/kustomization.yaml
Due: vector-vrl-validator

feat(tuppr): add automated Talos and Kubernetes upgrade controller
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetes.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talos.yaml
  talos/patches/controller/machine-kubernetes-api-access.yaml
  talos/talconfig.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

refactor(k8s): reduce volsync backup frequency to 8h
  kubernetes/components/volsync/replicationsource.yaml
Due: none

fix(plex): correct HTTPRoute service reference
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

plex: temporarily disable health probes for debugging
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

refactor(media): migrate apps to internal gateway and remove Authelia
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/bazarr/kustomization.yaml
  kubernetes/apps/media/bazarr/securitypolicy.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/prowlarr/kustomization.yaml
  kubernetes/apps/media/prowlarr/securitypolicy.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/kustomization.yaml
  kubernetes/apps/media/qbittorrent/securitypolicy.yaml
  kubernetes/apps/media/radarr-4k/helmrelease.yaml
  kubernetes/apps/media/radarr-4k/kustomization.yaml
  kubernetes/apps/media/radarr-4k/securitypolicy.yaml
  kubernetes/apps/media/radarr-anime/helmrelease.yaml
  kubernetes/apps/media/radarr-anime/kustomization.yaml
  kubernetes/apps/media/radarr-anime/securitypolicy.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/radarr/kustomization.yaml
  kubernetes/apps/media/radarr/securitypolicy.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/media/sabnzbd/securitypolicy.yaml
  kubernetes/apps/media/sonarr-anime/helmrelease.yaml
  kubernetes/apps/media/sonarr-anime/kustomization.yaml
  kubernetes/apps/media/sonarr-anime/securitypolicy.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/media/sonarr/kustomization.yaml
  kubernetes/apps/media/sonarr/securitypolicy.yaml
Due: vector-vrl-validator

fix(sabnzbd): remove duplicate hostname from whitelist
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: vector-vrl-validator

fix(kopia): resolve health probe failures during initialization
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

fix(plex): add controller reference to service for correct naming
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

docs(claude): update namespace-to-app mapping with missing apps
  CLAUDE.md
Due: none

feat(garage): migrate S3 storage to in-cluster deployment
  CLAUDE.md
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/immich/externalsecret.yaml
  kubernetes/apps/default/immich/postgres-cluster.yaml
  kubernetes/apps/storage/garage/config/garage.toml
  kubernetes/apps/storage/garage/externalsecret.yaml
  kubernetes/apps/storage/garage/helmrelease.yaml
  kubernetes/apps/storage/garage/ks.yaml
  kubernetes/apps/storage/garage/kustomization.yaml
  kubernetes/apps/storage/garage/pvc.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(adguard-home): implement active-passive failover for web UI
  kubernetes/apps/dns-private/adguard-home/backendtrafficpolicy.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/kustomization.yaml
Due: vector-vrl-validator

fix(talos): reduce NFS nconnect to prevent Intel NIC saturation
  talos/patches/global/machine-files.yaml
  talos/patches/global/machine-nfs.yaml
  talos/talconfig.yaml
Due: none

refactor(k8s): consolidate OCIRepository definitions to flux/meta/repos
  CLAUDE.md
  kubernetes/apps/dns-private/external-dns/helmrelease.yaml
  kubernetes/apps/home/esphome/kustomization.yaml
  kubernetes/apps/home/home-assistant/kustomization.yaml
  kubernetes/apps/home/otbr/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui/kustomization.yaml
  kubernetes/apps/media/jellyseerr/kustomization.yaml
  kubernetes/apps/media/tautulli/kustomization.yaml
  kubernetes/apps/network/cloudflare-dns/crd.yaml
  kubernetes/apps/network/cloudflare-dns/httproute.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/namespace.yaml
  kubernetes/components/common/repos/app-template/kustomization.yaml
  kubernetes/components/common/repos/kustomization.yaml
  kubernetes/components/common/sops/email-secrets.sops.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/flux/meta/repos/app-template.yaml
  kubernetes/flux/meta/repos/external-dns.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Due: vector-vrl-validator

ci: Remove all renovate workflows
  .github/workflows/force-renovate.yaml
  .github/workflows/renovate-dashboard.yaml
  .github/workflows/renovate.yaml
Due: none

mise: downgrade python to 3.13
  .mise.toml
Due: none

fix(k8s): increase memory limits for resource-constrained services
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
Due: vector-vrl-validator

feat(headlamp): add Kubernetes web UI for cluster management
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/kube-system/headlamp/helmrelease.yaml
  kubernetes/apps/kube-system/headlamp/helmrepository.yaml
  kubernetes/apps/kube-system/headlamp/httproute.yaml
  kubernetes/apps/kube-system/headlamp/ks.yaml
  kubernetes/apps/kube-system/headlamp/kustomization.yaml
  kubernetes/apps/kube-system/headlamp/rbac.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(authelia): enable volsync backup integration
  docs/memory-bank/volsync-backup-rollout.md
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/authelia/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator
