Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

fixup! feat: Replace Prometheus/Loki with VictoriaMetrics/VictoriaLogs stack
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
Due: kustomize-build, yaml-validator

Fix structure of some items in CLAUDE.md
  CLAUDE.md
Due: none

fixup! feat: Replace Prometheus/Loki with VictoriaMetrics/VictoriaLogs stack
  docs/memory-bank/observability-implementation-plan.md
  docs/memory-bank/observability-infrastructure-cleanup.md
  kubernetes/apps/observability/grafana/helmrelease.yaml
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/grafana/resources/k8s-views-global.json
Due: kustomize-build, yaml-validator

fixup! feat: Replace Prometheus/Loki with VictoriaMetrics/VictoriaLogs stack
  kubernetes/apps/observability/grafana/helmrelease.yaml
  kubernetes/apps/observability/grafana/resources/k8s-views-global.json
Due: kustomize-build, yaml-validator

fixup! feat: Replace Prometheus/Loki with VictoriaMetrics/VictoriaLogs stack
  kubernetes/apps/observability/grafana/helmrelease.yaml
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/grafana/resources/k8s-views-global.json
Due: kustomize-build, yaml-validator

fixup! feat: Replace Prometheus/Loki with VictoriaMetrics/VictoriaLogs stack
  kubernetes/apps/observability/grafana/resources/k8s-views-global.json
Due: none

fix(immich): add intel-gpu-plugin dependency
  CLAUDE.md
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/ks.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix(talos): update talos to v1.11.1 and kubernetes to v1.34.0
  talos/talenv.yaml
Due: none

fix(intel-gpu-plugin): update to version 0.34.0
  kubernetes/apps/kube-system/intel-gpu-plugin/gpu-device-plugin.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(talos): enable intel gpu optimizations
  talos/patches/global/machine-intel-gpu.yaml
  talos/talconfig.yaml
Due: none

fix: improve health probe configurations
  kubernetes/apps/dns-private/adguard-home-sync/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/helmrelease.yaml
Due: kustomize-build, yaml-validator

docs: add mandatory documentation requirements for special configurations
  CLAUDE.md
Due: none

fix(intel-gpu-plugin): resolve operator readiness probe timeout failures
  kubernetes/apps/kube-system/intel-gpu-plugin/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(adguard-home-sync): improve health probe configurations
  kubernetes/apps/dns-private/adguard-home-sync/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(grafana): add kubernetes-global dashboard for cluster overview
  kubernetes/apps/observability/grafana/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(homer): add dedicated Observability section with VictoriaMetrics stack
  kubernetes/apps/default/homer/config/config.yml
Due: kustomize-build, yaml-validator

feat(homepage): replace homer with modern homepage dashboard
  kubernetes/apps/default/homepage/config/bookmarks.yaml
  kubernetes/apps/default/homepage/config/docker.yaml
  kubernetes/apps/default/homepage/config/kubernetes.yaml
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/homepage/config/settings.yaml
  kubernetes/apps/default/homepage/config/widgets.yaml
  kubernetes/apps/default/homepage/helmrelease.yaml
  kubernetes/apps/default/homepage/icons/apc.png
  kubernetes/apps/default/homepage/icons/att.png
  kubernetes/apps/default/homepage/icons/borgbase.png
  kubernetes/apps/default/homepage/icons/nami.png
  kubernetes/apps/default/homepage/icons/sprinkler.png
  kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/default/homepage/kustomization.yaml
  kubernetes/apps/default/homer/config/config.yml
  kubernetes/apps/default/homer/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/helmrelease.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(homepage): replace homer with modern homepage dashboard
  CLAUDE.md
  kubernetes/apps/default/homepage/config/bookmarks.yaml
  kubernetes/apps/default/homepage/config/docker.yaml
  kubernetes/apps/default/homepage/config/kubernetes.yaml
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/homepage/config/settings.yaml
  kubernetes/apps/default/homepage/config/widgets.yaml
  kubernetes/apps/default/homepage/helmrelease.yaml
  kubernetes/apps/default/homepage/icons/apc.png
  kubernetes/apps/default/homepage/icons/att.png
  kubernetes/apps/default/homepage/icons/borgbase.png
  kubernetes/apps/default/homepage/icons/nami.png
  kubernetes/apps/default/homepage/icons/sprinkler.png
  kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/default/homepage/kustomization.yaml
  kubernetes/apps/default/homer/config/config.yml
  kubernetes/apps/default/homer/helmrelease.yaml
  kubernetes/apps/default/homer/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/helmrelease.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(qbittorrent): migrate from default to media namespace
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/httproute.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/qbittorrent/kustomization.yaml
  kubernetes/apps/media/qbittorrent/pvc.yaml
  kubernetes/apps/media/qbittorrent/secret.sops.yaml
  kubernetes/apps/media/qbittorrent/securitypolicy.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(authentik): implement GitOps configuration with blueprints
  kubernetes/apps/default/authentik/blueprints/custom-users.yaml
  kubernetes/apps/default/authentik/blueprints/outpost-configuration.yaml
  kubernetes/apps/default/authentik/blueprints/qbittorrent-application.yaml
  kubernetes/apps/default/authentik/blueprints/qbittorrent-provider.yaml
  kubernetes/apps/default/authentik/helmrelease.yaml
  kubernetes/apps/default/authentik/ks.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/default/authentik/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

docs(migrate-service): require app-scout analysis step
  .claude/commands/migrate-service.md
Due: none

docs: add comprehensive container image standards
  CLAUDE.md
Due: none

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
