Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
    name: Check YAML syntax
    description: Validates YAML files for syntax errors
    files: '\.ya?ml$'
    args: [--allow-multiple-documents]
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
  - id: end-of-file-fixer
    name: Fix End of Files

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks

  - id: kustomize-build
    name: Kustomize Build Check
    entry: scripts/pre-commit/kustomize-build-check.sh
    language: script
    files: '^kubernetes/.*\.ya?ml$'
    pass_filenames: false
    description: Validates that all kustomizations can build successfully

  - id: kubectl-dry-run-server
    name: Server-Side K8s Validation
    entry: scripts/pre-commit/validate-sops-k8s.sh
    language: script
    files: '^kubernetes/apps/.*/app/.*\.yaml$'
    exclude: '(values\.yaml|kustomizeconfig\.yaml)$'
    description: Server-side validation with SOPS decryption and template variable resolution

  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'

refactor: standardize reloader and ConfigMap naming patterns
  CLAUDE.md
  kubernetes/apps/default/homer/kustomization.yaml
  kubernetes/apps/default/qbittorrent/helmrelease.yaml
  kubernetes/apps/network/cloudflare-dns/shared-values.yaml
  kubernetes/apps/network/cloudflare-tunnel/helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/kustomization.yaml
Due: kustomize-build

wip: migrate to blocky from technitium
  .pre-commit-config.yaml
  .yaml-validator.yaml
  kubernetes/apps/dns-private/blocky-ui/helmrelease.yaml
  kubernetes/apps/dns-private/blocky-ui/ks.yaml
  kubernetes/apps/dns-private/blocky-ui/kustomization.yaml
  kubernetes/apps/dns-private/blocky/config.yml
  kubernetes/apps/dns-private/blocky/helmrelease.yaml
  kubernetes/apps/dns-private/blocky/ks.yaml
  kubernetes/apps/dns-private/blocky/kustomization.yaml
  kubernetes/apps/dns-private/external-dns/dnsendpoint.yaml
  kubernetes/apps/dns-private/external-dns/shared-values.yaml
  kubernetes/apps/dns-private/technitium-dns/advancedForwarding.json
  kubernetes/apps/dns-private/technitium-dns/kustomization.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomizeconfig.yaml
  kubernetes/apps/dns-private/technitium-dns/pvc.yaml
  kubernetes/apps/dns-private/technitium-dns/secret.sops.yaml
  scripts/pre-commit/yaml-validator/requirements.txt
  scripts/pre-commit/yaml-validator/schema.json
  scripts/pre-commit/yaml-validator/yaml-validator.py
Due: kustomize-build, validate-sops-config

wip: migrate to blocky from technitium
  .pre-commit-config.yaml
  .yaml-validator.yaml
  kubernetes/apps/dns-private/blocky-ui/helmrelease.yaml
  kubernetes/apps/dns-private/blocky-ui/ks.yaml
  kubernetes/apps/dns-private/blocky-ui/kustomization.yaml
  kubernetes/apps/dns-private/blocky/config.yml
  kubernetes/apps/dns-private/blocky/helmrelease.yaml
  kubernetes/apps/dns-private/blocky/ks.yaml
  kubernetes/apps/dns-private/blocky/kustomization.yaml
  kubernetes/apps/dns-private/external-dns/dnsendpoint.yaml
  kubernetes/apps/dns-private/external-dns/kustomization.yaml
  kubernetes/apps/dns-private/external-dns/secret.sops.yaml
  kubernetes/apps/dns-private/external-dns/shared-values.yaml
  kubernetes/apps/dns-private/technitium-dns/advancedForwarding.json
  kubernetes/apps/dns-private/technitium-dns/kustomization.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomizeconfig.yaml
  kubernetes/apps/dns-private/technitium-dns/pvc.yaml
  kubernetes/apps/dns-private/technitium-dns/secret.sops.yaml
  scripts/pre-commit/yaml-validator/requirements.txt
  scripts/pre-commit/yaml-validator/schema.json
  scripts/pre-commit/yaml-validator/yaml-validator.py
Due: kustomize-build, validate-sops-config

wip: migrate to blocky from technitium
  .pre-commit-config.yaml
  .yaml-validator.yaml
  CLAUDE.md
  docs/blocky-external-dns-webhook-design.md
  kubernetes/apps/dns-private/adguard-home-sync/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home-sync/ks.yaml
  kubernetes/apps/dns-private/adguard-home-sync/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home-sync/secret.sops.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/httproute.yaml
  kubernetes/apps/dns-private/adguard-home/ks.yaml
  kubernetes/apps/dns-private/adguard-home/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home/secret.sops.yaml
  kubernetes/apps/dns-private/dns-gateway/service.yaml
  kubernetes/apps/dns-private/external-dns/dnsendpoint.yaml
  kubernetes/apps/dns-private/external-dns/helmrelease.yaml
  kubernetes/apps/dns-private/external-dns/ks.yaml
  kubernetes/apps/dns-private/external-dns/kustomization.yaml
  kubernetes/apps/dns-private/external-dns/secret.sops.yaml
  kubernetes/apps/dns-private/external-dns/shared-values.yaml
  kubernetes/apps/dns-private/technitium-dns/advancedForwarding.json
  kubernetes/apps/dns-private/technitium-dns/ks.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomization.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomizeconfig.yaml
  kubernetes/apps/dns-private/technitium-dns/pvc.yaml
  kubernetes/apps/dns-private/technitium-dns/secret.sops.yaml
  scripts/app-scout/README.md
  scripts/app-scout/app-scout.py
  scripts/pre-commit/yaml-validator/requirements.txt
  scripts/pre-commit/yaml-validator/schema.json
  scripts/pre-commit/yaml-validator/yaml-validator.py
Due: kustomize-build, validate-sops-config

wip: migrate to blocky from technitium
  .pre-commit-config.yaml
  .yaml-validator.yaml
  CLAUDE.md
  docs/blocky-external-dns-webhook-design.md
  kubernetes/apps/dns-private/adguard-home-sync/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home-sync/ks.yaml
  kubernetes/apps/dns-private/adguard-home-sync/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home-sync/secret.sops.yaml
  kubernetes/apps/dns-private/adguard-home/AdGuardHome.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/httproute.yaml
  kubernetes/apps/dns-private/adguard-home/ks.yaml
  kubernetes/apps/dns-private/adguard-home/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home/secret.sops.yaml
  kubernetes/apps/dns-private/dns-gateway/service.yaml
  kubernetes/apps/dns-private/external-dns/crd.yaml
  kubernetes/apps/dns-private/external-dns/dnsendpoint.yaml
  kubernetes/apps/dns-private/external-dns/helmrelease.yaml
  kubernetes/apps/dns-private/external-dns/httproute.yaml
  kubernetes/apps/dns-private/external-dns/ks.yaml
  kubernetes/apps/dns-private/external-dns/kustomization.yaml
  kubernetes/apps/dns-private/external-dns/secret.sops.yaml
  kubernetes/apps/dns-private/external-dns/shared-values.yaml
  kubernetes/apps/dns-private/technitium-dns/advancedForwarding.json
  kubernetes/apps/dns-private/technitium-dns/helmrelease.yaml
  kubernetes/apps/dns-private/technitium-dns/ks.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomizeconfig.yaml
  kubernetes/apps/dns-private/technitium-dns/pvc.yaml
  kubernetes/apps/dns-private/technitium-dns/secret.sops.yaml
  kubernetes/apps/network/cloudflare-dns/crd.yaml
  kubernetes/apps/network/cloudflare-dns/httproute.yaml
  scripts/app-scout/README.md
  scripts/app-scout/app-scout.py
  scripts/pre-commit/yaml-validator/requirements.txt
  scripts/pre-commit/yaml-validator/schema.json
  scripts/pre-commit/yaml-validator/yaml-validator.py
Due: kustomize-build, validate-sops-config

refactor: Eliminate redundant namespace metadata
  CLAUDE.md
  kubernetes/apps/default/homer/ks.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/nfs/ks.yaml
Due: kustomize-build, validate-sops-config

wip: migrate to blocky from technitium
  .pre-commit-config.yaml
  .yaml-validator.yaml
  CLAUDE.md
  docs/blocky-external-dns-webhook-design.md
  kubernetes/apps/dns-private/adguard-home-sync/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home-sync/ks.yaml
  kubernetes/apps/dns-private/adguard-home-sync/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home-sync/secret.sops.yaml
  kubernetes/apps/dns-private/adguard-home/AdGuardHome.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/httproute.yaml
  kubernetes/apps/dns-private/adguard-home/ks.yaml
  kubernetes/apps/dns-private/adguard-home/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home/secret.sops.yaml
  kubernetes/apps/dns-private/dns-gateway/ks.yaml
  kubernetes/apps/dns-private/dns-gateway/service.yaml
  kubernetes/apps/dns-private/external-dns/crd.yaml
  kubernetes/apps/dns-private/external-dns/dnsendpoint.yaml
  kubernetes/apps/dns-private/external-dns/httproute.yaml
  kubernetes/apps/dns-private/external-dns/ks.yaml
  kubernetes/apps/dns-private/external-dns/kustomization.yaml
  kubernetes/apps/dns-private/external-dns/repository.yaml
  kubernetes/apps/dns-private/external-dns/secret.sops.yaml
  kubernetes/apps/dns-private/external-dns/shared-values.yaml
  kubernetes/apps/dns-private/technitium-dns/advancedForwarding.json
  kubernetes/apps/dns-private/technitium-dns/helmrelease.yaml
  kubernetes/apps/dns-private/technitium-dns/ks.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomizeconfig.yaml
  kubernetes/apps/dns-private/technitium-dns/pvc.yaml
  kubernetes/apps/dns-private/technitium-dns/secret.sops.yaml
  kubernetes/apps/network/cloudflare-dns/crd.yaml
  kubernetes/apps/network/cloudflare-dns/httproute.yaml
  scripts/app-scout/README.md
  scripts/app-scout/app-scout.py
  scripts/pre-commit/yaml-validator/requirements.txt
  scripts/pre-commit/yaml-validator/schema.json
  scripts/pre-commit/yaml-validator/yaml-validator.py
Due: kustomize-build, validate-sops-config

fixup! wip: migrate to blocky from technitium
  .claude/settings.json
  kubernetes/apps/dns-private/external-dns/crd.yaml
  kubernetes/apps/dns-private/external-dns/httproute.yaml
  kubernetes/apps/dns-private/external-dns/kustomization.yaml
  kubernetes/apps/dns-private/external-dns/shared-values.yaml
Due: kustomize-build

Claude Code slash command to work on cluster
  .claude/commands/cluster-work.md
Due: none

wip: migrate to blocky from technitium
  .pre-commit-config.yaml
  .yaml-validator.yaml
  CLAUDE.md
  docs/blocky-external-dns-webhook-design.md
  kubernetes/apps/dns-private/adguard-home-sync/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home-sync/ks.yaml
  kubernetes/apps/dns-private/adguard-home-sync/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home-sync/secret.sops.yaml
  kubernetes/apps/dns-private/adguard-home/AdGuardHome.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/httproute.yaml
  kubernetes/apps/dns-private/adguard-home/ks.yaml
  kubernetes/apps/dns-private/adguard-home/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home/secret.sops.yaml
  kubernetes/apps/dns-private/dns-gateway/ks.yaml
  kubernetes/apps/dns-private/dns-gateway/service.yaml
  kubernetes/apps/dns-private/external-dns/crd.yaml
  kubernetes/apps/dns-private/external-dns/dnsendpoint.yaml
  kubernetes/apps/dns-private/external-dns/httproute.yaml
  kubernetes/apps/dns-private/external-dns/ks.yaml
  kubernetes/apps/dns-private/external-dns/kustomization.yaml
  kubernetes/apps/dns-private/external-dns/secret.sops.yaml
  kubernetes/apps/dns-private/external-dns/shared-values.yaml
  kubernetes/apps/dns-private/technitium-dns/advancedForwarding.json
  kubernetes/apps/dns-private/technitium-dns/helmrelease.yaml
  kubernetes/apps/dns-private/technitium-dns/ks.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomizeconfig.yaml
  kubernetes/apps/dns-private/technitium-dns/pvc.yaml
  kubernetes/apps/dns-private/technitium-dns/secret.sops.yaml
  kubernetes/apps/network/cloudflare-dns/crd.yaml
  kubernetes/apps/network/cloudflare-dns/httproute.yaml
  scripts/app-scout/README.md
  scripts/app-scout/app-scout.py
  scripts/pre-commit/yaml-validator/requirements.txt
  scripts/pre-commit/yaml-validator/schema.json
  scripts/pre-commit/yaml-validator/yaml-validator.py
Due: kustomize-build, validate-sops-config

Ignore renamed clusterconfig files
  talos/clusterconfig/.gitignore
Due: none

Add yaml validation pre-commit hook
  .pre-commit-config.yaml
  .yaml-validator.yaml
  scripts/pre-commit/yaml-validator/requirements.txt
  scripts/pre-commit/yaml-validator/schema.json
  scripts/pre-commit/yaml-validator/yaml-validator.py
Due: none

Add correlation subcommand to app-scout
  CLAUDE.md
  scripts/app-scout/README.md
  scripts/app-scout/app-scout.py
Due: none

organize claude permissions
  .claude/settings.json
Due: none

Upgrade external-dns in cloudflare
  kubernetes/apps/network/cloudflare-dns/crd.yaml
  kubernetes/apps/network/cloudflare-dns/httproute.yaml
Due: kustomize-build

Remove technitium-dns
  kubernetes/apps/dns-private/kustomization.yaml
  kubernetes/apps/dns-private/technitium-dns/advancedForwarding.json
  kubernetes/apps/dns-private/technitium-dns/dnsendpoint.yaml
  kubernetes/apps/dns-private/technitium-dns/helmrelease.yaml
  kubernetes/apps/dns-private/technitium-dns/ks.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomization.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomizeconfig.yaml
  kubernetes/apps/dns-private/technitium-dns/pvc.yaml
  kubernetes/apps/dns-private/technitium-dns/secret.sops.yaml
Due: kustomize-build, validate-sops-config

Upgrade reloader to v2.2.0
  kubernetes/apps/kube-system/reloader/helmrelease.yaml
Due: kustomize-build

Fix Cilium L2 announcements incompatibility with externalTrafficPolicy Local
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/envoyproxy-config.yaml
Due: kustomize-build

coredns: Change DNS to quad9 DoT
  kubernetes/apps/kube-system/coredns/helmrelease.yaml
Due: kustomize-build

feat: migrate DNS architecture to AdGuard Home
  CLAUDE.md
  docs/blocky-external-dns-webhook-design.md
  docs/dns-architecture.md
  docs/memory-bank/docker-to-k8s-migration.md
  kubernetes/apps/dns-private/adguard-home-sync/data/adguardhome-sync.yaml
  kubernetes/apps/dns-private/adguard-home-sync/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home-sync/ks.yaml
  kubernetes/apps/dns-private/adguard-home-sync/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home/data/AdGuardHome.yaml
  kubernetes/apps/dns-private/adguard-home/data/config-merge.sh
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/httproute-replica.yaml
  kubernetes/apps/dns-private/adguard-home/httproute.yaml
  kubernetes/apps/dns-private/adguard-home/ks.yaml
  kubernetes/apps/dns-private/adguard-home/kustomization.yaml
  kubernetes/apps/dns-private/dns-gateway/ks.yaml
  kubernetes/apps/dns-private/dns-gateway/service.yaml
  kubernetes/apps/dns-private/external-dns/crd.yaml
  kubernetes/apps/dns-private/external-dns/helmrelease.yaml
  kubernetes/apps/dns-private/external-dns/httproute.yaml
  kubernetes/apps/dns-private/external-dns/ks.yaml
  kubernetes/apps/dns-private/external-dns/kustomization.yaml
  kubernetes/apps/dns-private/external-dns/secret.sops.yaml
  kubernetes/apps/dns-private/external-dns/shared-values.yaml
  kubernetes/apps/dns-private/secret/ks.yaml
  kubernetes/apps/dns-private/secret/kustomization.yaml
  kubernetes/apps/dns-private/secret/secret.sops.yaml
Due: kustomize-build, validate-sops-config

fix(external-dns): remove explicit image override to fix Renovate lookup
  kubernetes/apps/dns-private/external-dns/helmrelease.yaml
Due: kustomize-build

docs: add GitHub integration directives for PR workflow
  CLAUDE.md
Due: none

refactor: optimize CLAUDE.md for token efficiency and compliance
  CLAUDE.md
Due: none

refactor(github): restructure labeler configuration with hierarchical organization
  .github/labeler.yaml
  .github/workflows/labeler.yaml
  .pre-commit-config.yaml
Due: none

refactor(scripts): replace yaml-validator with reloader-validator
  .yaml-validator.yaml
  scripts/pre-commit/reloader-validator.py
  scripts/pre-commit/yaml-validator/requirements.txt
  scripts/pre-commit/yaml-validator/schema.json
  scripts/pre-commit/yaml-validator/yaml-validator.py
Due: none
