Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

fixup! feat(opencloud): add file-sync and share platform
  kubernetes/apps/default/opencloud/externalsecret.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/helmrelease.yaml
Due: vector-vrl-validator

fixup! feat(opencloud): add file-sync and share platform
  kubernetes/apps/default/opencloud/helmrelease.yaml
Due: vector-vrl-validator

feat(opencloud): add file-sync and share platform
  CLAUDE.md
  docs/troubleshooting/opencloud-oidc-configuration-failure-2025-11-01.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/opencloud/externalsecret.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
  kubernetes/apps/default/opencloud/ks.yaml
  kubernetes/apps/default/opencloud/kustomization.yaml
  kubernetes/apps/default/opencloud/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

refactor(sabnzbd): simplify tmpfs mounts to use separate emptyDirs
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: vector-vrl-validator

fix(plex): increase vector sidecar memory limit to resolve alert
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

fix(victoria-logs-single): resolve PodCrashLooping with OnDelete updateStrategy
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
Due: vector-vrl-validator

chore: add renohate bot to gitIgnoredAuthors
  renovate.json5
Due: none

fix(renovate): prevent Python mise tool auto-merge with explicit exclusion
  .renovate/autoMerge.json5
Due: none

docs(plex): document Intel GPU driver failure terminating hang
  docs/troubleshooting/plex-timeout-investigation.md
Due: none

test(observability): disable Victoria stack and Plex Vector for Ceph testing
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
Due: vector-vrl-validator

disable renovate-ce in favor of mend.io hosted platform
  kubernetes/apps/default/kustomization.yaml
Due: vector-vrl-validator

build(deps): group Mend Renovate CE updates
  .renovate/groups.json5
Due: none

fix(k8s): increase memory limits for resource-constrained services
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/dns-private/adguard-home/helmrelease.yaml
Due: vector-vrl-validator

feat(garage): migrate S3 storage to in-cluster deployment
  CLAUDE.md
  kubernetes/apps/default/filerun/externalsecret.yaml
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/immich/externalsecret.yaml
  kubernetes/apps/default/immich/postgres-cluster.yaml
  kubernetes/apps/storage/garage/config/garage.toml
  kubernetes/apps/storage/garage/externalsecret.yaml
  kubernetes/apps/storage/garage/helmrelease.yaml
  kubernetes/apps/storage/garage/ks.yaml
  kubernetes/apps/storage/garage/kustomization.yaml
  kubernetes/apps/storage/garage/pvc.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(garage): migrate S3 storage to in-cluster deployment
  CLAUDE.md
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/immich/externalsecret.yaml
  kubernetes/apps/default/immich/postgres-cluster.yaml
  kubernetes/apps/storage/garage/config/garage.toml
  kubernetes/apps/storage/garage/externalsecret.yaml
  kubernetes/apps/storage/garage/helmrelease.yaml
  kubernetes/apps/storage/garage/ks.yaml
  kubernetes/apps/storage/garage/kustomization.yaml
  kubernetes/apps/storage/garage/pvc.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(immich): resolve missing thumbnails by configuring separate storage paths
  kubernetes/apps/default/immich/configmap.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
Due: vector-vrl-validator

fix(talos): enable ResourceHealthStatus to prevent DRA gRPC timeout
  talos/patches/global/machine-kubelet.yaml
Due: none

Reorganize homepage services
  kubernetes/apps/default/homepage/config/docker.yaml
  kubernetes/apps/default/homepage/config/kubernetes.yaml
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/homepage/config/settings.yaml
  kubernetes/apps/default/homepage/kustomization.yaml
Due: vector-vrl-validator

perf(k8s): optimize memory resource allocations across cluster apps
  kubernetes/apps/default/authelia/helmrelease.yaml
  kubernetes/apps/default/bookstack/helmrelease.yaml
  kubernetes/apps/default/homepage/helmrelease.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/silverbullet/helmrelease.yaml
  kubernetes/apps/home/esphome/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/helmrelease.yaml
  kubernetes/apps/observability/gatus/helmrelease.yaml
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/garage/helmrelease.yaml
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

fix(kopia): resolve health probe failures during initialization
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

docs(backups): update strategy documentation for NFS backend migration
  docs/architecture/backup-strategy.md
Due: none

feat(authelia): enable volsync backup integration
  docs/memory-bank/volsync-backup-rollout.md
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/authelia/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

wip: immich backup
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/pvc.yaml
Due: vector-vrl-validator

feat(immich): separate profile PVC and enable volsync backup
  docs/memory-bank/volsync-backup-rollout.md
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(plex): align configuration with reference repositories
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

plex: temporarily disable health probes for debugging
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

mise: downgrade python to 3.13
  .mise.toml
Due: none

fix(talos): reduce NFS nconnect to prevent Intel NIC saturation
  talos/patches/global/machine-files.yaml
  talos/patches/global/machine-nfs.yaml
  talos/talconfig.yaml
Due: none

feat(tuppr): add automated Talos and Kubernetes upgrade controller
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetes.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talos.yaml
  talos/patches/controller/machine-kubernetes-api-access.yaml
  talos/talconfig.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

build(deps): configure Talos package grouping and disable automerge
  .renovate/autoMerge.json5
  .renovate/groups.json5
Due: none

fix(filerun): correct volsync storage class for RWX volumes
  kubernetes/apps/default/filerun/ks.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

ci: Remove all renovate workflows
  .github/workflows/force-renovate.yaml
  .github/workflows/renovate-dashboard.yaml
  .github/workflows/renovate.yaml
Due: none
