Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

ci: simplify renovate workflow dispatch inputs
  .github/workflows/force-renovate.yaml
  .github/workflows/renovate.yaml
Due: none

refactor: consolidate app routing to app-template blocks
  CLAUDE.md
  kubernetes/apps/default/bookstack/helmrelease.yaml
  kubernetes/apps/default/bookstack/httproute.yaml
  kubernetes/apps/default/bookstack/kustomization.yaml
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/filerun/httproute.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/httproute.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/silverbullet/helmrelease.yaml
  kubernetes/apps/default/silverbullet/httproute.yaml
  kubernetes/apps/default/silverbullet/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home/httproute-replica.yaml
  kubernetes/apps/dns-private/adguard-home/httproute.yaml
  kubernetes/apps/dns-private/adguard-home/kustomization.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/httproute.yaml
  kubernetes/apps/media/qbittorrent/kustomization.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/httproute.yaml
  kubernetes/apps/media/sabnzbd/kustomization.yaml
Due: kustomize-build, yaml-validator

feat: promote qbittorrent from test to production subdomain
  kubernetes/apps/default/authentik/blueprints/qbittorrent-application.yaml
  kubernetes/apps/default/authentik/blueprints/qbittorrent-provider.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat: add authentik SSO configuration for sabnzbd
  kubernetes/apps/default/authentik/blueprints/outpost-configuration.yaml
  kubernetes/apps/default/authentik/blueprints/sabnzbd-application.yaml
  kubernetes/apps/default/authentik/blueprints/sabnzbd-provider.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/default/authentik/referencegrant.yaml
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/media/sabnzbd/securitypolicy.yaml
Due: kustomize-build, yaml-validator

feat: centralize gateway IP addresses using network-config ConfigMap
  kubernetes/apps/dns-private/dns-gateway/ks.yaml
  kubernetes/apps/dns-private/dns-gateway/service.yaml
  kubernetes/apps/network/envoy-gateway/external.yaml
  kubernetes/apps/network/envoy-gateway/internal.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/network-config/configmap.yaml
  kubernetes/components/common/network-config/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: remove explicit namespace from qbittorrent HelmRelease
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: kustomize-build, yaml-validator

docs: add mandatory debugging checklist for namespace violations
  CLAUDE.md
Due: none

feat: implement plex log extraction with victorialogs integration
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/plex/kustomization.yaml
  kubernetes/apps/media/plex/logrule.yaml
  kubernetes/apps/media/plex/pvc.yaml
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat: migrate plex to kubernetes with media namespace
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/plex/kustomization.yaml
  kubernetes/apps/media/plex/loadbalancer-service.yaml
  kubernetes/apps/media/plex/pvc.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: add Vector sidecar to Plex for custom log file collection
  kubernetes/apps/media/plex/config/vector.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/plex/kustomization.yaml
  kubernetes/apps/media/plex/pvc.yaml
Due: kustomize-build, yaml-validator

docs: Remove old volsync memory bank file
  docs/memory-bank/volsync-setup-context.md
Due: none

feat: implement volsync backup system with snapshot-controller
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/snapshot-controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/ks.yaml
  kubernetes/apps/kube-system/snapshot-controller/kustomization.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/volsync/helmrelease.yaml
  kubernetes/apps/storage/volsync/ks.yaml
  kubernetes/apps/storage/volsync/kustomization.yaml
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
  kubernetes/components/volsync/secret.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix: add explicit namespace to plex PVCs
  kubernetes/apps/media/plex/pvc.yaml
Due: kustomize-build, yaml-validator

fix: increase VictoriaMetrics readiness probe timeout to prevent false failures
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat: implement comprehensive GitOps alerting system for HomeOps
  kubernetes/apps/observability/grafana/helmrelease.yaml
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/grafana/provisioning/alert-rules.yaml
  kubernetes/apps/observability/grafana/provisioning/contact-points.yaml
  kubernetes/apps/observability/grafana/provisioning/kustomization.yaml
  kubernetes/apps/observability/grafana/provisioning/notification-policies.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Due: kustomize-build, yaml-validator

fixup! feat: implement comprehensive GitOps alerting system for HomeOps
  kubernetes/apps/observability/grafana/ks.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! feat: implement comprehensive GitOps alerting system for HomeOps
  kubernetes/apps/observability/grafana/helmrelease.yaml
Due: kustomize-build, yaml-validator

fixup! feat: implement comprehensive GitOps alerting system for HomeOps
  kubernetes/apps/observability/grafana/provisioning/notification-policies.yaml
Due: kustomize-build, yaml-validator

fix(grafana): update plugin installation method to use preinstall
  kubernetes/apps/observability/grafana/helmrelease.yaml
  kubernetes/apps/storage/volsync/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(volsync): remove maintenanceIntervalDays parameter
  kubernetes/components/volsync/replicationsource.yaml
Due: kustomize-build, yaml-validator

feat(observability): add comprehensive monitoring alerts with Discord integration
  kubernetes/apps/observability/grafana/secret.sops.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/discord-webhook-secret.sops.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/ks.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
  kubernetes/apps/observability/vmrules/ceph-alerts.yaml
  kubernetes/apps/observability/vmrules/cluster-health.yaml
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
  kubernetes/apps/observability/vmrules/kustomization.yaml
  scripts/.gitignore
  scripts/validate-vmrules.sh
Due: kustomize-build, validate-sops-config, yaml-validator

fix(sabnzbd): add namespace to PVC configuration
  kubernetes/apps/media/sabnzbd/pvc.yaml
Due: kustomize-build, yaml-validator

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
