Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

refactor(bookstack): Remove Redis sidecar, use filesystem cache/session
  kubernetes/apps/default/bookstack/helmrelease.yaml
Due: vector-vrl-validator

fix(talos): enable etcd auto-compaction to prevent database fragmentation
  talos/patches/controller/etcd-config.yaml
  talos/talconfig.yaml
Due: none

feat(etcd-defrag): add scheduled defragmentation CronJob
  kubernetes/apps/kube-system/etcd-defrag/helmrelease.yaml
  kubernetes/apps/kube-system/etcd-defrag/ks.yaml
  kubernetes/apps/kube-system/etcd-defrag/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(plex): Enable PLEX_NO_AUTH_NETWORKS to prevent session permission errors
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

ci(taskfile): add infisical:add-secret task for automated secret management
  .taskfiles/infisical/Taskfile.yaml
  Taskfile.yaml
Due: none

feat(etcd-defrag): add scheduled defragmentation CronJob
  kubernetes/apps/kube-system/etcd-defrag/externalsecret.yaml
  kubernetes/apps/kube-system/etcd-defrag/helmrelease.yaml
  kubernetes/apps/kube-system/etcd-defrag/ks.yaml
  kubernetes/apps/kube-system/etcd-defrag/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

ci(talos): Suppress verbose output from apply-node task
  .taskfiles/talos/Taskfile.yaml
Due: none

fix(observability): silence CephNodeDiskspaceWarning via silence-operator
  kubernetes/apps/observability/silence-operator/kustomization.yaml
  kubernetes/apps/observability/silence-operator/silences.yaml
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator

chore(markdownlint): Exclude tables from line-length rule
  .markdownlint-cli2.yaml
Due: none

fix(cilium): Remove socketLB restriction breaking netkit routing
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
Due: vector-vrl-validator

feat(talos): Optimize NFS and TCP config for BBR streaming
  talos/patches/global/machine-nfs.yaml
  talos/patches/global/machine-sysctls.yaml
Due: none

docs(troubleshooting): Add Plex BBR/NFS optimization investigation
  docs/troubleshooting/plex-streaming-stuttering-bbr-congestion-2025-11-13.md
Due: none

feat(cilium): Enable Bandwidth Manager with BBR and BPF host routing
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
Due: vector-vrl-validator

docs(troubleshooting): Add VictoriaMetrics BBR timeout investigation
  docs/troubleshooting/victoria-metrics-write-errors-bbr-2025-11-14.md
Due: none

feat(cilium): Switch to netkit datapath for BBR compatibility
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
Due: vector-vrl-validator

fix(talos): Disable BBR congestion control to resolve VictoriaMetrics timeouts
  talos/patches/global/machine-sysctls.yaml
Due: none

docs: Consolidate BBR/Cilium troubleshooting documentation
  docs/troubleshooting/cilium-bbr-timeout-investigation-2025-11-14.md
  docs/troubleshooting/plex-streaming-stuttering-bbr-congestion-2025-11-13.md
  docs/troubleshooting/victoria-metrics-write-errors-bbr-2025-11-14.md
Due: none

feat(cilium): Enable Bandwidth Manager for improved network performance
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
Due: vector-vrl-validator

docs: Update cluster node role assignments
  CLAUDE.md
Due: none

fix(filerun): Increase memory limit to accommodate file operation spikes
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: vector-vrl-validator

fix(external-secrets): Increase concurrency and enable HA to resolve API timeout errors
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Due: vector-vrl-validator

refactor(talos): Simplify NFS mount configuration by removing redundant options
  talos/patches/global/machine-nfs.yaml
Due: none

style: generalize comment and reformat
  talos/patches/controller/machine-kubernetes-api-access.yaml
Due: none

feat(etcd-defrag): Add automated etcd defragmentation CronJob
  kubernetes/apps/system-upgrade/etcd-defrag/helmrelease.yaml
  kubernetes/apps/system-upgrade/etcd-defrag/ks.yaml
  kubernetes/apps/system-upgrade/etcd-defrag/kustomization.yaml
  kubernetes/apps/system-upgrade/etcd-defrag/rbac.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

chore: clean up claude permissions in settings.json
  .claude/settings.json
Due: none

refactor(talos): Disable NFS nconnect=4 mount option
  talos/talconfig.yaml
Due: none

refactor(talos): Remove obsolete USB Z-Wave udev patch for lucy node
  talos/patches/lucy/zwave-udev.yaml
  talos/talconfig.yaml
Due: none

fix(plex): Add node anti-affinity to avoid marin
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator
