Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

fix(tautulli): Increase liveness probe timeout to prevent false restarts
  kubernetes/apps/media/tautulli/helmrelease.yaml
Due: vector-vrl-validator

ci(flux-local): Restrict test to local flux-system source
  .github/workflows/flux-local.yaml
Due: none

fix(homepage): Update OpenCloud URL to use cloud subdomain
  kubernetes/apps/default/homepage/config/services.yaml
Due: vector-vrl-validator

chore: add infisical to mise
  .mise.toml
Due: none

chore: Track .infisical.json for shared workspace config
  .gitignore
  .infisical.json
  scripts/update-gitignore/custom/01-secrets.gitignore
Due: none

chore(pre-commit): autofix ruff issues
  .pre-commit-config.yaml
Due: none

style(scripts): run pre-commit on scripts
  scripts/annotate-yaml.py
  scripts/app-scout/app-scout.py
  scripts/pre-commit/reloader-validator.py
  scripts/query-victorialogs.py
  scripts/validate-yaml.py
Due: none

chore: Migrate from Claude Code to OpenCode
  .claude/settings.json
  .opencode/command/cluster-work.md
  .opencode/command/debug-cluster.md
  .opencode/command/fix-alert.md
  .opencode/command/renovate-upgrade.md
  .opencode/opencode.jsonc
  AGENTS.md
Due: none

fix: temporarily disable sabnzbd liveness probe
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: vector-vrl-validator

fix(sabnzbd): Increase memory request to prevent OOM kills
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: vector-vrl-validator

refactor: replace task with just
  .justfile
  .justfiles/infisical.just
  .justfiles/kubernetes.just
  .opencode/opencode.jsonc
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/infisical/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  bootstrap/mod.just
  scripts/bootstrap-apps.sh
  scripts/lib/common.sh
  talos/mod.just
Due: none

docs: update README for just and Infisical workflow
  README.md
Due: none

fix(talos): use talosctl dry-run for config diff
  talos/mod.just
Due: none

fix(home-assistant): use cephfs snapshot class for volsync backup
  kubernetes/apps/home/home-assistant/ks.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(home-assistant): add missing VOLSYNC_STORAGECLASS for ceph-filesystem PVC
  AGENTS.md
  kubernetes/apps/home/home-assistant/ks.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

chore: bring back claude code files
  .claude/commands/cluster-work.md
  .claude/commands/debug-cluster.md
  .claude/commands/fix-alert.md
  .claude/commands/renovate-upgrade.md
  .claude/settings.json
  CLAUDE.md
Due: none

fix(rook-ceph): increase mgr-sidecar memory limit to 200Mi
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator

fix(bookstack): increase memory limit to 512Mi
  kubernetes/apps/default/bookstack/helmrelease.yaml
Due: vector-vrl-validator

fix(prowlarr): remove unnecessary NFS media mount
  kubernetes/apps/media/prowlarr/helmrelease.yaml
Due: vector-vrl-validator

chore(opencode): remove git commit/push ask rules
  .opencode/opencode.jsonc
Due: none

chore: add helm cli guidance to AGENTS.md
  AGENTS.md
Due: none

feat(grafana): add OIDC authentication with Pocket-ID
  kubernetes/apps/observability/grafana/externalsecret.yaml
  kubernetes/apps/observability/grafana/helmrelease.yaml
Due: vector-vrl-validator

chore(opencode): align formatters with pre-commit hooks
  .opencode/opencode.jsonc
  ruff.toml
Due: none

chore: add yamlfmt to mise.toml
  .mise.toml
Due: none

feat(grafana): migrate to grafana operator with CRD-based management
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/homepage/helmrelease.yaml
  kubernetes/apps/default/homepage/kustomization.yaml
  kubernetes/apps/observability/grafana-operator/helmrelease.yaml
  kubernetes/apps/observability/grafana-operator/ks.yaml
  kubernetes/apps/observability/grafana-operator/kustomization.yaml
  kubernetes/apps/observability/grafana-operator/ocirepository.yaml
  kubernetes/apps/observability/grafana/dashboards/container-memory-usage.json
  kubernetes/apps/observability/grafana/dashboards/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/grafana.yaml
  kubernetes/apps/observability/grafana/grafanadatasource.yaml
  kubernetes/apps/observability/grafana/helmrelease.yaml
  kubernetes/apps/observability/grafana/httproute.yaml
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/grafana/ocirepository.yaml
  kubernetes/apps/observability/grafana/resources/k8s-views-global.json
  kubernetes/apps/observability/grafana/resources/pvc-capacity-overview.json
  kubernetes/apps/observability/grafana/resources/victoria-logs-volume.json
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/grafanadashboard.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(grafana): add observability dashboards for cluster monitoring
  kubernetes/apps/cert-manager/cert-manager/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/kustomization.yaml
  kubernetes/apps/network/cloudflare-tunnel/grafanadashboard.yaml
  kubernetes/apps/network/cloudflare-tunnel/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/cluster/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/storage/volsync/grafanadashboard.yaml
  kubernetes/apps/storage/volsync/kustomization.yaml
Due: vector-vrl-validator

docs: remove manual pre-commit validation directives
  AGENTS.md
Due: none

chore: remove claude code files
  .claude/commands/cluster-work.md
  .claude/commands/debug-cluster.md
  .claude/commands/fix-alert.md
  .claude/commands/renovate-upgrade.md
  .claude/settings.json
  CLAUDE.md
Due: none

docs: restructure AGENTS.md for token efficiency and add k8s-app skill
  .opencode/skill/k8s-app/SKILL.md
  AGENTS.md
Due: none

refactor(homepage): reorganize dashboard by usage frequency
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/homepage/config/settings.yaml
  kubernetes/apps/default/homepage/docker-compose.yml
  scripts/preview-homepage.sh
Due: vector-vrl-validator

fix(immich): add GPU access for video transcoding
  kubernetes/apps/default/immich/helmrelease.yaml
Due: vector-vrl-validator

chore(opencode): allow kubectl cp/run
  .opencode/opencode.jsonc
Due: none

fix(immich): add CPU limit to prevent node starvation during transcoding
  kubernetes/apps/default/immich/helmrelease.yaml
Due: vector-vrl-validator

fix(victoria-metrics): set vmalert external URL for alert links
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

feat(headlamp): add OIDC authentication via Pocket ID
  kubernetes/apps/kube-system/headlamp/externalsecret.yaml
  kubernetes/apps/kube-system/headlamp/helmrelease.yaml
  kubernetes/apps/kube-system/headlamp/kustomization.yaml
Due: vector-vrl-validator

refactor(headlamp): move from kube-system to default namespace
  kubernetes/apps/default/headlamp/externalsecret.yaml
  kubernetes/apps/default/headlamp/helmrelease.yaml
  kubernetes/apps/default/headlamp/helmrepository.yaml
  kubernetes/apps/default/headlamp/httproute.yaml
  kubernetes/apps/default/headlamp/ks.yaml
  kubernetes/apps/default/headlamp/kustomization.yaml
  kubernetes/apps/default/headlamp/rbac.yaml
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/observability/gatus/resources/config.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(headlamp): add missing OIDC env vars to external secret
  kubernetes/apps/default/headlamp/externalsecret.yaml
Due: vector-vrl-validator
