Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

feat(tuppr): add automated Talos and Kubernetes upgrade controller
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetes.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talos.yaml
  talos/patches/controller/machine-kubernetes-api-access.yaml
  talos/talconfig.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(plex): align configuration with reference repositories
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

feat(immich): separate profile PVC and enable volsync backup
  docs/memory-bank/volsync-backup-rollout.md
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(garage): migrate S3 storage to in-cluster deployment
  CLAUDE.md
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/immich/externalsecret.yaml
  kubernetes/apps/default/immich/postgres-cluster.yaml
  kubernetes/apps/storage/garage/config/garage.toml
  kubernetes/apps/storage/garage/externalsecret.yaml
  kubernetes/apps/storage/garage/helmrelease.yaml
  kubernetes/apps/storage/garage/ks.yaml
  kubernetes/apps/storage/garage/kustomization.yaml
  kubernetes/apps/storage/garage/pvc.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

docs(k8s): prefer advancedMounts over globalMounts
  CLAUDE.md
Due: none

feat(headlamp): add Kubernetes web UI for cluster management
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/kube-system/headlamp/helmrelease.yaml
  kubernetes/apps/kube-system/headlamp/helmrepository.yaml
  kubernetes/apps/kube-system/headlamp/httproute.yaml
  kubernetes/apps/kube-system/headlamp/ks.yaml
  kubernetes/apps/kube-system/headlamp/kustomization.yaml
  kubernetes/apps/kube-system/headlamp/rbac.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

refactor(media): migrate apps to internal gateway and remove Authelia
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/bazarr/kustomization.yaml
  kubernetes/apps/media/bazarr/securitypolicy.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/prowlarr/kustomization.yaml
  kubernetes/apps/media/prowlarr/securitypolicy.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/kustomization.yaml
  kubernetes/apps/media/qbittorrent/securitypolicy.yaml
  kubernetes/apps/media/radarr-4k/helmrelease.yaml
  kubernetes/apps/media/radarr-4k/kustomization.yaml
  kubernetes/apps/media/radarr-4k/securitypolicy.yaml
  kubernetes/apps/media/radarr-anime/helmrelease.yaml
  kubernetes/apps/media/radarr-anime/kustomization.yaml
  kubernetes/apps/media/radarr-anime/securitypolicy.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/radarr/kustomization.yaml
  kubernetes/apps/media/radarr/securitypolicy.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/media/sabnzbd/securitypolicy.yaml
  kubernetes/apps/media/sonarr-anime/helmrelease.yaml
  kubernetes/apps/media/sonarr-anime/kustomization.yaml
  kubernetes/apps/media/sonarr-anime/securitypolicy.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/media/sonarr/kustomization.yaml
  kubernetes/apps/media/sonarr/securitypolicy.yaml
Due: vector-vrl-validator

chore(renovate-ce)!: remove Renovate CE from cluster
  .renovate/groups.json5
  CLAUDE.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/renovate-ce/externalsecret.yaml
  kubernetes/apps/default/renovate-ce/helmrelease.yaml
  kubernetes/apps/default/renovate-ce/helmrepository.yaml
  kubernetes/apps/default/renovate-ce/httproute.yaml
  kubernetes/apps/default/renovate-ce/ks.yaml
  kubernetes/apps/default/renovate-ce/kustomization.yaml
  kubernetes/apps/default/renovate-ce/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

docs: add repo name to CLAUDE.md
  CLAUDE.md
Due: none

refactor(home-assistant): Migrate to RWX and optimize cache
  CLAUDE.md
  kubernetes/apps/home/home-assistant/helmrelease.yaml
  kubernetes/apps/home/home-assistant/pvc.yaml
Due: vector-vrl-validator

refactor(talos): Disable NFS nconnect=4 mount option
  talos/talconfig.yaml
Due: none

feat(commands): add renovate-upgrade slash command
  .claude/commands/renovate-upgrade.md
Due: none

fix(rook-ceph): disable RBD stats to resolve MGR memory pressure
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator

feat(talos): Migrate all nodes to USB-C 2.5GbE NICs
  .taskfiles/talos/Taskfile.yaml
  talos/talconfig.yaml
Due: none

fix(talos): enable etcd auto-compaction to prevent database fragmentation
  talos/patches/controller/etcd-config.yaml
  talos/talconfig.yaml
Due: none

feat(gatus): Add monitoring for user-facing apps
  kubernetes/apps/observability/gatus/resources/config.yaml
Due: vector-vrl-validator

refactor(home-assistant): Simplify probe configuration
  kubernetes/apps/home/home-assistant/helmrelease.yaml
Due: vector-vrl-validator

fix(homepage): increase memory limit to prevent alert
  kubernetes/apps/default/homepage/helmrelease.yaml
Due: vector-vrl-validator

fix(filerun): prevent PVC fill-up with tmpfs mount for temp directory
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: vector-vrl-validator

chore(markdownlint): Exclude tables from line-length rule
  .markdownlint-cli2.yaml
Due: none

feat(openebs): add LocalPV hostPath provisioner for ephemeral storage
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/openebs/helmrelease.yaml
  kubernetes/apps/kube-system/openebs/ks.yaml
  kubernetes/apps/kube-system/openebs/kustomization.yaml
  kubernetes/apps/kube-system/openebs/ocirepository.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

docs(claude): add new reference repository
  CLAUDE.md
Due: none

chore: Allow details/summary HTML elements in markdown
  .markdownlint-cli2.yaml
Due: none

refactor(talos): Remove obsolete USB Z-Wave udev patch for lucy node
  talos/patches/lucy/zwave-udev.yaml
  talos/talconfig.yaml
Due: none

fix(rook-ceph): disable PrometheusJobMissing alert
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator

refactor(victoria-metrics): Simplify probes
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

chore: Replace gitleaksignore with path-based TOML config
  .gitleaks.toml
  .gitleaksignore
  .mise.toml
Due: none

fix(kopia): increase probe timeout to accommodate NFS latency
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

docs: Condense OCIRepository namespace rules
  CLAUDE.md
Due: none

feat(talos): Optimize NFS and TCP config for BBR streaming
  talos/patches/global/machine-nfs.yaml
  talos/patches/global/machine-sysctls.yaml
Due: none

fix(vmrules): Reduce PodCrashLooping alert sensitivity
  kubernetes/apps/observability/vmrules/kubernetes-alerts.yaml
Due: vector-vrl-validator

docs(claude): Consolidate and enhance Infisical guidance
  .claude/settings.json
  CLAUDE.md
Due: none

fix(victoria-metrics): add liveness probe to detect deadlocks
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

feat(observability): Reenable stack with OpenEBS storage
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-single/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

ci(flux-local): adopt onedr0p workflow improvements
  .github/workflows/flux-local.yaml
Due: none
