Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

feat(observability): add alert name filtering to vmalert-query.py history
  scripts/vmalert-query.py
Due: none

docs: update vmalert-query.py usage with history command
  CLAUDE.md
Due: none

fix(filerun): remove duplicate search indexer and increase memory limit
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: kustomize-build, yaml-validator

Add renovate info to CLAUDE.md
  CLAUDE.md
Due: none

wip: home assistant
  kubernetes/apps/home/esphome/helmrelease.yaml
  kubernetes/apps/home/esphome/ks.yaml
  kubernetes/apps/home/esphome/kustomization.yaml
  kubernetes/apps/home/esphome/pvc.yaml
  kubernetes/apps/home/home-assistant/externalsecret.yaml
  kubernetes/apps/home/home-assistant/helmrelease.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/home/home-assistant/kustomization.yaml
  kubernetes/apps/home/home-assistant/pvc.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui/helmrelease.yaml
  kubernetes/apps/home/zwave-js-ui/ks.yaml
  kubernetes/apps/home/zwave-js-ui/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui/pvc.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix(sabnzbd): enable SQLite WAL mode and increase memory to 6Gi
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: kustomize-build, yaml-validator

fixup! wip: home assistant
  kubernetes/apps/home/esphome/pvc.yaml
  kubernetes/apps/home/home-assistant/pvc.yaml
Due: kustomize-build, yaml-validator

fixup! wip: home assistant
  .yamlfmt
  .yamllint.yaml
  kubernetes/apps/home/esphome/config/vue3.yaml
  kubernetes/apps/home/esphome/helmrelease.yaml
  kubernetes/apps/home/esphome/kustomization.yaml
Due: kustomize-build, yaml-validator

refactor(homepage): reorganize services into logical groups
  kubernetes/apps/default/homepage/config/services.yaml
Due: kustomize-build, yaml-validator

feat(multus): add Multus CNI for secondary network interfaces
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/multus/app/helmrelease.yaml
  kubernetes/apps/kube-system/multus/app/kustomization.yaml
  kubernetes/apps/kube-system/multus/app/ocirepository.yaml
  kubernetes/apps/kube-system/multus/ks.yaml
  kubernetes/apps/kube-system/multus/networks/kustomization.yaml
  kubernetes/apps/kube-system/multus/networks/main-lan.yaml
Due: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

feat(talos): migrate rias VM to lucy physical hardware
  CLAUDE.md
  bootstrap/udmp/README.md
  bootstrap/udmp/bgp.conf
  docs/architecture/bgp-load-balancing.md
  kubernetes/apps/home/zwave-js-ui/helmrelease.yaml
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
  talos/clusterconfig/.gitignore
  talos/talconfig.yaml
Due: kustomize-build, yaml-validator

feat(home): add home automation stack
  .yamlfmt
  .yamllint.yaml
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/external/home-assistant/httproute.yaml
  kubernetes/apps/external/home-assistant/kustomization.yaml
  kubernetes/apps/external/home-assistant/service.yaml
  kubernetes/apps/home/esphome/config/vue3.yaml
  kubernetes/apps/home/esphome/helmrelease.yaml
  kubernetes/apps/home/esphome/ks.yaml
  kubernetes/apps/home/esphome/kustomization.yaml
  kubernetes/apps/home/esphome/pvc.yaml
  kubernetes/apps/home/home-assistant/helmrelease.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/home/home-assistant/kustomization.yaml
  kubernetes/apps/home/home-assistant/pvc.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui/helmrelease.yaml
  kubernetes/apps/home/zwave-js-ui/ks.yaml
  kubernetes/apps/home/zwave-js-ui/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui/pvc.yaml
  kubernetes/apps/observability/gatus/resources/config.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(zwave): add temporary USB passthrough for Z-Wave controller
  kubernetes/apps/home/zwave-js-ui/helmrelease.yaml
Due: kustomize-build, yaml-validator

esphome: add explicit ip address
  kubernetes/apps/home/esphome/config/vue3.yaml
Due: kustomize-build, yaml-validator

fix(victoria-metrics): increase vmsingle memory limit to 4Gi
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(victoria-metrics): remove stale kube-prometheus-general.rules VMRule
  kubernetes/apps/observability/victoria-metrics-k8s-stack/kustomization.yaml
Due: kustomize-build, yaml-validator

fix(homepage): use mdi-z-wave icon for Z-Wave JS UI service
  kubernetes/apps/default/homepage/config/services.yaml
Due: kustomize-build, yaml-validator

fix(plex): add proxy component label to LoadBalancer service
  kubernetes/apps/media/plex/loadbalancer-service.yaml
Due: kustomize-build, yaml-validator

fix(alerts): resolve RecordingRulesNoData and KubeDeploymentReplicasMismatch alerts
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/kustomization.yaml
Due: kustomize-build, yaml-validator

feat(grafana): customize Kubernetes pods dashboard with pod-aware legends
  kubernetes/apps/observability/grafana/helmrelease.yaml
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/grafana/resources/k8s-views-pods.json
Due: kustomize-build, yaml-validator

feat(grafana): add Container Memory Usage dashboard
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/grafana/resources/container-memory-usage.json
Due: kustomize-build, yaml-validator

fix(plex): add 5-minute request timeout to HTTPRoute
  kubernetes/apps/media/plex/helmrelease.yaml
Due: kustomize-build, yaml-validator

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
