Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

feat(media): add Vector sidecar to Kometa for structured log collection
  CLAUDE.md
  kubernetes/apps/media/kometa/helmrelease.yaml
  kubernetes/apps/media/kometa/kustomization.yaml
  kubernetes/apps/media/kometa/vector/parse-kometa.vrl
  kubernetes/apps/media/kometa/vector/test-samples.json
  kubernetes/apps/media/kometa/vector/vector.yaml
  scripts/test-vector-config.py
Due: kustomize-build, yaml-validator

docs: optimize CLAUDE.md memory files for token efficiency
  CLAUDE.md
  schemas/CLAUDE.md
Due: none

fix(media): reduce Kometa job history to prevent duplicate reconciliation triggers
  kubernetes/apps/media/kometa/helmrelease.yaml
Due: kustomize-build, yaml-validator

refactor(rook-ceph): migrate from HelmRepository to OCIRepository
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/rook-ceph/operator/helmrelease.yaml
  kubernetes/apps/rook-ceph/operator/kustomization.yaml
  kubernetes/apps/rook-ceph/operator/ocirepository.yaml
Due: kustomize-build, yaml-validator

refactor(observability): migrate VictoriaMetrics from HelmRepository to OCIRepository
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-single/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-single/ocirepository.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/ocirepository.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
  kubernetes/flux/meta/repos/victoriametrics.yaml
Due: kustomize-build, yaml-validator

docs: document OCIRepository pattern and migration methodology
  CLAUDE.md
Due: none

docs: add comprehensive OCIRepository migration analysis to memory bank
  docs/memory-bank/helmrepository-to-ocirepository-migration.md
Due: none

refactor(kube-system): migrate node-feature-discovery from HelmRepository to OCIRepository
  docs/memory-bank/helmrepository-to-ocirepository-migration.md
  kubernetes/apps/kube-system/node-feature-discovery/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ocirepository.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
  kubernetes/flux/meta/repos/node-feature-discovery.yaml
Due: kustomize-build, yaml-validator

refactor(kube-system): migrate external-secrets from HelmRepository to OCIRepository
  docs/memory-bank/helmrepository-to-ocirepository-migration.md
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/app/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/app/ocirepository.yaml
  kubernetes/flux/meta/repos/external-secrets.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Due: kustomize-build, kubectl-dry-run-server, yaml-validator

refactor(observability): migrate grafana from HelmRepository to OCIRepository
  docs/memory-bank/helmrepository-to-ocirepository-migration.md
  kubernetes/apps/observability/grafana/helmrelease.yaml
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/grafana/ocirepository.yaml
Due: kustomize-build, yaml-validator

refactor(kube-system): migrate cilium from HelmRepository to OCIRepository
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ocirepository.yaml
Due: kustomize-build, yaml-validator

fix(kometa): use native sidecar pattern to prevent RWO volume conflicts
  CLAUDE.md
  kubernetes/apps/media/kometa/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(kube-state-metrics): increase memory limits to resolve v2.17.0 OOMKills
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

docs(fix-alert): include pending alerts in default query
  .claude/commands/fix-alert.md
Due: none

fix(victoria-metrics): disable kubeScheduler recording rules for deprecated K8s 1.27+ metrics
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: kustomize-build, yaml-validator

refactor(vmalert-query): make combined firing+pending view default
  .claude/commands/fix-alert.md
  scripts/vmalert-query.py
Due: none

feat(renovate): add changelog URLs for Python, CoreDNS, and Elasticsearch
  .renovate/changelogs.json5
  renovate.json5
Due: none

fix(volsync): add jitter and fix anti-affinity to distribute backup pods
  kubernetes/apps/storage/volsync/mutatingadmissionpolicy.yaml
  kubernetes/components/volsync/replicationsource.yaml
Due: kustomize-build, yaml-validator

refactor(renovate): standardize commit prefix to build(deps)
  .renovate/semanticCommits.json5
Due: none

fix(renovate): correct Python automerge rule order
  .renovate/autoMerge.json5
Due: none

fix(renovate): correct CoreDNS changelog URL to Helm chart repository
  .renovate/changelogs.json5
Due: none

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
