Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
  - id: end-of-file-fixer
    name: Fix End of Files

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  - id: kustomize-build
    name: Kustomize Build Check
    entry: scripts/pre-commit/kustomize-build-check.sh
    language: script
    files: '^kubernetes/.*\.ya?ml$'
    pass_filenames: false
    description: Validates that all kustomizations can build successfully
  - id: kubectl-dry-run-server
    name: Server-Side K8s Validation
    entry: scripts/pre-commit/validate-sops-k8s.sh
    language: script
    files: '^kubernetes/apps/.*/app/.*\.yaml$'
    exclude: '(values\.yaml|kustomizeconfig\.yaml)$'
    description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: yaml-validator
    name: YAML Validator
    entry: scripts/pre-commit/yaml-validator/yaml-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0", "jsonpath-ng>=1.6.0"]
    files: '^kubernetes/.*\.ya?ml$'
    description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

- repo: https://github.com/google/yamlfmt
  rev: v0.17.2
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

feat(victoria-metrics): consolidate Pushover receivers and improve notification UX
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
Due: kustomize-build, yaml-validator

fix(victoria-metrics): correct vmalert datasource URL to resolve AlertingRulesError flood
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
  scripts/vmalert-query.py
Due: kustomize-build, yaml-validator

feat(cilium): migrate from L2 announcements to BGP peering with UDMP
  CLAUDE.md
  bootstrap/udmp/README.md
  bootstrap/udmp/bgp.conf
  docs/architecture/bgp-load-balancing.md
  docs/architecture/dns-architecture.md
  kubernetes/apps/dns-private/dns-gateway/ks.yaml
  kubernetes/apps/dns-private/dns-gateway/service.yaml
  kubernetes/apps/kube-system/cilium/bgp.yaml
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/kustomization.yaml
  kubernetes/apps/kube-system/cilium/networks.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/recyclarr/docker-compose.yaml
  kubernetes/apps/network/envoy-gateway/external.yaml
  kubernetes/apps/network/envoy-gateway/internal.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/network-config/configmap.yaml
  kubernetes/components/common/network-config/kustomization.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(external): add namespace for non-cluster services
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/external/home-assistant/httproute.yaml
  kubernetes/apps/external/home-assistant/ks.yaml
  kubernetes/apps/external/home-assistant/kustomization.yaml
  kubernetes/apps/external/home-assistant/service.yaml
  kubernetes/apps/external/kustomization.yaml
  kubernetes/apps/external/opensprinkler/httproute.yaml
  kubernetes/apps/external/opensprinkler/ks.yaml
  kubernetes/apps/external/opensprinkler/kustomization.yaml
  kubernetes/apps/external/opensprinkler/service.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix(mariadb): correct ServiceMonitor configuration for MariaDB CRDs and operator
  kubernetes/apps/default/bookstack/mariadb.yaml
  kubernetes/apps/default/filerun/mariadb.yaml
  kubernetes/apps/kube-system/mariadb-operator/helmrelease.yaml
Due: kustomize-build, yaml-validator

pre-commit: validate vrl files
  .pre-commit-config.yaml
  scripts/pre-commit/validate-vector-vrl.sh
Due: none

vscode: specify default yaml formatter
  .vscode/settings.json
Due: none

fix(victoria-metrics): remove unsupported ttl field from pushover config
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmalertmanagerconfig.yaml
Due: kustomize-build, yaml-validator

refactor(kometa): migrate from Vector sidecar to centralized DaemonSet collection
  kubernetes/apps/media/kometa/helmrelease.yaml
  kubernetes/apps/media/kometa/kustomization.yaml
  kubernetes/apps/media/kometa/vector/test-samples.json
  kubernetes/apps/media/kometa/vector/vector.yaml
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-single/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-single/ocirepository.yaml
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-kometa.vrl
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-qbittorrent.vrl
Due: kustomize-build, yaml-validator

fix(victoria-logs): exclude rook-ceph and kube-system namespaces from log collection
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
Due: kustomize-build, yaml-validator

fixup! fix(victoria-logs): exclude rook-ceph and kube-system namespaces from log collection
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
Due: kustomize-build, yaml-validator

fixup! fix(victoria-logs): exclude rook-ceph and kube-system namespaces from log collection
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-single/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-default.vrl
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-kometa.vrl
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-qbittorrent.vrl
Due: kustomize-build, yaml-validator

fix(victoria-logs): exclude rook-ceph and kube-system namespaces from log collection
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-single/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-default.vrl
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-kometa.vrl
  kubernetes/apps/observability/victoria-logs-single/vrl/parse-qbittorrent.vrl
Due: kustomize-build, yaml-validator

fix(renovate): disable automerge for all dependency types
  .renovate/autoMerge.json5
Due: none

feat(grafana): add VictoriaLogs log volume analysis dashboard
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/grafana/resources/victoria-logs-volume.json
Due: kustomize-build, yaml-validator

fix(qbittorrent): remove wait flag to prevent health check timeout failures
  kubernetes/apps/media/qbittorrent/ks.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix(qbittorrent): increase memory limits to prevent OOM kills
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(jellyseerr): add upgrade remediation to prevent stalled releases
  kubernetes/apps/media/jellyseerr/helmrelease.yaml
Due: kustomize-build, yaml-validator

Increase qBT memory limit to 8Gi from 4Gi
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: kustomize-build, yaml-validator

fix(observability): exclude iowait from NodeHighCPU alert calculation
  kubernetes/apps/observability/vmrules/cluster-health.yaml
Due: kustomize-build, yaml-validator

fix(observability): require high CPU usage for NodeSystemSaturation alert
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmrule.yaml
Due: kustomize-build, yaml-validator

fix(filerun): remove duplicate search indexer and increase memory limit
  kubernetes/apps/default/filerun/helmrelease.yaml
Due: kustomize-build, yaml-validator
