Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

reloader-validator:
  name: Reloader Annotation Validator
  entry: scripts/pre-commit/reloader-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations

vector-vrl-validator:
  name: Vector VRL Validation
  entry: scripts/pre-commit/validate-vector-vrl.sh
  language: script
  description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

fix(filerun): resolve HTTP 504 timeout on Nextcloud sync
  kubernetes/apps/default/filerun/backendtrafficpolicy.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
Due: vector-vrl-validator

feat(homepage): Add missing service tiles
  kubernetes/apps/default/homepage/config/services.yaml
Due: vector-vrl-validator

docs: Update cluster node role assignments
  CLAUDE.md
Due: none

refactor(plex): Remove node antiaffinity constraint
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

feat(talos): Optimize NFS and TCP config for BBR streaming
  talos/patches/global/machine-nfs.yaml
  talos/patches/global/machine-sysctls.yaml
Due: none

chore(commands): remove migrate-service and renovate-merge slash commands
  .claude/commands/migrate-service.md
  .claude/commands/renovate-merge.md
Due: none

chore(markdownlint): Exclude tables from line-length rule
  .markdownlint-cli2.yaml
Due: none

fix(imagemaid): switch to API mode to prevent Plex database corruption
  kubernetes/apps/media/imagemaid/helmrelease.yaml
Due: vector-vrl-validator

fix(plex): disable request timeout for SSE streaming
  kubernetes/apps/media/plex/backendtrafficpolicy.yaml
  kubernetes/apps/media/plex/kustomization.yaml
Due: vector-vrl-validator

chore: remove unused intel-device-plugins CRD schemas
  schemas/intel-device-plugins/deviceplugin.intel.com_dlbdeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_dsadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_fpgadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_gpudeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_iaadeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_npudeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_qatdeviceplugins.json
  schemas/intel-device-plugins/deviceplugin.intel.com_sgxdeviceplugins.json
  schemas/intel-device-plugins/fpga.intel.com_acceleratorfunctions.json
  schemas/intel-device-plugins/fpga.intel.com_fpgaregions.json
Due: none

docs(troubleshooting): Add VictoriaMetrics BBR timeout investigation
  docs/troubleshooting/victoria-metrics-write-errors-bbr-2025-11-14.md
Due: none

ci(taskfile): add infisical:add-secret task for automated secret management
  .taskfiles/infisical/Taskfile.yaml
  Taskfile.yaml
Due: none

feat(observability): Reenable stack with OpenEBS storage
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/media/plex/helmrelease.yaml
  kubernetes/apps/observability/grafana/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-logs-single/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs-single/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

fix(talos): Disable BBR congestion control to resolve VictoriaMetrics timeouts
  talos/patches/global/machine-sysctls.yaml
Due: none

docs: Add health probes standards to CLAUDE.md
  CLAUDE.md
Due: none

chore: clean up claude permissions in settings.json
  .claude/settings.json
Due: none

fix(homepage): Increase memory limits
  kubernetes/apps/default/homepage/helmrelease.yaml
Due: vector-vrl-validator

docs(claude): clearer probe guidance on defaults
  CLAUDE.md
Due: none

docs(claude): add new reference repository
  CLAUDE.md
Due: none

fix(external-secrets): Increase concurrency and enable HA to resolve API timeout errors
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Due: vector-vrl-validator

fix(plex): Reenable health probes
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

fix(plex): Enable PLEX_NO_AUTH_NETWORKS to prevent session permission errors
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

wip: fix opencloud
  .github/workflows/build-authelia-oauth-proxy.yaml
  CLAUDE.md
  containers/authelia-oauth-proxy/Dockerfile
  containers/authelia-oauth-proxy/go.mod
  containers/authelia-oauth-proxy/main.go
  docs/troubleshooting/opencloud-authelia-groups-claim-2025-11-16.md
  docs/troubleshooting/opencloud-oidc-configuration-failure-2025-11-01.md
  kubernetes/apps/default/authelia/config/configuration.yaml
  kubernetes/apps/default/authelia/config/oidc-base.yaml
  kubernetes/apps/default/authelia/config/oidc-clients.yaml
  kubernetes/apps/default/authelia/externalsecret.yaml
  kubernetes/apps/default/authelia/helmrelease.yaml
  kubernetes/apps/default/authelia/kustomization.yaml
  kubernetes/apps/default/authelia/oauth-scope-injection.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/opencloud/config/csp.yaml
  kubernetes/apps/default/opencloud/config/proxy.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
  kubernetes/apps/default/opencloud/ks.yaml
  kubernetes/apps/default/opencloud/kustomization.yaml
  kubernetes/apps/default/opencloud/pvc.yaml
  scripts/test-authelia-claims.sh
  scripts/test-authelia-userinfo.sh
Due: validate-sops-config, reloader-validator, vector-vrl-validator

docs(claude): Add ExternalSecret API version reference
  CLAUDE.md
Due: none

fix(victoria-metrics): disable etcd monitoring
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

refactor(radarr-4k): Split cache and logs from backup
  kubernetes/apps/media/radarr-4k/helmrelease.yaml
  kubernetes/apps/media/radarr-4k/pvc.yaml
Due: vector-vrl-validator

refactor(radarr): Split cache and logs from backup
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/radarr/pvc.yaml
Due: vector-vrl-validator

refactor(radarr-anime): Split cache and logs from backup
  kubernetes/apps/media/radarr-anime/helmrelease.yaml
  kubernetes/apps/media/radarr-anime/pvc.yaml
Due: vector-vrl-validator

refactor(sonarr): Split cache and logs from backup
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/sonarr/kustomization.yaml
  kubernetes/apps/media/sonarr/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

refactor(sonarr-anime): Split cache and logs from backup
  kubernetes/apps/media/sonarr-anime/helmrelease.yaml
  kubernetes/apps/media/sonarr-anime/ks.yaml
  kubernetes/apps/media/sonarr-anime/kustomization.yaml
  kubernetes/apps/media/sonarr-anime/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

docs(CLAUDE): Refine volsync configuration guidance
  CLAUDE.md
Due: none

Path conditions:
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  reloader-validator: any of: ^kubernetes/apps/.*/ks\.yaml$
  vector-vrl-validator: any of: ^kubernetes/apps/.*/.*\.(yaml|vrl)$
