Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
    name: Check YAML syntax
    description: Validates YAML files for syntax errors
    files: '\.ya?ml$'
    args: [--allow-multiple-documents]
  - id: check-merge-conflict
    name: Check for merge conflicts
  - id: trailing-whitespace
    name: Trim trailing whitespace
  - id: end-of-file-fixer
    name: Fix end of files

- repo: local
  hooks:
  - id: kustomize-build
    name: Kustomize build validation
    entry: bash -c 'for dir in $(find kubernetes/apps -name kustomization.yaml -printf "%h\n"); do (cd "$dir" && kustomize build . >/dev/null); done'
    language: system
    files: '^kubernetes/.*\.ya?ml$'
    pass_filenames: false
    description: Validates that all kustomizations can build successfully

  - id: kubectl-dry-run
    name: Kubectl dry-run validation
    entry: bash
    args: [-c, 'for file in "$@"; do kubectl apply --dry-run=client -f "$file" >/dev/null 2>&1 || echo "Failed: $file"; done', --]
    language: system
    files: '^kubernetes/apps/.*/app/.*\.yaml$'
    exclude: '(values\.yaml|kustomizeconfig\.yaml)$'
    description: Validates Kubernetes manifests with kubectl dry-run

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'

docs: restructure and consolidate documentation
  CLAUDE.md
  MIGRATION.md
  scripts/CLAUDE.md
Due: none

chore: update memory bank with migration progress
  .memory-bank/docker-to-k8s-migration.md
Due: none

feat: enhance development scripts and tooling
  .gitignore
  scripts/app-scout/.gitignore
  scripts/app-scout/README.md
  scripts/app-scout/app-scout.py
  scripts/update-gitignore/README.md
  scripts/update-gitignore/custom/01-secrets.gitignore
  scripts/update-gitignore/custom/02-kubernetes.gitignore
  scripts/update-gitignore/custom/03-project.gitignore
  scripts/update-gitignore/update.sh
Due: none

style: fix Kubernetes YAML formatting and whitespace
  kubernetes/apps/default/authentik/app/helmrelease.yaml
  kubernetes/apps/default/authentik/app/httproute.yaml
  kubernetes/apps/default/authentik/app/kustomization.yaml
  kubernetes/apps/default/authentik/ks.yaml
  kubernetes/apps/default/authentik/secrets/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/nfs/ks.yaml
  kubernetes/apps/nfs/kustomization.yaml
  kubernetes/apps/nfs/persistentvolumes.yaml
  kubernetes/apps/rook-ceph/cluster/app/helm/kustomizeconfig.yaml
  kubernetes/apps/rook-ceph/cluster/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/cluster/ks.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/operator/app/helm/kustomizeconfig.yaml
  kubernetes/apps/rook-ceph/operator/app/helm/values.yaml
  kubernetes/apps/rook-ceph/operator/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/operator/app/kustomization.yaml
  kubernetes/apps/rook-ceph/operator/ks.yaml
  talos/talconfig.yaml
Due: kustomize-build, kubectl-dry-run

feat: update rook-ceph cluster configuration
  kubernetes/apps/rook-ceph/cluster/app/helm/values.yaml
Due: kustomize-build

feat: add Ceph dashboard HTTPRoute for Gateway API access
  kubernetes/apps/rook-ceph/cluster/app/httproute.yaml
Due: kustomize-build, kubectl-dry-run

fix: update rook-ceph kustomization to include HTTPRoute
  kubernetes/apps/rook-ceph/cluster/app/kustomization.yaml
Due: kustomize-build, kubectl-dry-run

migrate homer to k8s
  .memory-bank/docker-to-k8s-migration.md
  CLAUDE.md
  kubernetes/apps/default/homer/app/config/config.yml
  kubernetes/apps/default/homer/app/helmrelease.yaml
  kubernetes/apps/default/homer/app/icons/apc.png
  kubernetes/apps/default/homer/app/icons/att.png
  kubernetes/apps/default/homer/app/icons/borgbase.png
  kubernetes/apps/default/homer/app/icons/nami.png
  kubernetes/apps/default/homer/app/icons/sprinkler.png
  kubernetes/apps/default/homer/app/kustomization.yaml
  kubernetes/apps/default/homer/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  scripts/CLAUDE.md
  scripts/app-scout.sh
Due: kustomize-build, kubectl-dry-run

optimize memory bank
  .memory-bank/docker-to-k8s-migration.md
Due: none

migrate gateway from cilium to envoy
  .memory-bank/docker-to-k8s-migration.md
  .pre-commit-config.yaml
  MIGRATION.md
  README.md
  TODO.md
  kubernetes/apps/default/authentik/app/httproute.yaml
  kubernetes/apps/default/echo/app/helmrelease.yaml
  kubernetes/apps/default/homer/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/resources/config.yaml
  kubernetes/apps/network/envoy-gateway/app/certificate.yaml
  kubernetes/apps/network/envoy-gateway/app/external-gateway-service.yaml
  kubernetes/apps/network/envoy-gateway/app/external.yaml
  kubernetes/apps/network/envoy-gateway/app/gatewayclass.yaml
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/internal.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/rook-ceph/cluster/app/httproute.yaml
  scripts/app-scout/README.md
  scripts/validate-sops-k8s.sh
Due: kustomize-build, kubectl-dry-run

migrate qbittorrent to k8s
  .memory-bank/docker-to-k8s-migration.md
  CLAUDE.md
  kubernetes/apps/default/qbittorrent/app/dnsdist-configmap.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/httproute.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/pvc.yaml
  kubernetes/apps/default/qbittorrent/app/securitypolicy.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/qbittorrent/secrets/kustomization.yaml
  kubernetes/apps/default/qbittorrent/secrets/secret.sops.yaml
  kubernetes/apps/nfs/persistentvolumes.yaml
Due: kustomize-build, kubectl-dry-run

migrate gateway from cilium to envoy
  kubernetes/apps/default/authentik/app/httproute.yaml
  kubernetes/apps/default/echo/app/helmrelease.yaml
  kubernetes/apps/default/homer/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/network/envoy-gateway/app/certificate.yaml
  kubernetes/apps/network/envoy-gateway/app/external-gateway-service.yaml
  kubernetes/apps/network/envoy-gateway/app/external.yaml
  kubernetes/apps/network/envoy-gateway/app/gatewayclass.yaml
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/internal.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/rook-ceph/cluster/app/httproute.yaml
Due: kustomize-build, kubectl-dry-run

feat(apps): add qbittorrent application
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/httproute.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/pvc.yaml
  kubernetes/apps/default/qbittorrent/app/securitypolicy.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/qbittorrent/secrets/kustomization.yaml
  kubernetes/apps/default/qbittorrent/secrets/secret.sops.yaml
Due: kustomize-build, kubectl-dry-run

feat(ci): enhance pre-commit validation framework
  .pre-commit-config.yaml
  scripts/pre-commit/check-dependencies.sh
  scripts/pre-commit/kustomize-build-check.sh
  scripts/pre-commit/validate-sops-config.sh
  scripts/pre-commit/validate-sops-k8s.sh
Due: none

feat(tooling): streamline development dependencies
  .mise.toml
  CONTRIBUTING.md
  README.md
Due: none

docs: update project documentation and memory bank
  .memory-bank/docker-to-k8s-migration.md
  CLAUDE.md
  MIGRATION.md
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/network/cloudflare-tunnel/app/resources/config.yaml
  kubernetes/apps/nfs/persistentvolumes.yaml
  scripts/CLAUDE.md
  scripts/app-scout/README.md
Due: kustomize-build, kubectl-dry-run

license: switch names
  LICENSE
Due: none

update CLAUDE.md
  CLAUDE.md
Due: none

update memory bank
  .memory-bank/docker-to-k8s-migration.md
Due: none

update claude settings permissions
  .claude/settings.json
Due: none

set better memory limits for pods
  kubernetes/apps/default/authentik/app/helmrelease.yaml
  kubernetes/apps/default/echo/app/helmrelease.yaml
  kubernetes/apps/default/homer/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Due: kustomize-build, kubectl-dry-run
