Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

docs: Add controller naming convention to CLAUDE.md
  CLAUDE.md
Due: none

feat(volsync): Add automated kopia repository maintenance
  kubernetes/apps/storage/kopia/helmrelease.yaml
  kubernetes/apps/storage/volsync/externalsecret.yaml
  kubernetes/apps/storage/volsync/kopiamaintenance.yaml
  kubernetes/apps/storage/volsync/kustomization.yaml
  kubernetes/apps/storage/volsync/mutatingadmissionpolicy.yaml
  scripts/kopia.sh
Due: vector-vrl-validator

fix(kopia): Resolve probe timeouts and enable maintenance cycles
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

fix(radarr): Exclude ASP.NET keys from volsync kopia backup
  kubernetes/apps/media/radarr/config/.kopiaignore
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/radarr/kustomization.yaml
Due: vector-vrl-validator

fix(kopia): Add global ignore policy for volsync backups
  kubernetes/apps/storage/kopia/config/.kopiaignore
  kubernetes/apps/storage/kopia/helmrelease.yaml
  kubernetes/apps/storage/kopia/kustomization.yaml
Due: vector-vrl-validator

feat: Add kubernetes taskfile with utility commands
  .taskfiles/kubernetes/Taskfile.yaml
  Taskfile.yaml
Due: none

fix(kometa): Extend job TTL to 6 hours to match schedule interval
  kubernetes/apps/media/kometa/helmrelease.yaml
Due: vector-vrl-validator

fix(kometa): Reduce log verbosity to prevent truncation
  kubernetes/apps/media/kometa/helmrelease.yaml
Due: vector-vrl-validator

fix(kometa): Mount collection/metadata config files correctly
  kubernetes/apps/media/kometa/config/config.yml
  kubernetes/apps/media/kometa/config/kids-anime.yml
  kubernetes/apps/media/kometa/config/kids-movies.yml
  kubernetes/apps/media/kometa/config/monogatari.yml
  kubernetes/apps/media/kometa/config/movies.yml
  kubernetes/apps/media/kometa/helmrelease.yaml
  kubernetes/apps/media/kometa/kustomization.yaml
Due: vector-vrl-validator

feat(qbittorrent): Upgrade gluetun to v3.41.0
  kubernetes/apps/media/qbittorrent/externalsecret.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: vector-vrl-validator

fix(victoria-metrics): Increase vmalert config-reloader memory limit
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
Due: vector-vrl-validator

fix(alerting): Replace predict_linear disk alert with thresholds
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmrule.yaml
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
Due: vector-vrl-validator

fix(bookstack): Remove CPU limit to eliminate throttling
  kubernetes/apps/default/bookstack/helmrelease.yaml
Due: vector-vrl-validator

feat(scripts): Filter expected alerts from vmalert-query output
  scripts/vmalert-query.py
Due: none

refactor(scripts): Standardize script naming to action-subject pattern
  .claude/commands/fix-alert.md
  .claude/commands/renovate-upgrade.md
  CLAUDE.md
  docs/runbooks/ceph-osd-operations.md
  scripts/query-vmalert.py
  scripts/test-flux-local.sh
Due: none

refactor(scripts): Unify VM query scripts into query-vm.py
  .claude/commands/fix-alert.md
  CLAUDE.md
  scripts/query-container-metrics.py
  scripts/query-vm.py
  scripts/query-vmalert.py
Due: none

fix(homepage): Correct immich service URL
  kubernetes/apps/default/homepage/config/services.yaml
Due: vector-vrl-validator

fix(qbittorrent): Enable gluetun firewall with correct cluster CIDRs
  docs/adr/001-gluetun-firewall-kubernetes.md
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: vector-vrl-validator

feat(qui): Add qui qBittorrent web UI
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/qui/externalsecret.yaml
  kubernetes/apps/media/qui/helmrelease.yaml
  kubernetes/apps/media/qui/ks.yaml
  kubernetes/apps/media/qui/kustomization.yaml
  kubernetes/apps/media/qui/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

refactor(scripts): migrate utility scripts to Claude Code skills
  .claude/commands/fix-alert.md
  .claude/skills/discovering-apps/SKILL.md
  .claude/skills/discovering-apps/scripts/app-scout.sh
  .claude/skills/discovering-apps/scripts/app-scout/.gitignore
  .claude/skills/discovering-apps/scripts/app-scout/README.md
  .claude/skills/discovering-apps/scripts/app-scout/app-scout.py
  .claude/skills/discovering-apps/scripts/app-scout/requirements.txt
  .claude/skills/managing-ceph/SKILL.md
  .claude/skills/managing-ceph/scripts/ceph.sh
  .claude/skills/querying-metrics/SKILL.md
  .claude/skills/querying-metrics/scripts/query-victorialogs.py
  .claude/skills/querying-metrics/scripts/query-vm.py
  .claude/skills/validating-observability/SKILL.md
  .claude/skills/validating-observability/scripts/.gitignore
  .claude/skills/validating-observability/scripts/test-vector/.gitignore
  .claude/skills/validating-observability/scripts/test-vector/docker-compose.yaml
  .claude/skills/validating-observability/scripts/test-vector/test-vector.sh
  .claude/skills/validating-observability/scripts/test-vector/vector-sinks.yaml
  .claude/skills/validating-observability/scripts/test-vector/vector-sources.yaml
  .claude/skills/validating-observability/scripts/validate-vmrules.sh
  CLAUDE.md
Due: none

fixup! refactor(scripts): migrate utility scripts to Claude Code skills
  .claude/commands/fix-alert.md
  .claude/skills/discovering-apps/scripts/app-scout/README.md
  .claude/skills/managing-ceph/SKILL.md
  .claude/skills/querying-metrics/scripts/query-victorialogs.py
  .claude/skills/validating-observability/scripts/validate-vmrules.sh
  docs/runbooks/ceph-osd-operations.md
Due: none

chore: add ruff to pre-commit
  .pre-commit-config.yaml
Due: none

chore: add ruff to mise tools
  .mise.toml
Due: none

refactor(scripts): Unify query-vm.py time range handling
  .claude/commands/fix-alert.md
  CLAUDE.md
  scripts/query-vm.py
Due: none

docs: Add diagnostic PromQL recipes to query-vm reference
  CLAUDE.md
Due: none

refactor(sabnzbd): Simplify health probe configuration
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: vector-vrl-validator

docs: Simplify health probe guidelines in CLAUDE.md
  CLAUDE.md
Due: none

fix(sabnzbd): Tune liveness probe for I/O-heavy operations
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: vector-vrl-validator

refactor(talos): Migrate config to Talos 1.12 conventions
  talos/patches/controller/admission-controller-patch.yaml
  talos/patches/controller/cluster.yaml
  talos/patches/controller/etcd-config.yaml
  talos/patches/global/machine-intel-gpu.yaml
  talos/patches/global/machine-network.yaml
  talos/patches/global/machine-time.yaml
  talos/patches/global/resolvers.yaml
  talos/patches/global/time-sync.yaml
  talos/talconfig.yaml
Due: none

docs: Add README with setup and disaster recovery steps
  README.md
Due: none

chore: Add helmfile to mise tools
  .mise.toml
Due: none

chore: Remove github-deploy-key references
  .gitignore
  scripts/bootstrap-apps.sh
  scripts/update-gitignore/custom/01-secrets.gitignore
Due: none

fix(immich): Correct Garage S3 endpoint for WAL archiving
  kubernetes/apps/default/immich/postgres-cluster.yaml
Due: vector-vrl-validator

fix(qui): switch to official v1.12.0 release
  kubernetes/apps/media/qui/helmrelease.yaml
Due: vector-vrl-validator

fix: add more frequent probing for nfs-scaler
  kubernetes/apps/observability/blackbox-exporter/probe.yaml
  kubernetes/components/nfs-scaler/scaledobject.yaml
Due: vector-vrl-validator

wip: garage s3 operator
  CLAUDE.md
  kubernetes/apps/default/garage-test/job.yaml
  kubernetes/apps/default/garage-test/ks.yaml
  kubernetes/apps/default/garage-test/kustomization.yaml
  kubernetes/apps/default/garage-test/s3.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/storage/garage-instance/externalsecret.yaml
  kubernetes/apps/storage/garage-instance/garages3instance.yaml
  kubernetes/apps/storage/garage-instance/ks.yaml
  kubernetes/apps/storage/garage-instance/kustomization.yaml
  kubernetes/apps/storage/garage-operator/ks.yaml
  kubernetes/apps/storage/garage/helmrelease.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/flux/meta/repos/garage-s3-operator.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(garage): Add garage-s3-operator for declarative S3 management
  CLAUDE.md
  kubernetes/apps/default/immich/externalsecret.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/postgres-cluster.yaml
  kubernetes/apps/default/immich/s3.yaml
  kubernetes/apps/storage/garage-instance/externalsecret.yaml
  kubernetes/apps/storage/garage-instance/garages3instance.yaml
  kubernetes/apps/storage/garage-instance/ks.yaml
  kubernetes/apps/storage/garage-instance/kustomization.yaml
  kubernetes/apps/storage/garage-operator/ks.yaml
  kubernetes/apps/storage/garage/helmrelease.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/flux/meta/repos/garage-s3-operator.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(adguard-home): Enable persistent query log storage
  kubernetes/apps/dns-private/adguard-home/data/AdGuardHome.yaml
Due: vector-vrl-validator

docs: adopt MADR-inspired ADR template and restructure decisions
  docs/CLAUDE.md
  docs/adr/001-gluetun-firewall-kubernetes.md
  docs/decisions/001-gluetun-firewall-kubernetes.md
  docs/decisions/002-dns-server-architecture.md
  docs/decisions/TEMPLATE.md
Due: none
