Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

fix(sabnzbd): add namespace to PVC configuration
  kubernetes/apps/media/sabnzbd/pvc.yaml
Due: kustomize-build, yaml-validator

feat(postgres): add automated backup infrastructure for Immich
  kubernetes/apps/default/bookstack/ks.yaml
  kubernetes/apps/default/bookstack/kustomization.yaml
  kubernetes/apps/default/filerun/ks.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/postgres-cluster.yaml
  kubernetes/apps/default/immich/postgres-recovery-example.yaml.disabled
  kubernetes/apps/default/immich/postgres-scheduled-backup.yaml
  kubernetes/apps/default/silverbullet/ks.yaml
  kubernetes/apps/default/silverbullet/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

docs(backup): add comprehensive backup and data protection section
  CLAUDE.md
Due: none

fix(authentik): update service references and domain configuration
  kubernetes/apps/default/authentik/blueprints/outpost-configuration.yaml
  kubernetes/apps/default/authentik/httproute.yaml
  kubernetes/apps/default/homepage/config/services.yaml
Due: kustomize-build, yaml-validator

fix(homepage): update sabnzbd and qbittorrent service monitor URLs to media namespace
  kubernetes/apps/default/homepage/config/services.yaml
Due: kustomize-build, yaml-validator

fix(homepage): update media service monitors to use media namespace
  kubernetes/apps/default/homepage/config/services.yaml
Due: kustomize-build, yaml-validator

feat(media): add Tautulli Plex monitoring application
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/plex/pvc.yaml
  kubernetes/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/media/tautulli/kustomization.yaml
  kubernetes/apps/media/tautulli/pvc.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: Add Prowlarr
  CLAUDE.md
  kubernetes/apps/default/authentik/blueprints/outpost-configuration.yaml
  kubernetes/apps/default/authentik/blueprints/prowlarr-application.yaml
  kubernetes/apps/default/authentik/blueprints/prowlarr-provider.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/prowlarr/kustomization.yaml
  kubernetes/apps/media/prowlarr/pvc.yaml
  kubernetes/apps/media/prowlarr/securitypolicy.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(authentik): add Redis master resource requests and limits
  kubernetes/apps/default/authentik/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat(media): add Sonarr and Sonarr Anime applications
  .claude/commands/migrate-service.md
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/sonarr-anime/helmrelease.yaml
  kubernetes/apps/media/sonarr-anime/ks.yaml
  kubernetes/apps/media/sonarr-anime/kustomization.yaml
  kubernetes/apps/media/sonarr-anime/pvc.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/sonarr/kustomization.yaml
  kubernetes/apps/media/sonarr/pvc.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat(media): increase Plex resource requests
  kubernetes/apps/media/plex/helmrelease.yaml
Due: kustomize-build, yaml-validator

docs(authentik): expand app protection workflow documentation
  CLAUDE.md
Due: none

feat(authentik): add Sonarr application protection
  kubernetes/apps/default/authentik/blueprints/outpost-configuration.yaml
  kubernetes/apps/default/authentik/blueprints/sonarr-anime-application.yaml
  kubernetes/apps/default/authentik/blueprints/sonarr-anime-provider.yaml
  kubernetes/apps/default/authentik/blueprints/sonarr-application.yaml
  kubernetes/apps/default/authentik/blueprints/sonarr-provider.yaml
  kubernetes/apps/default/authentik/kustomization.yaml
  kubernetes/apps/media/sonarr-anime/kustomization.yaml
  kubernetes/apps/media/sonarr-anime/securitypolicy.yaml
  kubernetes/apps/media/sonarr/kustomization.yaml
  kubernetes/apps/media/sonarr/securitypolicy.yaml
Due: kustomize-build, yaml-validator

fix(qbittorrent): update username and password credentials
  kubernetes/apps/media/qbittorrent/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! fix(qbittorrent): update username and password credentials
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

remove qbt user/pass from sops secret
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

fix(authentik): correct qBittorrent provider auth attributes
  kubernetes/apps/default/authentik/blueprints/custom-users.yaml
  kubernetes/apps/default/authentik/blueprints/qbittorrent-provider.yaml
Due: kustomize-build, yaml-validator

fix(tautulli): resolve HelmRelease timeout by fixing container naming
  kubernetes/apps/media/tautulli/helmrelease.yaml
Due: kustomize-build, yaml-validator

feat: migrate silverbullet from SOPS to Infisical
  kubernetes/apps/default/silverbullet/ks.yaml
  kubernetes/apps/default/silverbullet/kustomization.yaml
  kubernetes/apps/default/silverbullet/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

feat: add Infisical secret management infrastructure
  CLAUDE.md
  docs/memory-bank/infisical-migration-plan.md
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/infisical/helmrelease.yaml
  kubernetes/apps/default/infisical/ks.yaml
  kubernetes/apps/default/infisical/kustomization.yaml
  kubernetes/apps/default/infisical/postgres-cluster.yaml
  kubernetes/apps/default/infisical/postgres-scheduled-backup.yaml
  kubernetes/apps/default/infisical/secret.sops.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/infisical-operator/helmrelease.yaml
  kubernetes/apps/kube-system/infisical-operator/ks.yaml
  kubernetes/apps/kube-system/infisical-operator/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/infisical-secrets.sops.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/components/infisical/infisical-secret.yaml
  kubernetes/components/infisical/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

gitignore add .infisical.json
  .gitignore
  scripts/update-gitignore/custom/01-secrets.gitignore
Due: none

docs: add comprehensive Infisical secret management documentation
  CLAUDE.md
  README.md
Due: none

feat: migrate silverbullet from SOPS to Infisical
  kubernetes/apps/default/silverbullet/helmrelease.yaml
  kubernetes/apps/default/silverbullet/ks.yaml
  kubernetes/apps/default/silverbullet/kustomization.yaml
  kubernetes/apps/default/silverbullet/secret.sops.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
