Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

feat: add reloader annotations to apps using secrets
  kubernetes/apps/default/echo/helmrelease.yaml
  kubernetes/apps/default/mcp-memory-service/helmrelease.yaml
Due: kustomize-build, yaml-validator

refactor(github): restructure labeler configuration with hierarchical organization
  .github/labeler.yaml
  .github/workflows/labeler.yaml
  .pre-commit-config.yaml
Due: none

refactor(scripts): replace yaml-validator with reloader-validator
  .yaml-validator.yaml
  scripts/pre-commit/reloader-validator.py
  scripts/pre-commit/yaml-validator/requirements.txt
  scripts/pre-commit/yaml-validator/schema.json
  scripts/pre-commit/yaml-validator/yaml-validator.py
Due: none

refactor: optimize CLAUDE.md for token efficiency and compliance
  CLAUDE.md
Due: none

refactor(github): organize labeler with hierarchical namespace grouping
  .github/labeler.yaml
  .pre-commit-config.yaml
Due: none

ci: update GitHub Actions to explicit version tags
  .github/workflows/flux-local.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
Due: none

refactor: enhance CI validation and replace kustomize with flux-local
  .github/labeler.yaml
  .github/labels.yaml
  .github/release.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pre-commit-hooks.yaml
  .pre-commit-config.yaml
  scripts/CLAUDE.md
  scripts/pre-commit/kustomize-build-check.sh
Due: none

renovate: Disable pinGithubActionDigests
  renovate.json5
Due: none

Remove pre-commit-hooks
  .github/workflows/pre-commit-hooks.yaml
Due: none

fix(cilium): remove empty operator tolerations to fix 1.18.x upgrade
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
  kubernetes/apps/rook-ceph/operator/helmrelease.yaml
Due: kustomize-build, yaml-validator

Use real version number for mcp-memory-service
  kubernetes/apps/default/mcp-memory-service/helmrelease.yaml
Due: kustomize-build, yaml-validator

Update Claude Code permissions and cleanup settings
  .claude/settings.json
Due: none

ci: Add renovate workflow
  .github/workflows/renovate.yaml
  renovate.json5
Due: none

docs: Update memory files for accuracy and completeness
  CLAUDE.md
  scripts/CLAUDE.md
Due: none

Ignore *.sql files
  .gitignore
  scripts/update-gitignore/custom/03-project.gitignore
Due: none

Temporarily disable flux-local pre-commit hook
  .pre-commit-config.yaml
Due: none

refactor: Clean up MCP Kubernetes integration and improve system configuration
  .claude/settings.json
  .mcp.json
  CLAUDE.md
  docs/memory-bank/rook-ceph-fsid-recovery.md
  kubernetes/apps/dns-private/external-dns/ks.yaml
  kubernetes/apps/dns-private/secret/ks.yaml
  kubernetes/apps/rook-ceph/cluster/cephobjectstoreuser-console.yaml
  kubernetes/apps/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/cluster/ks.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/nfs/ks.yaml
  kubernetes/apps/storage/nfs/kustomization.yaml
  kubernetes/apps/storage/nfs/persistentvolumes.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

Remove minio-console include from kustomization
  kubernetes/apps/storage/kustomization.yaml
Due: kustomize-build, yaml-validator

feat: Add CloudNative-PG PostgreSQL operator
  kubernetes/apps/kube-system/cloudnative-pg/helmrelease.yaml
  kubernetes/apps/kube-system/cloudnative-pg/ks.yaml
  kubernetes/apps/kube-system/cloudnative-pg/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Due: kustomize-build, validate-sops-config, yaml-validator

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
