Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config, yaml-validator

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

yaml-validator:
  name: YAML Validator
  entry: scripts/pre-commit/yaml-validator/yaml-validator.py
  language: python
  additional_dependencies:
  - PyYAML>=6.0
  - jsonpath-ng>=1.6.0
  description: Validates Kubernetes manifests against custom rules defined in .yaml-validator.yaml

feat: Add YAML validation and annotation scripts
  scripts/annotate-yaml.py
  scripts/validate-yaml.py
Due: none

wip: add immich
  docs/memory-bank/immich-migration-context.md
  kubernetes/apps/default/immich/configmap.yaml
  kubernetes/apps/default/immich/db-restore-job.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/httproute.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/postgres-cluster.yaml
  kubernetes/apps/default/immich/pvc.yaml
  kubernetes/apps/default/immich/secret.sops.yaml
  kubernetes/apps/default/immich/securitypolicy.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  scripts/pre-commit/validate-sops-config.sh
  scripts/upload-immich-backup.sh
Due: kustomize-build, validate-sops-config, yaml-validator

fixup! wip: add immich
  .pre-commit-config.yaml
  kubernetes/apps/default/immich/db-restore-job.yaml
  scripts/flux-local-test.sh
  scripts/pre-commit/validate-sops-k8s.sh
Due: kustomize-build, yaml-validator

feat: add drift detection component for HelmReleases
  kubernetes/apps/default/kustomization.yaml
  kubernetes/components/drift-detection/kustomization.yaml
Due: kustomize-build, yaml-validator

Add immich
  .pre-commit-config.yaml
  docs/memory-bank/immich-migration-context.md
  kubernetes/apps/default/immich/configmap.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/httproute.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/immich/postgres-cluster.yaml
  kubernetes/apps/default/immich/pvc.yaml
  kubernetes/apps/default/immich/secret.sops.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  scripts/flux-local-test.sh
  scripts/pre-commit/validate-sops-config.sh
  scripts/pre-commit/validate-sops-k8s.sh
  scripts/upload-immich-backup.sh
Due: kustomize-build, validate-sops-config, yaml-validator

Improve flux-local-test script for CI environments
  scripts/flux-local-test.sh
Due: none

docs: Add YAML language server directive requirement
  CLAUDE.md
Due: none

Add schema to drift-detection
  kubernetes/components/drift-detection/kustomization.yaml
Due: kustomize-build, yaml-validator

Immich: Add hardware acceleration for ML
  CLAUDE.md
  kubernetes/apps/default/immich/configmap.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/pvc.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/gpu-device-plugin.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/monitoring.yaml
  kubernetes/flux/meta/repos/intel.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Due: kustomize-build, yaml-validator

ci: Support push triggers for both main and master branches
  .github/workflows/renovate.yaml
Due: none

ci: Update Renovate workflow trigger from issue comments to issue edits
  .github/workflows/renovate.yaml
  renovate.json5
Due: none

renovate: Add Immich package grouping configuration
  renovate.json5
Due: none

ci: Update Renovate workflow trigger from issue comments to issue edits
  .github/workflows/renovate-dashboard.yaml
  .github/workflows/renovate.yaml
  renovate.json5
Due: none

ci: Add pull request closed trigger for Renovate dashboard
  .github/workflows/renovate-dashboard.yaml
Due: none

ci: Fix concurrency group naming in Renovate workflows
  .github/workflows/renovate-dashboard.yaml
  .github/workflows/renovate.yaml
Due: none

ci: Replace workflow_run with repository_dispatch for precise triggering
  .github/workflows/renovate-dashboard.yaml
  .github/workflows/renovate.yaml
Due: none

feat(renovate): add Rook Ceph package grouping and improve commit message format
  renovate.json5
Due: none

feat(renovate): centralize group commitMessageTopic configuration
  renovate.json5
  scripts/test-renovate.sh
Due: none

docs(scripts): consolidate script documentation in main CLAUDE.md
  CLAUDE.md
  scripts/CLAUDE.md
  scripts/upload-immich-backup.sh
Due: none

Refine claude permissions in settings.json
  .claude/settings.json
Due: none

Documentation cleanup
  docs/architecture/dns-architecture.md
  docs/blocky-external-dns-webhook-design.md
  docs/memory-bank/immich-migration-context.md
  docs/memory-bank/rook-ceph-fsid-recovery.md
  docs/pvc-migration-pattern.md
Due: none

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
  yaml-validator: any of: ^kubernetes/.*\.ya?ml$
