Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, kubectl-dry-run-server, validate-sops-config

kustomize-build:
  name: Kustomize Build Check
  entry: scripts/pre-commit/kustomize-build-check.sh
  language: script
  pass_filenames: false
  description: Validates that all kustomizations can build successfully

kubectl-dry-run-server:
  name: Server-Side K8s Validation
  entry: scripts/pre-commit/validate-sops-k8s.sh
  language: script
  description: Server-side validation with SOPS decryption and template variable resolution

validate-sops-config:
  name: SOPS Config Validation
  entry: scripts/pre-commit/validate-sops-config.sh
  language: script
  description: Ensures SOPS secrets have proper decryption configuration in Kustomizations

Add node-feature-discovery for Intel GPU detection
  .memory-bank/intel-gpu-setup.md
  add-gpu-search-result.md
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/nodefeaturerule.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/flux/meta/repos/node-feature-discovery.yaml
  talos/talconfig.yaml
Due: kustomize-build, kubectl-dry-run-server, validate-sops-config

Add Intel GPU device plugin for hardware acceleration
  .memory-bank/intel-gpu-setup.md
  kubernetes/apps/kube-system/intel-gpu-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-plugin/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Due: kustomize-build, kubectl-dry-run-server, validate-sops-config

delete memory bank and update claude.md
  .memory-bank/intel-gpu-setup.md
  CLAUDE.md
Due: none

switch to machine-specific kubeconfig
  .mise.toml
  .taskfiles/bootstrap/Taskfile.yaml
  Taskfile.yaml
  scripts/bootstrap-apps.sh
  talos/talconfig.yaml
Due: none

remove KUBECONFIG from mcp.json
  .mcp.json
Due: none

Enhance pre-commit configuration and add security scanning
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

feat: add MCP Memory Service deployment
  kubernetes/apps/default/mcp-memory-service/app/helmrelease.yaml
  kubernetes/apps/default/mcp-memory-service/app/httproute.yaml
  kubernetes/apps/default/mcp-memory-service/app/kustomization.yaml
  kubernetes/apps/default/mcp-memory-service/app/pvc.yaml
  kubernetes/apps/default/mcp-memory-service/ks.yaml
  memory-bank-custom-instructions.md
Due: kustomize-build, kubectl-dry-run-server, validate-sops-config

feat: add MCP Memory Service deployment
  kubernetes/apps/default/mcp-memory-service/app/helmrelease.yaml
  kubernetes/apps/default/mcp-memory-service/app/httproute.yaml
  kubernetes/apps/default/mcp-memory-service/app/kustomization.yaml
  kubernetes/apps/default/mcp-memory-service/app/pvc.yaml
  kubernetes/apps/default/mcp-memory-service/ks.yaml
Due: kustomize-build, kubectl-dry-run-server, validate-sops-config

wip: technitium
  .claude/settings.json
  .mcp.json
  CLAUDE.md
  docs/memory-bank/dns-architecture-migration.md
  docs/memory-bank/dns-infrastructure-architecture.md
  docs/memory-bank/docker-to-k8s-migration.md
  docs/memory-bank/envoy-gateway-connectivity-debug.md
  kubernetes/apps/default/authentik/app/httproute.yaml
  kubernetes/apps/default/homer/app/config/config.yml
  kubernetes/apps/default/mcp-memory-service/app/helmrelease.yaml
  kubernetes/apps/default/mcp-memory-service/app/httproute.yaml
  kubernetes/apps/default/mcp-memory-service/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/httproute.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/network/dns-gateway/app/kustomization.yaml
  kubernetes/apps/network/dns-gateway/app/service.yaml
  kubernetes/apps/network/dns-gateway/ks.yaml
  kubernetes/apps/network/envoy-gateway/app/external.yaml
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/internal.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/technitium-dns/app/helmrelease.yaml
  kubernetes/apps/network/technitium-dns/app/kustomization.yaml
  kubernetes/apps/network/technitium-dns/app/pvc.yaml
  kubernetes/apps/network/technitium-dns/ks.yaml
  kubernetes/apps/network/technitium-external-dns/app/helmrelease.yaml
  kubernetes/apps/network/technitium-external-dns/app/kustomization.yaml
  kubernetes/apps/network/technitium-external-dns/app/secret.sops.yaml
  kubernetes/apps/network/technitium-external-dns/ks.yaml
Due: kustomize-build, kubectl-dry-run-server, validate-sops-config

fixup! wip: technitium
  docs/memory-bank/dns-architecture-migration.md
  docs/memory-bank/dns-architecture.md
  docs/memory-bank/dns-infrastructure-architecture.md
  docs/memory-bank/envoy-gateway-connectivity-debug.md
  kubernetes/apps/network/technitium-dns/app/helmrelease.yaml
Due: kustomize-build, kubectl-dry-run-server

feat: update DNS architecture and Claude configuration
  .claude/settings.json
  .mcp.json
  .pre-commit-config.yaml
  CLAUDE.md
  add-gpu-search-result.md
  docs/external/technitium/api-docs.md
  docs/memory-bank/dns-architecture.md
  docs/memory-bank/docker-to-k8s-migration.md
  kubernetes/apps/default/authentik/app/httproute.yaml
  kubernetes/apps/default/homer/app/config/config.yml
  kubernetes/apps/default/mcp-memory-service/app/helmrelease.yaml
  kubernetes/apps/default/mcp-memory-service/app/httproute.yaml
  kubernetes/apps/default/mcp-memory-service/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/httproute.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/network/dns-gateway/app/kustomization.yaml
  kubernetes/apps/network/dns-gateway/app/service.yaml
  kubernetes/apps/network/dns-gateway/ks.yaml
  kubernetes/apps/network/envoy-gateway/app/envoyproxy-config.yaml
  kubernetes/apps/network/envoy-gateway/app/external.yaml
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/internal.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/technitium-dns/app/dnsendpoint.yaml
  kubernetes/apps/network/technitium-dns/app/helmrelease.yaml
  kubernetes/apps/network/technitium-dns/app/kustomization.yaml
  kubernetes/apps/network/technitium-dns/app/pvc.yaml
  kubernetes/apps/network/technitium-dns/ks.yaml
  kubernetes/apps/network/technitium-external-dns/app/helmrelease.yaml
  kubernetes/apps/network/technitium-external-dns/app/kustomization.yaml
  kubernetes/apps/network/technitium-external-dns/app/secret.sops.yaml
  kubernetes/apps/network/technitium-external-dns/ks.yaml
Due: kustomize-build, kubectl-dry-run-server, validate-sops-config

docs: update directory structure conventions for flatter app layout
  CLAUDE.md
Due: none

refactor: streamline CLAUDE.md directives for clarity and conciseness
  CLAUDE.md
  scripts/CLAUDE.md
Due: none

docs: add DNS architecture documentation and markdownlint configuration
  .markdownlint-cli2.yaml
  docs/dns-architecture.md
  docs/memory-bank/directory-restructure-migration-plan.md
  docs/memory-bank/dns-architecture.md
Due: none

feat: implement Technitium DNS + NextDNS subnet-based filtering
  .pre-commit-config.yaml
  kubernetes/apps/dns-private/technitium-dns/advancedForwarding.json
  kubernetes/apps/dns-private/technitium-dns/helmrelease.yaml
  kubernetes/apps/dns-private/technitium-dns/ks.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomization.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomizeconfig.yaml
  kubernetes/apps/dns-private/technitium-dns/secret.sops.yaml
  scripts/pre-commit/validate-sops-config.sh
Due: kustomize-build, validate-sops-config

Flux: Add StrictPostBuildSubstitutions=true
  kubernetes/apps/flux-system/flux-instance/helmrelease.yaml
Due: kustomize-build

Remove CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat: standardize reloader and ConfigMap naming patterns
  kubernetes/apps/default/homer/kustomization.yaml
  kubernetes/apps/default/qbittorrent/helmrelease.yaml
  kubernetes/apps/network/cloudflare-dns/shared-values.yaml
  kubernetes/apps/network/cloudflare-tunnel/kustomization.yaml
Due: kustomize-build

docs(claude): Be explicit about --files with pre-commit run
  CLAUDE.md
Due: none

wip: migrate to blocky from technitium
  kubernetes/apps/dns-private/blocky-ui/helmrelease.yaml
  kubernetes/apps/dns-private/blocky-ui/ks.yaml
  kubernetes/apps/dns-private/blocky-ui/kustomization.yaml
  kubernetes/apps/dns-private/blocky/config.yml
  kubernetes/apps/dns-private/blocky/helmrelease.yaml
  kubernetes/apps/dns-private/blocky/ks.yaml
  kubernetes/apps/dns-private/blocky/kustomization.yaml
  kubernetes/apps/dns-private/external-dns/dnsendpoint.yaml
  kubernetes/apps/dns-private/external-dns/shared-values.yaml
  kubernetes/apps/dns-private/technitium-dns/advancedForwarding.json
  kubernetes/apps/dns-private/technitium-dns/kustomization.yaml
  kubernetes/apps/dns-private/technitium-dns/kustomizeconfig.yaml
  kubernetes/apps/dns-private/technitium-dns/pvc.yaml
  kubernetes/apps/dns-private/technitium-dns/secret.sops.yaml
Due: kustomize-build, validate-sops-config

refactor: standardize reloader and ConfigMap naming patterns
  CLAUDE.md
  kubernetes/apps/default/homer/kustomization.yaml
  kubernetes/apps/default/qbittorrent/helmrelease.yaml
  kubernetes/apps/network/cloudflare-dns/shared-values.yaml
  kubernetes/apps/network/cloudflare-tunnel/helmrelease.yaml
  kubernetes/apps/network/cloudflare-tunnel/kustomization.yaml
Due: kustomize-build

Path conditions:
  kustomize-build: any of: ^kubernetes/.*\.ya?ml$
  kubectl-dry-run-server: any of: ^kubernetes/apps/.*/app/.*\.yaml$, but not: (values\.yaml|kustomizeconfig\.yaml)$
  validate-sops-config: any of: ^kubernetes/apps/.*/(ks\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$
