Repository rcdailey/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops-config, reloader-validator, vector-vrl-validator

.pre-commit-config.yaml:

# Pre-commit hooks for Kubernetes manifest validation
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
    name: Merge Conflict Check
  - id: trailing-whitespace
    name: Trim Whitespace
    exclude: '\.sops\.yaml$'
  - id: end-of-file-fixer
    name: Fix End of Files
    exclude: '\.sops\.yaml$'

- repo: local
  hooks:
  - id: check-dependencies
    name: Dependency Check
    entry: scripts/pre-commit/check-dependencies.sh
    language: script
    always_run: true
    pass_filenames: false
    description: Ensures all required tools are available before running other hooks
  # - id: flux-local-test
  #   name: Flux Local Validation
  #   entry: flux-local test --enable-helm --all-namespaces --path kubernetes/flux/cluster
  #   language: python
  #   additional_dependencies: ["flux-local"]
  #   files: '^kubernetes/.*\.ya?ml$'
  #   pass_filenames: false
  #   description: Validates that all Flux manifests can build successfully
  # - id: kubectl-dry-run-server
  #   name: Server-Side K8s Validation
  #   entry: scripts/pre-commit/validate-sops-k8s.sh
  #   language: script
  #   files: '^kubernetes/apps/.*\.yaml$'
  #   exclude: '(values\.yaml|kustomizeconfig\.yaml|.*\.sops\.yaml)$'
  #   description: Server-side validation with SOPS decryption and template variable resolution
  - id: validate-sops-config
    name: SOPS Config Validation
    entry: scripts/pre-commit/validate-sops-config.sh
    language: script
    files: '^kubernetes/apps/.*/(ks\.yaml|.*\.sops\.yaml|secrets/.*\.sops\.yaml|secrets/kustomization\.yaml)$'
    description: Ensures SOPS secrets have proper decryption configuration in Kustomizations
  - id: reloader-validator
    name: Reloader Annotation Validator
    entry: scripts/pre-commit/reloader-validator.py
    language: python
    additional_dependencies: ["PyYAML>=6.0"]
    files: '^kubernetes/apps/.*/ks\.yaml$'
    description: Validates that Kubernetes apps using secrets/configmaps have reloader annotations
  - id: vector-vrl-validator
    name: Vector VRL Validation
    entry: scripts/pre-commit/validate-vector-vrl.sh
    language: script
    files: '^kubernetes/apps/.*/.*\.(yaml|vrl)$'
    description: Validates Vector Remap Language (VRL) configurations in HelmReleases and .vrl files

- repo: https://github.com/google/yamlfmt
  rev: v0.20.0
  hooks:
  - id: yamlfmt
    name: Format YAML with yamlfmt
    description: Formats YAML files with Google's yamlfmt tool
    files: '^kubernetes/.*\.ya?ml$'
    exclude: '(\.sops\.yaml$|kubernetes/apps/default/authelia/config/)'

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint
    name: YAML Lint
    description: Lints YAML files for formatting and syntax issues
    args: [-c=.yamllint.yaml]
    files: '\.ya?ml$'
    exclude: '\.sops\.yaml$'

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks

fix(infisical): Use prod environment for secrets operations
  .taskfiles/infisical/Taskfile.yaml
Due: none

wip
  CLAUDE.md
  kubernetes/apps/default/authelia/config/configuration.yaml
  kubernetes/apps/default/authelia/config/oidc-base.yaml.tmpl
  kubernetes/apps/default/authelia/config/oidc-clients.yaml.tmpl
  kubernetes/apps/default/authelia/externalsecret.yaml
  kubernetes/apps/default/authelia/helmrelease.yaml
  kubernetes/apps/default/authelia/kustomization.yaml
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/lldap/externalsecret.yaml
  kubernetes/apps/default/lldap/helmrelease.yaml
  kubernetes/apps/default/lldap/ks.yaml
  kubernetes/apps/default/lldap/kustomization.yaml
  kubernetes/apps/default/lldap/pvc.yaml
  kubernetes/apps/default/nextcloud/externalsecret.yaml
  kubernetes/apps/default/nextcloud/helmrelease.yaml
  kubernetes/apps/default/nextcloud/httproute.yaml
  kubernetes/apps/default/nextcloud/ks.yaml
  kubernetes/apps/default/nextcloud/kustomization.yaml
  kubernetes/apps/default/nextcloud/notify-push-service.yaml
  kubernetes/apps/default/nextcloud/ocirepository.yaml
  kubernetes/apps/default/nextcloud/postgres-cluster.yaml
  kubernetes/apps/default/nextcloud/postgres-scheduled-backup.yaml
  kubernetes/apps/default/nextcloud/pvc.yaml
  kubernetes/apps/default/nextcloud/volsync-data-secret.yaml
  kubernetes/apps/default/nextcloud/volsync-data.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(filerun): disable filerun
  kubernetes/apps/default/kustomization.yaml
Due: vector-vrl-validator

docs: add timezone directives to CLAUDE.md
  CLAUDE.md
Due: none

feat(pocket-id): replace authelia with pocket-id for SSO
  CLAUDE.md
  kubernetes/apps/default/authelia/config/configuration.yaml
  kubernetes/apps/default/authelia/config/users.yaml
  kubernetes/apps/default/authelia/externalsecret.yaml
  kubernetes/apps/default/authelia/helmrelease.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/authelia/referencegrant.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/pocket-id/externalsecret.yaml
  kubernetes/apps/default/pocket-id/helmrelease.yaml
  kubernetes/apps/default/pocket-id/httproutefilter.yaml
  kubernetes/apps/default/pocket-id/ks.yaml
  kubernetes/apps/default/pocket-id/kustomization.yaml
  kubernetes/apps/default/pocket-id/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

wip: fix opencloud
  docs/troubleshooting/opencloud-authelia-groups-claim-2025-11-16.md
  docs/troubleshooting/opencloud-oidc-configuration-failure-2025-11-01.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/opencloud/config/csp.yaml
  kubernetes/apps/default/opencloud/config/proxy.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
  kubernetes/apps/default/opencloud/ks.yaml
  kubernetes/apps/default/opencloud/kustomization.yaml
  kubernetes/apps/default/opencloud/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(opencloud): add OpenCloud with Pocket-ID OIDC integration
  docs/troubleshooting/opencloud-authelia-groups-claim-2025-11-16.md
  docs/troubleshooting/opencloud-oidc-configuration-failure-2025-11-01.md
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/opencloud/config/csp.yaml
  kubernetes/apps/default/opencloud/config/proxy.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
  kubernetes/apps/default/opencloud/ks.yaml
  kubernetes/apps/default/opencloud/kustomization.yaml
  kubernetes/apps/default/opencloud/pvc.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

feat(opencloud): upgrade to v4.0.0
  kubernetes/apps/default/opencloud/config/csp.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
Due: vector-vrl-validator

fix(homepage): update services config for app changes
  kubernetes/apps/default/homepage/config/services.yaml
Due: vector-vrl-validator

fix(otbr): remove disabled OpenThread Border Router app
  CLAUDE.md
  docs/memory-bank/volsync-backup-rollout.md
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/otbr/helmrelease.yaml
  kubernetes/apps/home/otbr/ks.yaml
  kubernetes/apps/home/otbr/kustomization.yaml
  kubernetes/apps/home/otbr/pvc.yaml
  kubernetes/apps/observability/gatus/resources/config.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(filerun): remove FileRun application
  .renovate/packagePins.json5
  CLAUDE.md
  docs/architecture/backup-strategy.md
  kubernetes/apps/default/filerun/backendtrafficpolicy.yaml
  kubernetes/apps/default/filerun/config/filerun-optimization.ini
  kubernetes/apps/default/filerun/externalsecret.yaml
  kubernetes/apps/default/filerun/helmrelease.yaml
  kubernetes/apps/default/filerun/ks.yaml
  kubernetes/apps/default/filerun/kustomization.yaml
  kubernetes/apps/default/filerun/mariadb.yaml
  kubernetes/apps/default/filerun/pvc.yaml
  kubernetes/apps/default/filerun/user.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/observability/gatus/resources/config.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

docs(CLAUDE.md): Correct app-template service naming convention
  CLAUDE.md
Due: none

feat(keda): Add KEDA autoscaler with NFS availability scaling
  CLAUDE.md
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/immich/kustomization.yaml
  kubernetes/apps/default/opencloud/ks.yaml
  kubernetes/apps/default/opencloud/kustomization.yaml
  kubernetes/apps/kube-system/keda/helmrelease.yaml
  kubernetes/apps/kube-system/keda/ks.yaml
  kubernetes/apps/kube-system/keda/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/plex/kustomization.yaml
  kubernetes/apps/media/prowlarr/kustomization.yaml
  kubernetes/apps/media/qbittorrent/kustomization.yaml
  kubernetes/apps/media/radarr-4k/kustomization.yaml
  kubernetes/apps/media/radarr-anime/kustomization.yaml
  kubernetes/apps/media/radarr/kustomization.yaml
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/media/sonarr-anime/kustomization.yaml
  kubernetes/apps/media/sonarr/kustomization.yaml
  kubernetes/apps/observability/blackbox-exporter/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/apps/observability/blackbox-exporter/kustomization.yaml
  kubernetes/apps/observability/blackbox-exporter/probe.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
  kubernetes/apps/storage/garage/kustomization.yaml
  kubernetes/apps/storage/kopia/ks.yaml
  kubernetes/apps/storage/kopia/kustomization.yaml
  kubernetes/components/nfs-scaler/kustomization.yaml
  kubernetes/components/nfs-scaler/scaledobject.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(nfs-scaler): Reduce detection latency to ~30s worst case
  kubernetes/apps/observability/blackbox-exporter/probe.yaml
  kubernetes/components/nfs-scaler/scaledobject.yaml
Due: vector-vrl-validator

fix(silverbullet): Remove SilverBullet application
  CLAUDE.md
  docs/architecture/backup-strategy.md
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/silverbullet/helmrelease.yaml
  kubernetes/apps/default/silverbullet/ks.yaml
  kubernetes/apps/default/silverbullet/kustomization.yaml
  kubernetes/apps/default/silverbullet/pvc.yaml
  kubernetes/apps/default/silverbullet/securitypolicy.yaml
  kubernetes/apps/observability/gatus/resources/config.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

refactor: Remove Authelia references and migrate to Pocket ID
  .pre-commit-config.yaml
  CLAUDE.md
  docs/memory-bank/volsync-backup-rollout.md
  docs/reference/oidc-oauth-reference.md
  kubernetes/apps/dns-private/adguard-home/data/AdGuardHome.yaml
  kubernetes/apps/dns-private/adguard-home/kustomization.yaml
  kubernetes/apps/dns-private/adguard-home/securitypolicy.yaml
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
  kubernetes/apps/observability/gatus/resources/config.yaml
  scripts/app-scout/README.md
  scripts/app-scout/app-scout.py
  scripts/authelia-hash.sh
Due: vector-vrl-validator

feat(bentopdf): Add client-side PDF toolkit
  kubernetes/apps/default/bentopdf/helmrelease.yaml
  kubernetes/apps/default/bentopdf/ks.yaml
  kubernetes/apps/default/bentopdf/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(opencloud): Configure data gateway URL for TUS uploads
  kubernetes/apps/default/opencloud/helmrelease.yaml
Due: vector-vrl-validator

fix(vmrules): Exclude KEDA HPAs from KubeHpaMaxedOut alert
  kubernetes/apps/observability/victoria-metrics-k8s-stack/helmrelease.yaml
  kubernetes/apps/observability/victoria-metrics-k8s-stack/vmrule.yaml
Due: vector-vrl-validator

feat(bookstack): Add Pocket ID OIDC authentication
  kubernetes/apps/default/bookstack/externalsecret.yaml
  kubernetes/apps/default/bookstack/helmrelease.yaml
Due: vector-vrl-validator

feat(homepage): Reorganize services into tabbed layout
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/default/homepage/config/settings.yaml
Due: vector-vrl-validator

feat(plexanisync): Replace plexanibridge with PlexAniSync CronJob
  CLAUDE.md
  kubernetes/apps/default/homepage/config/services.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/plexanibridge/helmrelease.yaml
  kubernetes/apps/media/plexanibridge/pvc.yaml
  kubernetes/apps/media/plexanisync/externalsecret.yaml
  kubernetes/apps/media/plexanisync/helmrelease.yaml
  kubernetes/apps/media/plexanisync/ks.yaml
  kubernetes/apps/media/plexanisync/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(plex): Remove CPU limit from vector-sidecar
  kubernetes/apps/media/plex/helmrelease.yaml
Due: vector-vrl-validator

fix(plexanisync): Add fixed client identifier to prevent new device spam
  kubernetes/apps/media/plexanisync/helmrelease.yaml
Due: vector-vrl-validator

chore(mise): remove duplicate talos package
  .mise.toml
Due: none

build(deps): Improve Talos package grouping in Renovate
  .renovate/groups.json5
Due: none

fixup! build(deps): Improve Talos package grouping in Renovate
  .renovate/groups.json5
Due: none

feat(k8s): Add volsync backup to unprotected apps and standardize config
  kubernetes/apps/default/opencloud/kustomization.yaml
  kubernetes/apps/home/zwave-js-ui/ks.yaml
  kubernetes/apps/home/zwave-js-ui/kustomization.yaml
  kubernetes/apps/media/bazarr/kustomization.yaml
  kubernetes/apps/media/imagemaid/kustomization.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/jellyseerr/kustomization.yaml
  kubernetes/apps/media/kometa/kustomization.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/plex/kustomization.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/prowlarr/kustomization.yaml
  kubernetes/apps/media/prowlarr/pvc.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/qbittorrent/kustomization.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/media/tautulli/kustomization.yaml
  kubernetes/apps/media/tautulli/pvc.yaml
  kubernetes/apps/storage/garage/ks.yaml
  kubernetes/apps/storage/garage/kustomization.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

fix(kopia): Reduce refresh interval for faster volsync source discovery
  kubernetes/apps/storage/kopia/helmrelease.yaml
Due: vector-vrl-validator

fix(volsync): Add fsGroupChangePolicy to mover security context
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Due: none

refactor(immich): Rename controller to match release for cleaner naming
  kubernetes/apps/default/immich/configmap.yaml
  kubernetes/apps/default/immich/helmrelease.yaml
  kubernetes/apps/default/immich/ks.yaml
Due: validate-sops-config, reloader-validator, vector-vrl-validator

refactor(k8s): Standardize controller naming to match release names
  kubernetes/apps/default/bentopdf/helmrelease.yaml
  kubernetes/apps/default/opencloud/helmrelease.yaml
  kubernetes/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/observability/gatus/helmrelease.yaml
Due: vector-vrl-validator

fix(gatus): Update opencloud service reference after rename
  kubernetes/apps/observability/gatus/resources/config.yaml
Due: vector-vrl-validator
